In [4]:
# init
import sqlite3
import csv

In [55]:
## init db
csv_file = 'colors.csv'

conn = sqlite3.connect('test2.db')
cursor = conn.cursor()


table = ['Customers', 'Categories', 'Employees', 'OrderDetails', 'Orders', 'Products', 'Shippers', 'Suppliers']
# 'INTEGER'
# 'TEXT'
# 'BOOL'
features = {'Customers' : ['CustomerID INTEGER PRIMARY KEY', 'CustomerName TEXT', 'ContactName TEXT', 'Address TEXT', 'City TEXT', 'PostalCode TEXT', 'Country TEXT'],
            'Categories' : ['CategoryID INTEGER PRIMARY KEY', 'CategoryName TEXT','Description TEXT'], 
            'Employees' : ['EmployeeID INTEGER PRIMARY KEY',    'LastName TEXT',    'FirstName TEXT',   'BirthDate TEXT',   'Photo TEXT',   'Notes TEXT'], 
            'OrderDetails' : ['OrderDetailID INTEGER PRIMARY KEY',  'OrderID TEXT', 'ProductID TEXT',   'Quantity INTEGER'], 
            'Orders' : ['OrderID INTEGER PRIMARY KEY',  'CustomerID TEXT',  'EmployeeID TEXT',  'OrderDate TEXT',   'ShipperID TEXT'],
            'Products' : ['ProductID INTEGER PRIMARY KEY',  'ProductName TEXT', 'SupplierID TEXT',  'CategoryID TEXT',  'Unit TEXT',    'Price FLOAT'], 
            'Shippers' : ['ShipperID INTEGER PRIMARY KEY',  'ShipperName TEXT', 'Phone TEXT'], 
            'Suppliers' : ['SupplierID INTEGER PRIMARY KEY',    'SupplierName TEXT',    'ContactName TEXT', 'Address TEXT', 'City TEXT',    'PostalCode TEXT',  'Country TEXT', 'Phone TEXT']}

header = {'Customers' : ['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country'],
            'Categories' : ['CategoryID', 'CategoryName','Description'], 
            'Employees' : ['EmployeeID', 'LastName',  'FirstName',    'BirthDate',    'Photo',    'Notes'], 
            'OrderDetails' : ['OrderDetailID', 'OrderID',    'ProductID',    'Quantity'], 
            'Orders' : ['OrderID', 'CustomerID',   'EmployeeID',   'OrderDate',    'ShipperID'],
            'Products' : ['ProductID', 'ProductName',    'SupplierID',   'CategoryID',   'Unit', 'Price'], 
            'Shippers' : ['ShipperID', 'ShipperName',    'Phone'], 
            'Suppliers' : ['SupplierID', 'SupplierName',  'ContactName',  'Address',  'City', 'PostalCode',   'Country',  'Phone']}


for table_name in table:
    feature_string = ', '.join(features[table_name])
    create_table_sql = f"""
CREATE TABLE IF NOT EXISTS {table_name} (
    {feature_string}
);
"""
    cursor.execute(create_table_sql)

    csv_file = f'rawdata/{table_name}.csv'
    print(table_name)
    with open(csv_file, 'r', newline='', encoding='utf-8') as f:
        reader = csv.reader(f)
        para = ['?' for _ in range(len(header[table_name]))]
        next(reader)  #    .
        for row in reader:
            print(', '.join(header[table_name]))
            print(', '.join(para))
            cursor.execute(f'INSERT INTO {table_name} ({', '.join(header[table_name])}) VALUES ({', '.join(para)})', row)
    conn.commit()

conn.close()

Customers
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country
?, ?, ?, ?, ?, ?, ?
Categories
CategoryID, CategoryName, Description
?, ?, ?
CategoryID, CategoryName, Description
?, ?, ?
CategoryID, CategoryName, Description
?, ?, ?
CategoryID, CategoryName, Description
?, ?, ?
CategoryID, CategoryName, Description
?, ?, ?
CategoryID, CategoryName, Description
?, ?, ?
CategoryID, CategoryName, Description
?, ?, ?
CategoryID, CategoryName, Description
?, ?, ?
Employees
EmployeeID, LastName, FirstName, BirthDate, Photo, Notes
?, ?, ?, ?, ?, ?
EmployeeID, LastName, FirstName, BirthDate, Photo, Notes
?, ?, ?, ?, ?, ?
EmployeeID, LastName, FirstName, BirthDate, Photo, Notes
?, ?, ?, ?, ?, ?
EmployeeID, LastName, FirstName, BirthDate, Photo, Notes
?, ?, ?, ?, ?, ?
EmployeeID, LastName, FirstName, BirthDate, Photo, Notes
?, ?, ?, ?, ?, ?
EmployeeID, LastName, FirstName, BirthDate, Photo, Notes
?, ?, ?, ?, ?, ?
EmployeeID, LastName, FirstName, BirthDate, Photo, Notes
?, ?, ?, ?, ?, ?
EmployeeID, LastName, FirstName, BirthDate, Photo, Notes
?, ?, ?, ?, ?, ?
EmployeeID, LastName, FirstName, BirthDate, Photo, Notes
?, ?, ?, ?, ?, ?
EmployeeID, LastName, FirstName, BirthDate, Photo, Notes
?, ?, ?, ?, ?, ?
OrderDetails
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?
OrderDetailID, OrderID, ProductID, Quantity
?, ?, ?, ?

In [56]:
############### test.db
###############
## init db

# csv_file = 'colors.csv'
# conn = sqlite3.connect('test.db')
# cursor = conn.cursor()
# create_table_sql = """
# CREATE TABLE IF NOT EXISTS data (
#     id INTEGER PRIMARY KEY,
#     name TEXT,
#     rgb INTEGER,
#     is_trans BOOL
# );
# """

# cursor.execute(create_table_sql)

# with open(csv_file, 'r', newline='', encoding='utf-8') as f:
#     reader = csv.reader(f)
#     next(reader)  #    .
#     for row in reader:
#         cursor.execute('INSERT INTO data (id, name, rgb, is_trans) VALUES (?, ?, ?, ?)', row)

# #  
# conn.commit()

# #  
# conn.close()

In [20]:
# connection object  context manager.
conn = sqlite3.connect('test.db')
cur = conn.cursor()
cur.execute('select * from data')
rows = cur.fetchall()

for i in rows:
    print(i)

conn.close()

(0, 'Black', '05131D', 'f')
(1, 'Blue', '0055BF', 'f')
(2, 'Green', 237841, 'f')
(3, 'Dark Turquoise', '008F9B', 'f')
(4, 'Red', 'C91A09', 'f')
(5, 'Dark Pink', 'C870A0', 'f')
(6, 'Brown', 583927, 'f')
(7, 'Light Gray', '9BA19D', 'f')
(8, 'Dark Gray', '6D6E5C', 'f')
(9, 'Light Blue', 'B4D2E3', 'f')
(10, 'Bright Green', '4B9F4A', 'f')
(11, 'Light Turquoise', '55A5AF', 'f')
(12, 'Salmon', 'F2705E', 'f')
(13, 'Pink', 'FC97AC', 'f')
(14, 'Yellow', 'F2CD37', 'f')
(15, 'White', 'FFFFFF', 'f')
(17, 'Light Green', 'C2DAB8', 'f')
(18, 'Light Yellow', 'FBE696', 'f')
(19, 'Tan', 'E4CD9E', 'f')
(20, 'Light Violet', 'C9CAE2', 'f')
(21, 'Glow In Dark Opaque', 'D4D5C9', 'f')
(22, 'Purple', '81007B', 'f')
(23, 'Dark Blue-Violet', '2032B0', 'f')
(25, 'Orange', 'FE8A18', 'f')
(26, 'Magenta', 923978, 'f')
(27, 'Lime', 'BBE90B', 'f')
(28, 'Dark Tan', '958A73', 'f')
(29, 'Bright Pink', 'E4ADC8', 'f')
(30, 'Medium Lavender', 'AC78BA', 'f')
(31, 'Lavender', 'E1D5ED', 'f')
(32, 'Trans-Black IR Lens', '635F52', 't')
(33, 'Trans-Dark Blue', '0020A0', 't')
(34, 'Trans-Green', '84B68D', 't')
(35, 'Trans-Bright Green', 'D9E4A7', 't')
(36, 'Trans-Red', 'C91A09', 't')
(40, 'Trans-Black', '635F52', 't')
(41, 'Trans-Light Blue', 'AEEFEC', 't')
(42, 'Trans-Neon Green', 'F8F184', 't')
(43, 'Trans-Very Lt Blue', 'C1DFF0', 't')
(45, 'Trans-Dark Pink', 'DF6695', 't')
(46, 'Trans-Yellow', 'F5CD2F', 't')
(47, 'Trans-Clear', 'FCFCFC', 't')
(52, 'Trans-Purple', 'A5A5CB', 't')
(54, 'Trans-Neon Yellow', 'DAB000', 't')
(57, 'Trans-Neon Orange', 'FF800D', 't')
(60, 'Chrome Antique Brass', '645A4C', 'f')
(61, 'Chrome Blue', '6C96BF', 'f')
(62, 'Chrome Green', '3CB371', 'f')
(63, 'Chrome Pink', 'AA4D8E', 'f')
(64, 'Chrome Black', '1B2A34', 'f')
(68, 'Very Light Orange', 'F3CF9B', 'f')
(69, 'Light Purple', 'CD6298', 'f')
(70, 'Reddish Brown', '582A12', 'f')
(71, 'Light Bluish Gray', 'A0A5A9', 'f')
(72, 'Dark Bluish Gray', '6C6E68', 'f')
(73, 'Medium Blue', '5A93DB', 'f')
(74, 'Medium Green', '73DCA1', 'f')
(75, 'Speckle Black-Copper', 0, 'f')
(76, 'Speckle DBGray-Silver', '635F61', 'f')
(77, 'Light Pink', 'FECCCF', 'f')
(78, 'Light Flesh', 'F6D7B3', 'f')
(79, 'Milky White', 'FFFFFF', 'f')
(80, 'Metallic Silver', 'A5A9B4', 'f')
(81, 'Metallic Green', '899B5F', 'f')
(82, 'Metallic Gold', 'DBAC34', 'f')
(84, 'Medium Dark Flesh', 'CC702A', 'f')
(85, 'Dark Purple', '3F3691', 'f')
(86, 'Dark Flesh', '7C503A', 'f')
(89, 'Royal Blue', '4C61DB', 'f')
(92, 'Flesh', 'D09168', 'f')
(100, 'Light Salmon', 'FEBABD', 'f')
(110, 'Violet', '4354A3', 'f')
(112, 'Blue-Violet', '6874CA', 'f')
(114, 'Glitter Trans-Dark Pink', 'DF6695', 't')
(115, 'Medium Lime', 'C7D23C', 'f')
(117, 'Glitter Trans-Clear', 'FFFFFF', 't')
(118, 'Aqua', 'B3D7D1', 'f')
(120, 'Light Lime', 'D9E4A7', 'f')
(125, 'Light Orange', 'F9BA61', 'f')
(129, 'Glitter Trans-Purple', 'A5A5CB', 't')
(132, 'Speckle Black-Silver', 0, 'f')
(133, 'Speckle Black-Gold', 0, 'f')
(134, 'Copper', 'AE7A59', 'f')
(135, 'Pearl Light Gray', '9CA3A8', 'f')
(137, 'Metal Blue', '7988A1', 'f')
(142, 'Pearl Light Gold', 'DCBC81', 'f')
(143, 'Trans-Medium Blue', 'CFE2F7', 't')
(148, 'Pearl Dark Gray', 575857, 'f')
(150, 'Pearl Very Light Gray', 'ABADAC', 'f')
(151, 'Very Light Bluish Gray', 'E6E3E0', 'f')
(158, 'Yellowish Green', 'DFEEA5', 'f')
(178, 'Flat Dark Gold', 'B48455', 'f')
(179, 'Flat Silver', 898788, 'f')
(182, 'Trans-Orange', 'F08F1C', 't')
(183, 'Pearl White', 'F2F3F2', 'f')
(191, 'Bright Light Orange', 'F8BB3D', 'f')
(212, 'Bright Light Blue', '9FC3E9', 'f')
(216, 'Rust', 'B31004', 'f')
(226, 'Bright Light Yellow', 'FFF03A', 'f')
(230, 'Trans-Pink', 'E4ADC8', 't')
(232, 'Sky Blue', '7DBFDD', 'f')
(236, 'Trans-Light Purple', '96709F', 't')
(272, 'Dark Blue', '0A3463', 'f')
(288, 'Dark Green', 184632, 'f')
(294, 'Glow In Dark Trans', 'BDC6AD', 't')
(297, 'Pearl Gold', 'AA7F2E', 'f')
(308, 'Dark Brown', 352100, 'f')
(313, 'Maersk Blue', '3592C3', 'f')
(320, 'Dark Red', '720E0F', 'f')
(321, 'Dark Azure', '078BC9', 'f')
(322, 'Medium Azure', '36AEBF', 'f')
(323, 'Light Aqua', 'ADC3C0', 'f')
(326, 'Olive Green', '9B9A5A', 'f')
(334, 'Chrome Gold', 'BBA53D', 'f')
(335, 'Sand Red', 'D67572', 'f')
(351, 'Medium Dark Pink', 'F785B1', 'f')
(366, 'Earth Orange', 'FA9C1C', 'f')
(373, 'Sand Purple', 8.45e+86, 'f')
(378, 'Sand Green', 'A0BCAC', 'f')
(379, 'Sand Blue', '6074A1', 'f')
(383, 'Chrome Silver', 'E0E0E0', 'f')
(450, 'Fabuland Brown', 'B67B50', 'f')
(462, 'Medium Orange', 'FFA70B', 'f')
(484, 'Dark Orange', 'A95500', 'f')
(503, 'Very Light Gray', 'E6E3DA', 'f')
(1000, 'Glow in Dark White', 'D9D9D9', 'f')
(1001, 'Medium Violet', 93910000, 'f')
(1002, 'Glitter Trans-Neon Green', 'C0F500', 't')
(1003, 'Glitter Trans-Light Blue', '68BCC5', 't')
(1004, 'Trans Flame Yellowish Orange', 'FCB76D', 't')
(1005, 'Trans Fire Yellow', 'FBE890', 't')
(1006, 'Trans Light Royal Blue', 'B4D4F7', 't')
(1007, 'Reddish Lilac', inf, 'f')
(9999, '[No Color]', '05131D', 'f')

In [21]:
# with    close   
# with    
with sqlite3.connect('test.db') as conn:
    cur = conn.cursor()
    cur.execute('select * from data')
    rows = cur.fetchall()

    for row in rows:
        print(row)

(0, 'Black', '05131D', 'f')
(1, 'Blue', '0055BF', 'f')
(2, 'Green', 237841, 'f')
(3, 'Dark Turquoise', '008F9B', 'f')
(4, 'Red', 'C91A09', 'f')
(5, 'Dark Pink', 'C870A0', 'f')
(6, 'Brown', 583927, 'f')
(7, 'Light Gray', '9BA19D', 'f')
(8, 'Dark Gray', '6D6E5C', 'f')
(9, 'Light Blue', 'B4D2E3', 'f')
(10, 'Bright Green', '4B9F4A', 'f')
(11, 'Light Turquoise', '55A5AF', 'f')
(12, 'Salmon', 'F2705E', 'f')
(13, 'Pink', 'FC97AC', 'f')
(14, 'Yellow', 'F2CD37', 'f')
(15, 'White', 'FFFFFF', 'f')
(17, 'Light Green', 'C2DAB8', 'f')
(18, 'Light Yellow', 'FBE696', 'f')
(19, 'Tan', 'E4CD9E', 'f')
(20, 'Light Violet', 'C9CAE2', 'f')
(21, 'Glow In Dark Opaque', 'D4D5C9', 'f')
(22, 'Purple', '81007B', 'f')
(23, 'Dark Blue-Violet', '2032B0', 'f')
(25, 'Orange', 'FE8A18', 'f')
(26, 'Magenta', 923978, 'f')
(27, 'Lime', 'BBE90B', 'f')
(28, 'Dark Tan', '958A73', 'f')
(29, 'Bright Pink', 'E4ADC8', 'f')
(30, 'Medium Lavender', 'AC78BA', 'f')
(31, 'Lavender', 'E1D5ED', 'f')
(32, 'Trans-Black IR Lens', '635F52', 't')
(33, 'Trans-Dark Blue', '0020A0', 't')
(34, 'Trans-Green', '84B68D', 't')
(35, 'Trans-Bright Green', 'D9E4A7', 't')
(36, 'Trans-Red', 'C91A09', 't')
(40, 'Trans-Black', '635F52', 't')
(41, 'Trans-Light Blue', 'AEEFEC', 't')
(42, 'Trans-Neon Green', 'F8F184', 't')
(43, 'Trans-Very Lt Blue', 'C1DFF0', 't')
(45, 'Trans-Dark Pink', 'DF6695', 't')
(46, 'Trans-Yellow', 'F5CD2F', 't')
(47, 'Trans-Clear', 'FCFCFC', 't')
(52, 'Trans-Purple', 'A5A5CB', 't')
(54, 'Trans-Neon Yellow', 'DAB000', 't')
(57, 'Trans-Neon Orange', 'FF800D', 't')
(60, 'Chrome Antique Brass', '645A4C', 'f')
(61, 'Chrome Blue', '6C96BF', 'f')
(62, 'Chrome Green', '3CB371', 'f')
(63, 'Chrome Pink', 'AA4D8E', 'f')
(64, 'Chrome Black', '1B2A34', 'f')
(68, 'Very Light Orange', 'F3CF9B', 'f')
(69, 'Light Purple', 'CD6298', 'f')
(70, 'Reddish Brown', '582A12', 'f')
(71, 'Light Bluish Gray', 'A0A5A9', 'f')
(72, 'Dark Bluish Gray', '6C6E68', 'f')
(73, 'Medium Blue', '5A93DB', 'f')
(74, 'Medium Green', '73DCA1', 'f')
(75, 'Speckle Black-Copper', 0, 'f')
(76, 'Speckle DBGray-Silver', '635F61', 'f')
(77, 'Light Pink', 'FECCCF', 'f')
(78, 'Light Flesh', 'F6D7B3', 'f')
(79, 'Milky White', 'FFFFFF', 'f')
(80, 'Metallic Silver', 'A5A9B4', 'f')
(81, 'Metallic Green', '899B5F', 'f')
(82, 'Metallic Gold', 'DBAC34', 'f')
(84, 'Medium Dark Flesh', 'CC702A', 'f')
(85, 'Dark Purple', '3F3691', 'f')
(86, 'Dark Flesh', '7C503A', 'f')
(89, 'Royal Blue', '4C61DB', 'f')
(92, 'Flesh', 'D09168', 'f')
(100, 'Light Salmon', 'FEBABD', 'f')
(110, 'Violet', '4354A3', 'f')
(112, 'Blue-Violet', '6874CA', 'f')
(114, 'Glitter Trans-Dark Pink', 'DF6695', 't')
(115, 'Medium Lime', 'C7D23C', 'f')
(117, 'Glitter Trans-Clear', 'FFFFFF', 't')
(118, 'Aqua', 'B3D7D1', 'f')
(120, 'Light Lime', 'D9E4A7', 'f')
(125, 'Light Orange', 'F9BA61', 'f')
(129, 'Glitter Trans-Purple', 'A5A5CB', 't')
(132, 'Speckle Black-Silver', 0, 'f')
(133, 'Speckle Black-Gold', 0, 'f')
(134, 'Copper', 'AE7A59', 'f')
(135, 'Pearl Light Gray', '9CA3A8', 'f')
(137, 'Metal Blue', '7988A1', 'f')
(142, 'Pearl Light Gold', 'DCBC81', 'f')
(143, 'Trans-Medium Blue', 'CFE2F7', 't')
(148, 'Pearl Dark Gray', 575857, 'f')
(150, 'Pearl Very Light Gray', 'ABADAC', 'f')
(151, 'Very Light Bluish Gray', 'E6E3E0', 'f')
(158, 'Yellowish Green', 'DFEEA5', 'f')
(178, 'Flat Dark Gold', 'B48455', 'f')
(179, 'Flat Silver', 898788, 'f')
(182, 'Trans-Orange', 'F08F1C', 't')
(183, 'Pearl White', 'F2F3F2', 'f')
(191, 'Bright Light Orange', 'F8BB3D', 'f')
(212, 'Bright Light Blue', '9FC3E9', 'f')
(216, 'Rust', 'B31004', 'f')
(226, 'Bright Light Yellow', 'FFF03A', 'f')
(230, 'Trans-Pink', 'E4ADC8', 't')
(232, 'Sky Blue', '7DBFDD', 'f')
(236, 'Trans-Light Purple', '96709F', 't')
(272, 'Dark Blue', '0A3463', 'f')
(288, 'Dark Green', 184632, 'f')
(294, 'Glow In Dark Trans', 'BDC6AD', 't')
(297, 'Pearl Gold', 'AA7F2E', 'f')
(308, 'Dark Brown', 352100, 'f')
(313, 'Maersk Blue', '3592C3', 'f')
(320, 'Dark Red', '720E0F', 'f')
(321, 'Dark Azure', '078BC9', 'f')
(322, 'Medium Azure', '36AEBF', 'f')
(323, 'Light Aqua', 'ADC3C0', 'f')
(326, 'Olive Green', '9B9A5A', 'f')
(334, 'Chrome Gold', 'BBA53D', 'f')
(335, 'Sand Red', 'D67572', 'f')
(351, 'Medium Dark Pink', 'F785B1', 'f')
(366, 'Earth Orange', 'FA9C1C', 'f')
(373, 'Sand Purple', 8.45e+86, 'f')
(378, 'Sand Green', 'A0BCAC', 'f')
(379, 'Sand Blue', '6074A1', 'f')
(383, 'Chrome Silver', 'E0E0E0', 'f')
(450, 'Fabuland Brown', 'B67B50', 'f')
(462, 'Medium Orange', 'FFA70B', 'f')
(484, 'Dark Orange', 'A95500', 'f')
(503, 'Very Light Gray', 'E6E3DA', 'f')
(1000, 'Glow in Dark White', 'D9D9D9', 'f')
(1001, 'Medium Violet', 93910000, 'f')
(1002, 'Glitter Trans-Neon Green', 'C0F500', 't')
(1003, 'Glitter Trans-Light Blue', '68BCC5', 't')
(1004, 'Trans Flame Yellowish Orange', 'FCB76D', 't')
(1005, 'Trans Fire Yellow', 'FBE890', 't')
(1006, 'Trans Light Royal Blue', 'B4D4F7', 't')
(1007, 'Reddish Lilac', inf, 'f')
(9999, '[No Color]', '05131D', 'f')

In [22]:
# to make the code reusable
# can define a function

def get_task_by_id(id):
    try:
        with sqlite3.connect('test.db') as conn:
            cur = conn.cursor()
            cur.execute('select * from data where id =?', (id,))
            row = cur.fetchone()
            if row:
                print(row)
                #return row
    except sqlite3.Error as e:
        print('error')
        print(e)

get_task_by_id(10)

(10, 'Bright Green', '4B9F4A', 'f')

# Tutorial

* Example
```sql
SELECT * FROM _data;
```

In [23]:
with sqlite3.connect('test.db') as conn:
    cur = conn.cursor()
    cur.execute('select * from data')
    rows = cur.fetchall()

    for row in rows:
        print(row)

(0, 'Black', '05131D', 'f')
(1, 'Blue', '0055BF', 'f')
(2, 'Green', 237841, 'f')
(3, 'Dark Turquoise', '008F9B', 'f')
(4, 'Red', 'C91A09', 'f')
(5, 'Dark Pink', 'C870A0', 'f')
(6, 'Brown', 583927, 'f')
(7, 'Light Gray', '9BA19D', 'f')
(8, 'Dark Gray', '6D6E5C', 'f')
(9, 'Light Blue', 'B4D2E3', 'f')
(10, 'Bright Green', '4B9F4A', 'f')
(11, 'Light Turquoise', '55A5AF', 'f')
(12, 'Salmon', 'F2705E', 'f')
(13, 'Pink', 'FC97AC', 'f')
(14, 'Yellow', 'F2CD37', 'f')
(15, 'White', 'FFFFFF', 'f')
(17, 'Light Green', 'C2DAB8', 'f')
(18, 'Light Yellow', 'FBE696', 'f')
(19, 'Tan', 'E4CD9E', 'f')
(20, 'Light Violet', 'C9CAE2', 'f')
(21, 'Glow In Dark Opaque', 'D4D5C9', 'f')
(22, 'Purple', '81007B', 'f')
(23, 'Dark Blue-Violet', '2032B0', 'f')
(25, 'Orange', 'FE8A18', 'f')
(26, 'Magenta', 923978, 'f')
(27, 'Lime', 'BBE90B', 'f')
(28, 'Dark Tan', '958A73', 'f')
(29, 'Bright Pink', 'E4ADC8', 'f')
(30, 'Medium Lavender', 'AC78BA', 'f')
(31, 'Lavender', 'E1D5ED', 'f')
(32, 'Trans-Black IR Lens', '635F52', 't')
(33, 'Trans-Dark Blue', '0020A0', 't')
(34, 'Trans-Green', '84B68D', 't')
(35, 'Trans-Bright Green', 'D9E4A7', 't')
(36, 'Trans-Red', 'C91A09', 't')
(40, 'Trans-Black', '635F52', 't')
(41, 'Trans-Light Blue', 'AEEFEC', 't')
(42, 'Trans-Neon Green', 'F8F184', 't')
(43, 'Trans-Very Lt Blue', 'C1DFF0', 't')
(45, 'Trans-Dark Pink', 'DF6695', 't')
(46, 'Trans-Yellow', 'F5CD2F', 't')
(47, 'Trans-Clear', 'FCFCFC', 't')
(52, 'Trans-Purple', 'A5A5CB', 't')
(54, 'Trans-Neon Yellow', 'DAB000', 't')
(57, 'Trans-Neon Orange', 'FF800D', 't')
(60, 'Chrome Antique Brass', '645A4C', 'f')
(61, 'Chrome Blue', '6C96BF', 'f')
(62, 'Chrome Green', '3CB371', 'f')
(63, 'Chrome Pink', 'AA4D8E', 'f')
(64, 'Chrome Black', '1B2A34', 'f')
(68, 'Very Light Orange', 'F3CF9B', 'f')
(69, 'Light Purple', 'CD6298', 'f')
(70, 'Reddish Brown', '582A12', 'f')
(71, 'Light Bluish Gray', 'A0A5A9', 'f')
(72, 'Dark Bluish Gray', '6C6E68', 'f')
(73, 'Medium Blue', '5A93DB', 'f')
(74, 'Medium Green', '73DCA1', 'f')
(75, 'Speckle Black-Copper', 0, 'f')
(76, 'Speckle DBGray-Silver', '635F61', 'f')
(77, 'Light Pink', 'FECCCF', 'f')
(78, 'Light Flesh', 'F6D7B3', 'f')
(79, 'Milky White', 'FFFFFF', 'f')
(80, 'Metallic Silver', 'A5A9B4', 'f')
(81, 'Metallic Green', '899B5F', 'f')
(82, 'Metallic Gold', 'DBAC34', 'f')
(84, 'Medium Dark Flesh', 'CC702A', 'f')
(85, 'Dark Purple', '3F3691', 'f')
(86, 'Dark Flesh', '7C503A', 'f')
(89, 'Royal Blue', '4C61DB', 'f')
(92, 'Flesh', 'D09168', 'f')
(100, 'Light Salmon', 'FEBABD', 'f')
(110, 'Violet', '4354A3', 'f')
(112, 'Blue-Violet', '6874CA', 'f')
(114, 'Glitter Trans-Dark Pink', 'DF6695', 't')
(115, 'Medium Lime', 'C7D23C', 'f')
(117, 'Glitter Trans-Clear', 'FFFFFF', 't')
(118, 'Aqua', 'B3D7D1', 'f')
(120, 'Light Lime', 'D9E4A7', 'f')
(125, 'Light Orange', 'F9BA61', 'f')
(129, 'Glitter Trans-Purple', 'A5A5CB', 't')
(132, 'Speckle Black-Silver', 0, 'f')
(133, 'Speckle Black-Gold', 0, 'f')
(134, 'Copper', 'AE7A59', 'f')
(135, 'Pearl Light Gray', '9CA3A8', 'f')
(137, 'Metal Blue', '7988A1', 'f')
(142, 'Pearl Light Gold', 'DCBC81', 'f')
(143, 'Trans-Medium Blue', 'CFE2F7', 't')
(148, 'Pearl Dark Gray', 575857, 'f')
(150, 'Pearl Very Light Gray', 'ABADAC', 'f')
(151, 'Very Light Bluish Gray', 'E6E3E0', 'f')
(158, 'Yellowish Green', 'DFEEA5', 'f')
(178, 'Flat Dark Gold', 'B48455', 'f')
(179, 'Flat Silver', 898788, 'f')
(182, 'Trans-Orange', 'F08F1C', 't')
(183, 'Pearl White', 'F2F3F2', 'f')
(191, 'Bright Light Orange', 'F8BB3D', 'f')
(212, 'Bright Light Blue', '9FC3E9', 'f')
(216, 'Rust', 'B31004', 'f')
(226, 'Bright Light Yellow', 'FFF03A', 'f')
(230, 'Trans-Pink', 'E4ADC8', 't')
(232, 'Sky Blue', '7DBFDD', 'f')
(236, 'Trans-Light Purple', '96709F', 't')
(272, 'Dark Blue', '0A3463', 'f')
(288, 'Dark Green', 184632, 'f')
(294, 'Glow In Dark Trans', 'BDC6AD', 't')
(297, 'Pearl Gold', 'AA7F2E', 'f')
(308, 'Dark Brown', 352100, 'f')
(313, 'Maersk Blue', '3592C3', 'f')
(320, 'Dark Red', '720E0F', 'f')
(321, 'Dark Azure', '078BC9', 'f')
(322, 'Medium Azure', '36AEBF', 'f')
(323, 'Light Aqua', 'ADC3C0', 'f')
(326, 'Olive Green', '9B9A5A', 'f')
(334, 'Chrome Gold', 'BBA53D', 'f')
(335, 'Sand Red', 'D67572', 'f')
(351, 'Medium Dark Pink', 'F785B1', 'f')
(366, 'Earth Orange', 'FA9C1C', 'f')
(373, 'Sand Purple', 8.45e+86, 'f')
(378, 'Sand Green', 'A0BCAC', 'f')
(379, 'Sand Blue', '6074A1', 'f')
(383, 'Chrome Silver', 'E0E0E0', 'f')
(450, 'Fabuland Brown', 'B67B50', 'f')
(462, 'Medium Orange', 'FFA70B', 'f')
(484, 'Dark Orange', 'A95500', 'f')
(503, 'Very Light Gray', 'E6E3DA', 'f')
(1000, 'Glow in Dark White', 'D9D9D9', 'f')
(1001, 'Medium Violet', 93910000, 'f')
(1002, 'Glitter Trans-Neon Green', 'C0F500', 't')
(1003, 'Glitter Trans-Light Blue', '68BCC5', 't')
(1004, 'Trans Flame Yellowish Orange', 'FCB76D', 't')
(1005, 'Trans Fire Yellow', 'FBE890', 't')
(1006, 'Trans Light Royal Blue', 'B4D4F7', 't')
(1007, 'Reddish Lilac', inf, 'f')
(9999, '[No Color]', '05131D', 'f')

# Tutorial

* Example
```sql
SELECT DISTINCT * FROM _data;
```

In [24]:
# db : test.db
# table : data
# attribute : id, name, rgb, is_trans
with sqlite3.connect('test.db') as conn:
    cur = conn.cursor()
    cur.execute('SELECT DISTINCT rgb from data')
    rows = cur.fetchall()

    for row in rows:
        print(row)
    print(len(rows))

('05131D',)
('0055BF',)
(237841,)
('008F9B',)
('C91A09',)
('C870A0',)
(583927,)
('9BA19D',)
('6D6E5C',)
('B4D2E3',)
('4B9F4A',)
('55A5AF',)
('F2705E',)
('FC97AC',)
('F2CD37',)
('FFFFFF',)
('C2DAB8',)
('FBE696',)
('E4CD9E',)
('C9CAE2',)
('D4D5C9',)
('81007B',)
('2032B0',)
('FE8A18',)
(923978,)
('BBE90B',)
('958A73',)
('E4ADC8',)
('AC78BA',)
('E1D5ED',)
('635F52',)
('0020A0',)
('84B68D',)
('D9E4A7',)
('AEEFEC',)
('F8F184',)
('C1DFF0',)
('DF6695',)
('F5CD2F',)
('FCFCFC',)
('A5A5CB',)
('DAB000',)
('FF800D',)
('645A4C',)
('6C96BF',)
('3CB371',)
('AA4D8E',)
('1B2A34',)
('F3CF9B',)
('CD6298',)
('582A12',)
('A0A5A9',)
('6C6E68',)
('5A93DB',)
('73DCA1',)
(0,)
('635F61',)
('FECCCF',)
('F6D7B3',)
('A5A9B4',)
('899B5F',)
('DBAC34',)
('CC702A',)
('3F3691',)
('7C503A',)
('4C61DB',)
('D09168',)
('FEBABD',)
('4354A3',)
('6874CA',)
('C7D23C',)
('B3D7D1',)
('F9BA61',)
('AE7A59',)
('9CA3A8',)
('7988A1',)
('DCBC81',)
('CFE2F7',)
(575857,)
('ABADAC',)
('E6E3E0',)
('DFEEA5',)
('B48455',)
(898788,)
('F08F1C',)
('F2F3F2',)
('F8BB3D',)
('9FC3E9',)
('B31004',)
('FFF03A',)
('7DBFDD',)
('96709F',)
('0A3463',)
(184632,)
('BDC6AD',)
('AA7F2E',)
(352100,)
('3592C3',)
('720E0F',)
('078BC9',)
('36AEBF',)
('ADC3C0',)
('9B9A5A',)
('BBA53D',)
('D67572',)
('F785B1',)
('FA9C1C',)
(8.45e+86,)
('A0BCAC',)
('6074A1',)
('E0E0E0',)
('B67B50',)
('FFA70B',)
('A95500',)
('E6E3DA',)
('D9D9D9',)
(93910000,)
('C0F500',)
('68BCC5',)
('FCB76D',)
('FBE890',)
('B4D4F7',)
(inf,)
123

In [25]:
# db : test.db
# table : data
# attribute : id, name, rgb, is_trans
with sqlite3.connect('test.db') as conn:
    cur = conn.cursor()
    cur.execute('SELECT rgb from data')
    rows = cur.fetchall()

    for row in rows:
        print(row)
    print(len(rows))

('05131D',)
('0055BF',)
(237841,)
('008F9B',)
('C91A09',)
('C870A0',)
(583927,)
('9BA19D',)
('6D6E5C',)
('B4D2E3',)
('4B9F4A',)
('55A5AF',)
('F2705E',)
('FC97AC',)
('F2CD37',)
('FFFFFF',)
('C2DAB8',)
('FBE696',)
('E4CD9E',)
('C9CAE2',)
('D4D5C9',)
('81007B',)
('2032B0',)
('FE8A18',)
(923978,)
('BBE90B',)
('958A73',)
('E4ADC8',)
('AC78BA',)
('E1D5ED',)
('635F52',)
('0020A0',)
('84B68D',)
('D9E4A7',)
('C91A09',)
('635F52',)
('AEEFEC',)
('F8F184',)
('C1DFF0',)
('DF6695',)
('F5CD2F',)
('FCFCFC',)
('A5A5CB',)
('DAB000',)
('FF800D',)
('645A4C',)
('6C96BF',)
('3CB371',)
('AA4D8E',)
('1B2A34',)
('F3CF9B',)
('CD6298',)
('582A12',)
('A0A5A9',)
('6C6E68',)
('5A93DB',)
('73DCA1',)
(0,)
('635F61',)
('FECCCF',)
('F6D7B3',)
('FFFFFF',)
('A5A9B4',)
('899B5F',)
('DBAC34',)
('CC702A',)
('3F3691',)
('7C503A',)
('4C61DB',)
('D09168',)
('FEBABD',)
('4354A3',)
('6874CA',)
('DF6695',)
('C7D23C',)
('FFFFFF',)
('B3D7D1',)
('D9E4A7',)
('F9BA61',)
('A5A5CB',)
(0,)
(0,)
('AE7A59',)
('9CA3A8',)
('7988A1',)
('DCBC81',)
('CFE2F7',)
(575857,)
('ABADAC',)
('E6E3E0',)
('DFEEA5',)
('B48455',)
(898788,)
('F08F1C',)
('F2F3F2',)
('F8BB3D',)
('9FC3E9',)
('B31004',)
('FFF03A',)
('E4ADC8',)
('7DBFDD',)
('96709F',)
('0A3463',)
(184632,)
('BDC6AD',)
('AA7F2E',)
(352100,)
('3592C3',)
('720E0F',)
('078BC9',)
('36AEBF',)
('ADC3C0',)
('9B9A5A',)
('BBA53D',)
('D67572',)
('F785B1',)
('FA9C1C',)
(8.45e+86,)
('A0BCAC',)
('6074A1',)
('E0E0E0',)
('B67B50',)
('FFA70B',)
('A95500',)
('E6E3DA',)
('D9D9D9',)
(93910000,)
('C0F500',)
('68BCC5',)
('FCB76D',)
('FBE890',)
('B4D4F7',)
(inf,)
('05131D',)
134

* Example
```sql
SELECT COUNT(DISTINCT Country) FROM Customers;


SELECT Count(*) AS DistinctCountries
FROM (SELECT DISTINCT Country FROM Customers);
```

In [26]:
with sqlite3.connect('test.db') as conn:
    cur = conn.cursor()
    cur.execute('SELECT COUNT(DISTINCT rgb) FROM data;')
    rows = cur.fetchall()

    for row in rows:
        print(row)

(123,)

In [27]:
with sqlite3.connect('test.db') as conn:
    cur = conn.cursor()
    cur.execute('SELECT Count(*) AS DistinctRgb \
                FROM (SELECT DISTINCT rgb FROM data);')
    rows = cur.fetchall()

    for row in rows:
        print(row)

(123,)

* Example
```sql
SELECT * FROM Customers
WHERE Country='Mexico';
```

In [28]:
with sqlite3.connect('test.db') as conn:
    cur = conn.cursor()
    cur.execute("SELECT * FROM data \
                WHERE rgb='000000';")
    rows = cur.fetchall()

    for row in rows:
        print(row)

(75, 'Speckle Black-Copper', 0, 'f')
(132, 'Speckle Black-Silver', 0, 'f')
(133, 'Speckle Black-Gold', 0, 'f')

* Example
```sql
SELECT * FROM Customers
WHERE CustomerID=1;
```

In [29]:
with sqlite3.connect('test.db') as conn:
    cur = conn.cursor()
    cur.execute("SELECT * FROM data \
                WHERE id=2;")
    rows = cur.fetchall()

    for row in rows:
        print(row)

(2, 'Green', 237841, 'f')

* Example
```sql
SELECT * FROM Customers
WHERE CustomerID > 80;
```

In [30]:
with sqlite3.connect('test.db') as conn:
    cur = conn.cursor()
    cur.execute("SELECT * FROM data \
                WHERE id > 500;")
    rows = cur.fetchall()

    for row in rows:
        print(row)

(503, 'Very Light Gray', 'E6E3DA', 'f')
(1000, 'Glow in Dark White', 'D9D9D9', 'f')
(1001, 'Medium Violet', 93910000, 'f')
(1002, 'Glitter Trans-Neon Green', 'C0F500', 't')
(1003, 'Glitter Trans-Light Blue', '68BCC5', 't')
(1004, 'Trans Flame Yellowish Orange', 'FCB76D', 't')
(1005, 'Trans Fire Yellow', 'FBE890', 't')
(1006, 'Trans Light Royal Blue', 'B4D4F7', 't')
(1007, 'Reddish Lilac', inf, 'f')
(9999, '[No Color]', '05131D', 'f')

In [2]:
##          .
def execute_sql(sql_text):
    with sqlite3.connect('test.db') as conn:
        cur = conn.cursor()
        cur.execute(sql_text)
        rows = cur.fetchall()

        for row in rows:
            print(row)

def execute_sql_db(sql_text, db):
    with sqlite3.connect(db) as conn:
        cur = conn.cursor()
        cur.execute(sql_text)
        rows = cur.fetchall()

        for row in rows:
            print(row)

### The ORDER BY keyword is used to sort the result-set in ascending or descending order.
* Example
```sql
SELECT * FROM Products
ORDER BY Price;
```

In [34]:
execute_sql('SELECT * FROM data ORDER BY id;')

(0, 'Black', '05131D', 'f')
(1, 'Blue', '0055BF', 'f')
(2, 'Green', 237841, 'f')
(3, 'Dark Turquoise', '008F9B', 'f')
(4, 'Red', 'C91A09', 'f')
(5, 'Dark Pink', 'C870A0', 'f')
(6, 'Brown', 583927, 'f')
(7, 'Light Gray', '9BA19D', 'f')
(8, 'Dark Gray', '6D6E5C', 'f')
(9, 'Light Blue', 'B4D2E3', 'f')
(10, 'Bright Green', '4B9F4A', 'f')
(11, 'Light Turquoise', '55A5AF', 'f')
(12, 'Salmon', 'F2705E', 'f')
(13, 'Pink', 'FC97AC', 'f')
(14, 'Yellow', 'F2CD37', 'f')
(15, 'White', 'FFFFFF', 'f')
(17, 'Light Green', 'C2DAB8', 'f')
(18, 'Light Yellow', 'FBE696', 'f')
(19, 'Tan', 'E4CD9E', 'f')
(20, 'Light Violet', 'C9CAE2', 'f')
(21, 'Glow In Dark Opaque', 'D4D5C9', 'f')
(22, 'Purple', '81007B', 'f')
(23, 'Dark Blue-Violet', '2032B0', 'f')
(25, 'Orange', 'FE8A18', 'f')
(26, 'Magenta', 923978, 'f')
(27, 'Lime', 'BBE90B', 'f')
(28, 'Dark Tan', '958A73', 'f')
(29, 'Bright Pink', 'E4ADC8', 'f')
(30, 'Medium Lavender', 'AC78BA', 'f')
(31, 'Lavender', 'E1D5ED', 'f')
(32, 'Trans-Black IR Lens', '635F52', 't')
(33, 'Trans-Dark Blue', '0020A0', 't')
(34, 'Trans-Green', '84B68D', 't')
(35, 'Trans-Bright Green', 'D9E4A7', 't')
(36, 'Trans-Red', 'C91A09', 't')
(40, 'Trans-Black', '635F52', 't')
(41, 'Trans-Light Blue', 'AEEFEC', 't')
(42, 'Trans-Neon Green', 'F8F184', 't')
(43, 'Trans-Very Lt Blue', 'C1DFF0', 't')
(45, 'Trans-Dark Pink', 'DF6695', 't')
(46, 'Trans-Yellow', 'F5CD2F', 't')
(47, 'Trans-Clear', 'FCFCFC', 't')
(52, 'Trans-Purple', 'A5A5CB', 't')
(54, 'Trans-Neon Yellow', 'DAB000', 't')
(57, 'Trans-Neon Orange', 'FF800D', 't')
(60, 'Chrome Antique Brass', '645A4C', 'f')
(61, 'Chrome Blue', '6C96BF', 'f')
(62, 'Chrome Green', '3CB371', 'f')
(63, 'Chrome Pink', 'AA4D8E', 'f')
(64, 'Chrome Black', '1B2A34', 'f')
(68, 'Very Light Orange', 'F3CF9B', 'f')
(69, 'Light Purple', 'CD6298', 'f')
(70, 'Reddish Brown', '582A12', 'f')
(71, 'Light Bluish Gray', 'A0A5A9', 'f')
(72, 'Dark Bluish Gray', '6C6E68', 'f')
(73, 'Medium Blue', '5A93DB', 'f')
(74, 'Medium Green', '73DCA1', 'f')
(75, 'Speckle Black-Copper', 0, 'f')
(76, 'Speckle DBGray-Silver', '635F61', 'f')
(77, 'Light Pink', 'FECCCF', 'f')
(78, 'Light Flesh', 'F6D7B3', 'f')
(79, 'Milky White', 'FFFFFF', 'f')
(80, 'Metallic Silver', 'A5A9B4', 'f')
(81, 'Metallic Green', '899B5F', 'f')
(82, 'Metallic Gold', 'DBAC34', 'f')
(84, 'Medium Dark Flesh', 'CC702A', 'f')
(85, 'Dark Purple', '3F3691', 'f')
(86, 'Dark Flesh', '7C503A', 'f')
(89, 'Royal Blue', '4C61DB', 'f')
(92, 'Flesh', 'D09168', 'f')
(100, 'Light Salmon', 'FEBABD', 'f')
(110, 'Violet', '4354A3', 'f')
(112, 'Blue-Violet', '6874CA', 'f')
(114, 'Glitter Trans-Dark Pink', 'DF6695', 't')
(115, 'Medium Lime', 'C7D23C', 'f')
(117, 'Glitter Trans-Clear', 'FFFFFF', 't')
(118, 'Aqua', 'B3D7D1', 'f')
(120, 'Light Lime', 'D9E4A7', 'f')
(125, 'Light Orange', 'F9BA61', 'f')
(129, 'Glitter Trans-Purple', 'A5A5CB', 't')
(132, 'Speckle Black-Silver', 0, 'f')
(133, 'Speckle Black-Gold', 0, 'f')
(134, 'Copper', 'AE7A59', 'f')
(135, 'Pearl Light Gray', '9CA3A8', 'f')
(137, 'Metal Blue', '7988A1', 'f')
(142, 'Pearl Light Gold', 'DCBC81', 'f')
(143, 'Trans-Medium Blue', 'CFE2F7', 't')
(148, 'Pearl Dark Gray', 575857, 'f')
(150, 'Pearl Very Light Gray', 'ABADAC', 'f')
(151, 'Very Light Bluish Gray', 'E6E3E0', 'f')
(158, 'Yellowish Green', 'DFEEA5', 'f')
(178, 'Flat Dark Gold', 'B48455', 'f')
(179, 'Flat Silver', 898788, 'f')
(182, 'Trans-Orange', 'F08F1C', 't')
(183, 'Pearl White', 'F2F3F2', 'f')
(191, 'Bright Light Orange', 'F8BB3D', 'f')
(212, 'Bright Light Blue', '9FC3E9', 'f')
(216, 'Rust', 'B31004', 'f')
(226, 'Bright Light Yellow', 'FFF03A', 'f')
(230, 'Trans-Pink', 'E4ADC8', 't')
(232, 'Sky Blue', '7DBFDD', 'f')
(236, 'Trans-Light Purple', '96709F', 't')
(272, 'Dark Blue', '0A3463', 'f')
(288, 'Dark Green', 184632, 'f')
(294, 'Glow In Dark Trans', 'BDC6AD', 't')
(297, 'Pearl Gold', 'AA7F2E', 'f')
(308, 'Dark Brown', 352100, 'f')
(313, 'Maersk Blue', '3592C3', 'f')
(320, 'Dark Red', '720E0F', 'f')
(321, 'Dark Azure', '078BC9', 'f')
(322, 'Medium Azure', '36AEBF', 'f')
(323, 'Light Aqua', 'ADC3C0', 'f')
(326, 'Olive Green', '9B9A5A', 'f')
(334, 'Chrome Gold', 'BBA53D', 'f')
(335, 'Sand Red', 'D67572', 'f')
(351, 'Medium Dark Pink', 'F785B1', 'f')
(366, 'Earth Orange', 'FA9C1C', 'f')
(373, 'Sand Purple', 8.45e+86, 'f')
(378, 'Sand Green', 'A0BCAC', 'f')
(379, 'Sand Blue', '6074A1', 'f')
(383, 'Chrome Silver', 'E0E0E0', 'f')
(450, 'Fabuland Brown', 'B67B50', 'f')
(462, 'Medium Orange', 'FFA70B', 'f')
(484, 'Dark Orange', 'A95500', 'f')
(503, 'Very Light Gray', 'E6E3DA', 'f')
(1000, 'Glow in Dark White', 'D9D9D9', 'f')
(1001, 'Medium Violet', 93910000, 'f')
(1002, 'Glitter Trans-Neon Green', 'C0F500', 't')
(1003, 'Glitter Trans-Light Blue', '68BCC5', 't')
(1004, 'Trans Flame Yellowish Orange', 'FCB76D', 't')
(1005, 'Trans Fire Yellow', 'FBE890', 't')
(1006, 'Trans Light Royal Blue', 'B4D4F7', 't')
(1007, 'Reddish Lilac', inf, 'f')
(9999, '[No Color]', '05131D', 'f')

* Example
```sql
SELECT * FROM Products
ORDER BY Price DESC;
```

In [35]:
execute_sql('SELECT *\
             FROM data\
             ORDER BY id DESC;')

(9999, '[No Color]', '05131D', 'f')
(1007, 'Reddish Lilac', inf, 'f')
(1006, 'Trans Light Royal Blue', 'B4D4F7', 't')
(1005, 'Trans Fire Yellow', 'FBE890', 't')
(1004, 'Trans Flame Yellowish Orange', 'FCB76D', 't')
(1003, 'Glitter Trans-Light Blue', '68BCC5', 't')
(1002, 'Glitter Trans-Neon Green', 'C0F500', 't')
(1001, 'Medium Violet', 93910000, 'f')
(1000, 'Glow in Dark White', 'D9D9D9', 'f')
(503, 'Very Light Gray', 'E6E3DA', 'f')
(484, 'Dark Orange', 'A95500', 'f')
(462, 'Medium Orange', 'FFA70B', 'f')
(450, 'Fabuland Brown', 'B67B50', 'f')
(383, 'Chrome Silver', 'E0E0E0', 'f')
(379, 'Sand Blue', '6074A1', 'f')
(378, 'Sand Green', 'A0BCAC', 'f')
(373, 'Sand Purple', 8.45e+86, 'f')
(366, 'Earth Orange', 'FA9C1C', 'f')
(351, 'Medium Dark Pink', 'F785B1', 'f')
(335, 'Sand Red', 'D67572', 'f')
(334, 'Chrome Gold', 'BBA53D', 'f')
(326, 'Olive Green', '9B9A5A', 'f')
(323, 'Light Aqua', 'ADC3C0', 'f')
(322, 'Medium Azure', '36AEBF', 'f')
(321, 'Dark Azure', '078BC9', 'f')
(320, 'Dark Red', '720E0F', 'f')
(313, 'Maersk Blue', '3592C3', 'f')
(308, 'Dark Brown', 352100, 'f')
(297, 'Pearl Gold', 'AA7F2E', 'f')
(294, 'Glow In Dark Trans', 'BDC6AD', 't')
(288, 'Dark Green', 184632, 'f')
(272, 'Dark Blue', '0A3463', 'f')
(236, 'Trans-Light Purple', '96709F', 't')
(232, 'Sky Blue', '7DBFDD', 'f')
(230, 'Trans-Pink', 'E4ADC8', 't')
(226, 'Bright Light Yellow', 'FFF03A', 'f')
(216, 'Rust', 'B31004', 'f')
(212, 'Bright Light Blue', '9FC3E9', 'f')
(191, 'Bright Light Orange', 'F8BB3D', 'f')
(183, 'Pearl White', 'F2F3F2', 'f')
(182, 'Trans-Orange', 'F08F1C', 't')
(179, 'Flat Silver', 898788, 'f')
(178, 'Flat Dark Gold', 'B48455', 'f')
(158, 'Yellowish Green', 'DFEEA5', 'f')
(151, 'Very Light Bluish Gray', 'E6E3E0', 'f')
(150, 'Pearl Very Light Gray', 'ABADAC', 'f')
(148, 'Pearl Dark Gray', 575857, 'f')
(143, 'Trans-Medium Blue', 'CFE2F7', 't')
(142, 'Pearl Light Gold', 'DCBC81', 'f')
(137, 'Metal Blue', '7988A1', 'f')
(135, 'Pearl Light Gray', '9CA3A8', 'f')
(134, 'Copper', 'AE7A59', 'f')
(133, 'Speckle Black-Gold', 0, 'f')
(132, 'Speckle Black-Silver', 0, 'f')
(129, 'Glitter Trans-Purple', 'A5A5CB', 't')
(125, 'Light Orange', 'F9BA61', 'f')
(120, 'Light Lime', 'D9E4A7', 'f')
(118, 'Aqua', 'B3D7D1', 'f')
(117, 'Glitter Trans-Clear', 'FFFFFF', 't')
(115, 'Medium Lime', 'C7D23C', 'f')
(114, 'Glitter Trans-Dark Pink', 'DF6695', 't')
(112, 'Blue-Violet', '6874CA', 'f')
(110, 'Violet', '4354A3', 'f')
(100, 'Light Salmon', 'FEBABD', 'f')
(92, 'Flesh', 'D09168', 'f')
(89, 'Royal Blue', '4C61DB', 'f')
(86, 'Dark Flesh', '7C503A', 'f')
(85, 'Dark Purple', '3F3691', 'f')
(84, 'Medium Dark Flesh', 'CC702A', 'f')
(82, 'Metallic Gold', 'DBAC34', 'f')
(81, 'Metallic Green', '899B5F', 'f')
(80, 'Metallic Silver', 'A5A9B4', 'f')
(79, 'Milky White', 'FFFFFF', 'f')
(78, 'Light Flesh', 'F6D7B3', 'f')
(77, 'Light Pink', 'FECCCF', 'f')
(76, 'Speckle DBGray-Silver', '635F61', 'f')
(75, 'Speckle Black-Copper', 0, 'f')
(74, 'Medium Green', '73DCA1', 'f')
(73, 'Medium Blue', '5A93DB', 'f')
(72, 'Dark Bluish Gray', '6C6E68', 'f')
(71, 'Light Bluish Gray', 'A0A5A9', 'f')
(70, 'Reddish Brown', '582A12', 'f')
(69, 'Light Purple', 'CD6298', 'f')
(68, 'Very Light Orange', 'F3CF9B', 'f')
(64, 'Chrome Black', '1B2A34', 'f')
(63, 'Chrome Pink', 'AA4D8E', 'f')
(62, 'Chrome Green', '3CB371', 'f')
(61, 'Chrome Blue', '6C96BF', 'f')
(60, 'Chrome Antique Brass', '645A4C', 'f')
(57, 'Trans-Neon Orange', 'FF800D', 't')
(54, 'Trans-Neon Yellow', 'DAB000', 't')
(52, 'Trans-Purple', 'A5A5CB', 't')
(47, 'Trans-Clear', 'FCFCFC', 't')
(46, 'Trans-Yellow', 'F5CD2F', 't')
(45, 'Trans-Dark Pink', 'DF6695', 't')
(43, 'Trans-Very Lt Blue', 'C1DFF0', 't')
(42, 'Trans-Neon Green', 'F8F184', 't')
(41, 'Trans-Light Blue', 'AEEFEC', 't')
(40, 'Trans-Black', '635F52', 't')
(36, 'Trans-Red', 'C91A09', 't')
(35, 'Trans-Bright Green', 'D9E4A7', 't')
(34, 'Trans-Green', '84B68D', 't')
(33, 'Trans-Dark Blue', '0020A0', 't')
(32, 'Trans-Black IR Lens', '635F52', 't')
(31, 'Lavender', 'E1D5ED', 'f')
(30, 'Medium Lavender', 'AC78BA', 'f')
(29, 'Bright Pink', 'E4ADC8', 'f')
(28, 'Dark Tan', '958A73', 'f')
(27, 'Lime', 'BBE90B', 'f')
(26, 'Magenta', 923978, 'f')
(25, 'Orange', 'FE8A18', 'f')
(23, 'Dark Blue-Violet', '2032B0', 'f')
(22, 'Purple', '81007B', 'f')
(21, 'Glow In Dark Opaque', 'D4D5C9', 'f')
(20, 'Light Violet', 'C9CAE2', 'f')
(19, 'Tan', 'E4CD9E', 'f')
(18, 'Light Yellow', 'FBE696', 'f')
(17, 'Light Green', 'C2DAB8', 'f')
(15, 'White', 'FFFFFF', 'f')
(14, 'Yellow', 'F2CD37', 'f')
(13, 'Pink', 'FC97AC', 'f')
(12, 'Salmon', 'F2705E', 'f')
(11, 'Light Turquoise', '55A5AF', 'f')
(10, 'Bright Green', '4B9F4A', 'f')
(9, 'Light Blue', 'B4D2E3', 'f')
(8, 'Dark Gray', '6D6E5C', 'f')
(7, 'Light Gray', '9BA19D', 'f')
(6, 'Brown', 583927, 'f')
(5, 'Dark Pink', 'C870A0', 'f')
(4, 'Red', 'C91A09', 'f')
(3, 'Dark Turquoise', '008F9B', 'f')
(2, 'Green', 237841, 'f')
(1, 'Blue', '0055BF', 'f')
(0, 'Black', '05131D', 'f')

### For string values the ORDER BY keyword will order alphabetically
* Example
```sql
SELECT * FROM Products
ORDER BY ProductName;
```

In [36]:
execute_sql('SELECT * FROM data\
             ORDER BY rgb;')

(75, 'Speckle Black-Copper', 0, 'f')
(132, 'Speckle Black-Silver', 0, 'f')
(133, 'Speckle Black-Gold', 0, 'f')
(288, 'Dark Green', 184632, 'f')
(2, 'Green', 237841, 'f')
(308, 'Dark Brown', 352100, 'f')
(148, 'Pearl Dark Gray', 575857, 'f')
(6, 'Brown', 583927, 'f')
(179, 'Flat Silver', 898788, 'f')
(26, 'Magenta', 923978, 'f')
(1001, 'Medium Violet', 93910000, 'f')
(373, 'Sand Purple', 8.45e+86, 'f')
(1007, 'Reddish Lilac', inf, 'f')
(33, 'Trans-Dark Blue', '0020A0', 't')
(1, 'Blue', '0055BF', 'f')
(3, 'Dark Turquoise', '008F9B', 'f')
(0, 'Black', '05131D', 'f')
(9999, '[No Color]', '05131D', 'f')
(321, 'Dark Azure', '078BC9', 'f')
(272, 'Dark Blue', '0A3463', 'f')
(64, 'Chrome Black', '1B2A34', 'f')
(23, 'Dark Blue-Violet', '2032B0', 'f')
(313, 'Maersk Blue', '3592C3', 'f')
(322, 'Medium Azure', '36AEBF', 'f')
(62, 'Chrome Green', '3CB371', 'f')
(85, 'Dark Purple', '3F3691', 'f')
(110, 'Violet', '4354A3', 'f')
(10, 'Bright Green', '4B9F4A', 'f')
(89, 'Royal Blue', '4C61DB', 'f')
(11, 'Light Turquoise', '55A5AF', 'f')
(70, 'Reddish Brown', '582A12', 'f')
(73, 'Medium Blue', '5A93DB', 'f')
(379, 'Sand Blue', '6074A1', 'f')
(32, 'Trans-Black IR Lens', '635F52', 't')
(40, 'Trans-Black', '635F52', 't')
(76, 'Speckle DBGray-Silver', '635F61', 'f')
(60, 'Chrome Antique Brass', '645A4C', 'f')
(112, 'Blue-Violet', '6874CA', 'f')
(1003, 'Glitter Trans-Light Blue', '68BCC5', 't')
(72, 'Dark Bluish Gray', '6C6E68', 'f')
(61, 'Chrome Blue', '6C96BF', 'f')
(8, 'Dark Gray', '6D6E5C', 'f')
(320, 'Dark Red', '720E0F', 'f')
(74, 'Medium Green', '73DCA1', 'f')
(137, 'Metal Blue', '7988A1', 'f')
(86, 'Dark Flesh', '7C503A', 'f')
(232, 'Sky Blue', '7DBFDD', 'f')
(22, 'Purple', '81007B', 'f')
(34, 'Trans-Green', '84B68D', 't')
(81, 'Metallic Green', '899B5F', 'f')
(28, 'Dark Tan', '958A73', 'f')
(236, 'Trans-Light Purple', '96709F', 't')
(326, 'Olive Green', '9B9A5A', 'f')
(7, 'Light Gray', '9BA19D', 'f')
(135, 'Pearl Light Gray', '9CA3A8', 'f')
(212, 'Bright Light Blue', '9FC3E9', 'f')
(71, 'Light Bluish Gray', 'A0A5A9', 'f')
(378, 'Sand Green', 'A0BCAC', 'f')
(52, 'Trans-Purple', 'A5A5CB', 't')
(129, 'Glitter Trans-Purple', 'A5A5CB', 't')
(80, 'Metallic Silver', 'A5A9B4', 'f')
(484, 'Dark Orange', 'A95500', 'f')
(63, 'Chrome Pink', 'AA4D8E', 'f')
(297, 'Pearl Gold', 'AA7F2E', 'f')
(150, 'Pearl Very Light Gray', 'ABADAC', 'f')
(30, 'Medium Lavender', 'AC78BA', 'f')
(323, 'Light Aqua', 'ADC3C0', 'f')
(134, 'Copper', 'AE7A59', 'f')
(41, 'Trans-Light Blue', 'AEEFEC', 't')
(216, 'Rust', 'B31004', 'f')
(118, 'Aqua', 'B3D7D1', 'f')
(178, 'Flat Dark Gold', 'B48455', 'f')
(9, 'Light Blue', 'B4D2E3', 'f')
(1006, 'Trans Light Royal Blue', 'B4D4F7', 't')
(450, 'Fabuland Brown', 'B67B50', 'f')
(334, 'Chrome Gold', 'BBA53D', 'f')
(27, 'Lime', 'BBE90B', 'f')
(294, 'Glow In Dark Trans', 'BDC6AD', 't')
(1002, 'Glitter Trans-Neon Green', 'C0F500', 't')
(43, 'Trans-Very Lt Blue', 'C1DFF0', 't')
(17, 'Light Green', 'C2DAB8', 'f')
(115, 'Medium Lime', 'C7D23C', 'f')
(5, 'Dark Pink', 'C870A0', 'f')
(4, 'Red', 'C91A09', 'f')
(36, 'Trans-Red', 'C91A09', 't')
(20, 'Light Violet', 'C9CAE2', 'f')
(84, 'Medium Dark Flesh', 'CC702A', 'f')
(69, 'Light Purple', 'CD6298', 'f')
(143, 'Trans-Medium Blue', 'CFE2F7', 't')
(92, 'Flesh', 'D09168', 'f')
(21, 'Glow In Dark Opaque', 'D4D5C9', 'f')
(335, 'Sand Red', 'D67572', 'f')
(1000, 'Glow in Dark White', 'D9D9D9', 'f')
(35, 'Trans-Bright Green', 'D9E4A7', 't')
(120, 'Light Lime', 'D9E4A7', 'f')
(54, 'Trans-Neon Yellow', 'DAB000', 't')
(82, 'Metallic Gold', 'DBAC34', 'f')
(142, 'Pearl Light Gold', 'DCBC81', 'f')
(45, 'Trans-Dark Pink', 'DF6695', 't')
(114, 'Glitter Trans-Dark Pink', 'DF6695', 't')
(158, 'Yellowish Green', 'DFEEA5', 'f')
(383, 'Chrome Silver', 'E0E0E0', 'f')
(31, 'Lavender', 'E1D5ED', 'f')
(29, 'Bright Pink', 'E4ADC8', 'f')
(230, 'Trans-Pink', 'E4ADC8', 't')
(19, 'Tan', 'E4CD9E', 'f')
(503, 'Very Light Gray', 'E6E3DA', 'f')
(151, 'Very Light Bluish Gray', 'E6E3E0', 'f')
(182, 'Trans-Orange', 'F08F1C', 't')
(12, 'Salmon', 'F2705E', 'f')
(14, 'Yellow', 'F2CD37', 'f')
(183, 'Pearl White', 'F2F3F2', 'f')
(68, 'Very Light Orange', 'F3CF9B', 'f')
(46, 'Trans-Yellow', 'F5CD2F', 't')
(78, 'Light Flesh', 'F6D7B3', 'f')
(351, 'Medium Dark Pink', 'F785B1', 'f')
(191, 'Bright Light Orange', 'F8BB3D', 'f')
(42, 'Trans-Neon Green', 'F8F184', 't')
(125, 'Light Orange', 'F9BA61', 'f')
(366, 'Earth Orange', 'FA9C1C', 'f')
(18, 'Light Yellow', 'FBE696', 'f')
(1005, 'Trans Fire Yellow', 'FBE890', 't')
(13, 'Pink', 'FC97AC', 'f')
(1004, 'Trans Flame Yellowish Orange', 'FCB76D', 't')
(47, 'Trans-Clear', 'FCFCFC', 't')
(25, 'Orange', 'FE8A18', 'f')
(100, 'Light Salmon', 'FEBABD', 'f')
(77, 'Light Pink', 'FECCCF', 'f')
(57, 'Trans-Neon Orange', 'FF800D', 't')
(462, 'Medium Orange', 'FFA70B', 'f')
(226, 'Bright Light Yellow', 'FFF03A', 'f')
(15, 'White', 'FFFFFF', 'f')
(79, 'Milky White', 'FFFFFF', 'f')
(117, 'Glitter Trans-Clear', 'FFFFFF', 't')

### To sort the table reverse alphabetically, use the DESC keyword:
* Example
```sql
SELECT * FROM Products
ORDER BY ProductName DESC;
```

In [38]:
execute_sql("SELECT * \
             FROM data\
             ORDER BY rgb DESC;")

(15, 'White', 'FFFFFF', 'f')
(79, 'Milky White', 'FFFFFF', 'f')
(117, 'Glitter Trans-Clear', 'FFFFFF', 't')
(226, 'Bright Light Yellow', 'FFF03A', 'f')
(462, 'Medium Orange', 'FFA70B', 'f')
(57, 'Trans-Neon Orange', 'FF800D', 't')
(77, 'Light Pink', 'FECCCF', 'f')
(100, 'Light Salmon', 'FEBABD', 'f')
(25, 'Orange', 'FE8A18', 'f')
(47, 'Trans-Clear', 'FCFCFC', 't')
(1004, 'Trans Flame Yellowish Orange', 'FCB76D', 't')
(13, 'Pink', 'FC97AC', 'f')
(1005, 'Trans Fire Yellow', 'FBE890', 't')
(18, 'Light Yellow', 'FBE696', 'f')
(366, 'Earth Orange', 'FA9C1C', 'f')
(125, 'Light Orange', 'F9BA61', 'f')
(42, 'Trans-Neon Green', 'F8F184', 't')
(191, 'Bright Light Orange', 'F8BB3D', 'f')
(351, 'Medium Dark Pink', 'F785B1', 'f')
(78, 'Light Flesh', 'F6D7B3', 'f')
(46, 'Trans-Yellow', 'F5CD2F', 't')
(68, 'Very Light Orange', 'F3CF9B', 'f')
(183, 'Pearl White', 'F2F3F2', 'f')
(14, 'Yellow', 'F2CD37', 'f')
(12, 'Salmon', 'F2705E', 'f')
(182, 'Trans-Orange', 'F08F1C', 't')
(151, 'Very Light Bluish Gray', 'E6E3E0', 'f')
(503, 'Very Light Gray', 'E6E3DA', 'f')
(19, 'Tan', 'E4CD9E', 'f')
(29, 'Bright Pink', 'E4ADC8', 'f')
(230, 'Trans-Pink', 'E4ADC8', 't')
(31, 'Lavender', 'E1D5ED', 'f')
(383, 'Chrome Silver', 'E0E0E0', 'f')
(158, 'Yellowish Green', 'DFEEA5', 'f')
(45, 'Trans-Dark Pink', 'DF6695', 't')
(114, 'Glitter Trans-Dark Pink', 'DF6695', 't')
(142, 'Pearl Light Gold', 'DCBC81', 'f')
(82, 'Metallic Gold', 'DBAC34', 'f')
(54, 'Trans-Neon Yellow', 'DAB000', 't')
(35, 'Trans-Bright Green', 'D9E4A7', 't')
(120, 'Light Lime', 'D9E4A7', 'f')
(1000, 'Glow in Dark White', 'D9D9D9', 'f')
(335, 'Sand Red', 'D67572', 'f')
(21, 'Glow In Dark Opaque', 'D4D5C9', 'f')
(92, 'Flesh', 'D09168', 'f')
(143, 'Trans-Medium Blue', 'CFE2F7', 't')
(69, 'Light Purple', 'CD6298', 'f')
(84, 'Medium Dark Flesh', 'CC702A', 'f')
(20, 'Light Violet', 'C9CAE2', 'f')
(4, 'Red', 'C91A09', 'f')
(36, 'Trans-Red', 'C91A09', 't')
(5, 'Dark Pink', 'C870A0', 'f')
(115, 'Medium Lime', 'C7D23C', 'f')
(17, 'Light Green', 'C2DAB8', 'f')
(43, 'Trans-Very Lt Blue', 'C1DFF0', 't')
(1002, 'Glitter Trans-Neon Green', 'C0F500', 't')
(294, 'Glow In Dark Trans', 'BDC6AD', 't')
(27, 'Lime', 'BBE90B', 'f')
(334, 'Chrome Gold', 'BBA53D', 'f')
(450, 'Fabuland Brown', 'B67B50', 'f')
(1006, 'Trans Light Royal Blue', 'B4D4F7', 't')
(9, 'Light Blue', 'B4D2E3', 'f')
(178, 'Flat Dark Gold', 'B48455', 'f')
(118, 'Aqua', 'B3D7D1', 'f')
(216, 'Rust', 'B31004', 'f')
(41, 'Trans-Light Blue', 'AEEFEC', 't')
(134, 'Copper', 'AE7A59', 'f')
(323, 'Light Aqua', 'ADC3C0', 'f')
(30, 'Medium Lavender', 'AC78BA', 'f')
(150, 'Pearl Very Light Gray', 'ABADAC', 'f')
(297, 'Pearl Gold', 'AA7F2E', 'f')
(63, 'Chrome Pink', 'AA4D8E', 'f')
(484, 'Dark Orange', 'A95500', 'f')
(80, 'Metallic Silver', 'A5A9B4', 'f')
(52, 'Trans-Purple', 'A5A5CB', 't')
(129, 'Glitter Trans-Purple', 'A5A5CB', 't')
(378, 'Sand Green', 'A0BCAC', 'f')
(71, 'Light Bluish Gray', 'A0A5A9', 'f')
(212, 'Bright Light Blue', '9FC3E9', 'f')
(135, 'Pearl Light Gray', '9CA3A8', 'f')
(7, 'Light Gray', '9BA19D', 'f')
(326, 'Olive Green', '9B9A5A', 'f')
(236, 'Trans-Light Purple', '96709F', 't')
(28, 'Dark Tan', '958A73', 'f')
(81, 'Metallic Green', '899B5F', 'f')
(34, 'Trans-Green', '84B68D', 't')
(22, 'Purple', '81007B', 'f')
(232, 'Sky Blue', '7DBFDD', 'f')
(86, 'Dark Flesh', '7C503A', 'f')
(137, 'Metal Blue', '7988A1', 'f')
(74, 'Medium Green', '73DCA1', 'f')
(320, 'Dark Red', '720E0F', 'f')
(8, 'Dark Gray', '6D6E5C', 'f')
(61, 'Chrome Blue', '6C96BF', 'f')
(72, 'Dark Bluish Gray', '6C6E68', 'f')
(1003, 'Glitter Trans-Light Blue', '68BCC5', 't')
(112, 'Blue-Violet', '6874CA', 'f')
(60, 'Chrome Antique Brass', '645A4C', 'f')
(76, 'Speckle DBGray-Silver', '635F61', 'f')
(32, 'Trans-Black IR Lens', '635F52', 't')
(40, 'Trans-Black', '635F52', 't')
(379, 'Sand Blue', '6074A1', 'f')
(73, 'Medium Blue', '5A93DB', 'f')
(70, 'Reddish Brown', '582A12', 'f')
(11, 'Light Turquoise', '55A5AF', 'f')
(89, 'Royal Blue', '4C61DB', 'f')
(10, 'Bright Green', '4B9F4A', 'f')
(110, 'Violet', '4354A3', 'f')
(85, 'Dark Purple', '3F3691', 'f')
(62, 'Chrome Green', '3CB371', 'f')
(322, 'Medium Azure', '36AEBF', 'f')
(313, 'Maersk Blue', '3592C3', 'f')
(23, 'Dark Blue-Violet', '2032B0', 'f')
(64, 'Chrome Black', '1B2A34', 'f')
(272, 'Dark Blue', '0A3463', 'f')
(321, 'Dark Azure', '078BC9', 'f')
(0, 'Black', '05131D', 'f')
(9999, '[No Color]', '05131D', 'f')
(3, 'Dark Turquoise', '008F9B', 'f')
(1, 'Blue', '0055BF', 'f')
(33, 'Trans-Dark Blue', '0020A0', 't')
(1007, 'Reddish Lilac', inf, 'f')
(373, 'Sand Purple', 8.45e+86, 'f')
(1001, 'Medium Violet', 93910000, 'f')
(26, 'Magenta', 923978, 'f')
(179, 'Flat Silver', 898788, 'f')
(6, 'Brown', 583927, 'f')
(148, 'Pearl Dark Gray', 575857, 'f')
(308, 'Dark Brown', 352100, 'f')
(2, 'Green', 237841, 'f')
(288, 'Dark Green', 184632, 'f')
(75, 'Speckle Black-Copper', 0, 'f')
(132, 'Speckle Black-Silver', 0, 'f')
(133, 'Speckle Black-Gold', 0, 'f')

### ORDER BY Several Columns
##### The following SQL statement selects all customers from the "Customers" table, sorted by the "Country" and the "CustomerName" column. This means that it orders by Country, but if some rows have the same Country, it orders them by CustomerName:

* Example
```sql
SELECT * FROM Customers
ORDER BY Country, CustomerName;
```

In [39]:
execute_sql("SELECT * \
            FROM data\
            ORDER BY id, name;")

(0, 'Black', '05131D', 'f')
(1, 'Blue', '0055BF', 'f')
(2, 'Green', 237841, 'f')
(3, 'Dark Turquoise', '008F9B', 'f')
(4, 'Red', 'C91A09', 'f')
(5, 'Dark Pink', 'C870A0', 'f')
(6, 'Brown', 583927, 'f')
(7, 'Light Gray', '9BA19D', 'f')
(8, 'Dark Gray', '6D6E5C', 'f')
(9, 'Light Blue', 'B4D2E3', 'f')
(10, 'Bright Green', '4B9F4A', 'f')
(11, 'Light Turquoise', '55A5AF', 'f')
(12, 'Salmon', 'F2705E', 'f')
(13, 'Pink', 'FC97AC', 'f')
(14, 'Yellow', 'F2CD37', 'f')
(15, 'White', 'FFFFFF', 'f')
(17, 'Light Green', 'C2DAB8', 'f')
(18, 'Light Yellow', 'FBE696', 'f')
(19, 'Tan', 'E4CD9E', 'f')
(20, 'Light Violet', 'C9CAE2', 'f')
(21, 'Glow In Dark Opaque', 'D4D5C9', 'f')
(22, 'Purple', '81007B', 'f')
(23, 'Dark Blue-Violet', '2032B0', 'f')
(25, 'Orange', 'FE8A18', 'f')
(26, 'Magenta', 923978, 'f')
(27, 'Lime', 'BBE90B', 'f')
(28, 'Dark Tan', '958A73', 'f')
(29, 'Bright Pink', 'E4ADC8', 'f')
(30, 'Medium Lavender', 'AC78BA', 'f')
(31, 'Lavender', 'E1D5ED', 'f')
(32, 'Trans-Black IR Lens', '635F52', 't')
(33, 'Trans-Dark Blue', '0020A0', 't')
(34, 'Trans-Green', '84B68D', 't')
(35, 'Trans-Bright Green', 'D9E4A7', 't')
(36, 'Trans-Red', 'C91A09', 't')
(40, 'Trans-Black', '635F52', 't')
(41, 'Trans-Light Blue', 'AEEFEC', 't')
(42, 'Trans-Neon Green', 'F8F184', 't')
(43, 'Trans-Very Lt Blue', 'C1DFF0', 't')
(45, 'Trans-Dark Pink', 'DF6695', 't')
(46, 'Trans-Yellow', 'F5CD2F', 't')
(47, 'Trans-Clear', 'FCFCFC', 't')
(52, 'Trans-Purple', 'A5A5CB', 't')
(54, 'Trans-Neon Yellow', 'DAB000', 't')
(57, 'Trans-Neon Orange', 'FF800D', 't')
(60, 'Chrome Antique Brass', '645A4C', 'f')
(61, 'Chrome Blue', '6C96BF', 'f')
(62, 'Chrome Green', '3CB371', 'f')
(63, 'Chrome Pink', 'AA4D8E', 'f')
(64, 'Chrome Black', '1B2A34', 'f')
(68, 'Very Light Orange', 'F3CF9B', 'f')
(69, 'Light Purple', 'CD6298', 'f')
(70, 'Reddish Brown', '582A12', 'f')
(71, 'Light Bluish Gray', 'A0A5A9', 'f')
(72, 'Dark Bluish Gray', '6C6E68', 'f')
(73, 'Medium Blue', '5A93DB', 'f')
(74, 'Medium Green', '73DCA1', 'f')
(75, 'Speckle Black-Copper', 0, 'f')
(76, 'Speckle DBGray-Silver', '635F61', 'f')
(77, 'Light Pink', 'FECCCF', 'f')
(78, 'Light Flesh', 'F6D7B3', 'f')
(79, 'Milky White', 'FFFFFF', 'f')
(80, 'Metallic Silver', 'A5A9B4', 'f')
(81, 'Metallic Green', '899B5F', 'f')
(82, 'Metallic Gold', 'DBAC34', 'f')
(84, 'Medium Dark Flesh', 'CC702A', 'f')
(85, 'Dark Purple', '3F3691', 'f')
(86, 'Dark Flesh', '7C503A', 'f')
(89, 'Royal Blue', '4C61DB', 'f')
(92, 'Flesh', 'D09168', 'f')
(100, 'Light Salmon', 'FEBABD', 'f')
(110, 'Violet', '4354A3', 'f')
(112, 'Blue-Violet', '6874CA', 'f')
(114, 'Glitter Trans-Dark Pink', 'DF6695', 't')
(115, 'Medium Lime', 'C7D23C', 'f')
(117, 'Glitter Trans-Clear', 'FFFFFF', 't')
(118, 'Aqua', 'B3D7D1', 'f')
(120, 'Light Lime', 'D9E4A7', 'f')
(125, 'Light Orange', 'F9BA61', 'f')
(129, 'Glitter Trans-Purple', 'A5A5CB', 't')
(132, 'Speckle Black-Silver', 0, 'f')
(133, 'Speckle Black-Gold', 0, 'f')
(134, 'Copper', 'AE7A59', 'f')
(135, 'Pearl Light Gray', '9CA3A8', 'f')
(137, 'Metal Blue', '7988A1', 'f')
(142, 'Pearl Light Gold', 'DCBC81', 'f')
(143, 'Trans-Medium Blue', 'CFE2F7', 't')
(148, 'Pearl Dark Gray', 575857, 'f')
(150, 'Pearl Very Light Gray', 'ABADAC', 'f')
(151, 'Very Light Bluish Gray', 'E6E3E0', 'f')
(158, 'Yellowish Green', 'DFEEA5', 'f')
(178, 'Flat Dark Gold', 'B48455', 'f')
(179, 'Flat Silver', 898788, 'f')
(182, 'Trans-Orange', 'F08F1C', 't')
(183, 'Pearl White', 'F2F3F2', 'f')
(191, 'Bright Light Orange', 'F8BB3D', 'f')
(212, 'Bright Light Blue', '9FC3E9', 'f')
(216, 'Rust', 'B31004', 'f')
(226, 'Bright Light Yellow', 'FFF03A', 'f')
(230, 'Trans-Pink', 'E4ADC8', 't')
(232, 'Sky Blue', '7DBFDD', 'f')
(236, 'Trans-Light Purple', '96709F', 't')
(272, 'Dark Blue', '0A3463', 'f')
(288, 'Dark Green', 184632, 'f')
(294, 'Glow In Dark Trans', 'BDC6AD', 't')
(297, 'Pearl Gold', 'AA7F2E', 'f')
(308, 'Dark Brown', 352100, 'f')
(313, 'Maersk Blue', '3592C3', 'f')
(320, 'Dark Red', '720E0F', 'f')
(321, 'Dark Azure', '078BC9', 'f')
(322, 'Medium Azure', '36AEBF', 'f')
(323, 'Light Aqua', 'ADC3C0', 'f')
(326, 'Olive Green', '9B9A5A', 'f')
(334, 'Chrome Gold', 'BBA53D', 'f')
(335, 'Sand Red', 'D67572', 'f')
(351, 'Medium Dark Pink', 'F785B1', 'f')
(366, 'Earth Orange', 'FA9C1C', 'f')
(373, 'Sand Purple', 8.45e+86, 'f')
(378, 'Sand Green', 'A0BCAC', 'f')
(379, 'Sand Blue', '6074A1', 'f')
(383, 'Chrome Silver', 'E0E0E0', 'f')
(450, 'Fabuland Brown', 'B67B50', 'f')
(462, 'Medium Orange', 'FFA70B', 'f')
(484, 'Dark Orange', 'A95500', 'f')
(503, 'Very Light Gray', 'E6E3DA', 'f')
(1000, 'Glow in Dark White', 'D9D9D9', 'f')
(1001, 'Medium Violet', 93910000, 'f')
(1002, 'Glitter Trans-Neon Green', 'C0F500', 't')
(1003, 'Glitter Trans-Light Blue', '68BCC5', 't')
(1004, 'Trans Flame Yellowish Orange', 'FCB76D', 't')
(1005, 'Trans Fire Yellow', 'FBE890', 't')
(1006, 'Trans Light Royal Blue', 'B4D4F7', 't')
(1007, 'Reddish Lilac', inf, 'f')
(9999, '[No Color]', '05131D', 'f')

### Using Both ASC and DESC
#### The following SQL statement selects all customers from the "Customers" table, sorted ascending by the "Country" and descending by the "CustomerName" column:

* Example
```sql
SELECT * FROM Customers
ORDER BY Country ASC, CustomerName DESC;
```

In [40]:
execute_sql("SELECT *\
             FROM data\
             ORDER BY id ASC, rgb DESC;")

(0, 'Black', '05131D', 'f')
(1, 'Blue', '0055BF', 'f')
(2, 'Green', 237841, 'f')
(3, 'Dark Turquoise', '008F9B', 'f')
(4, 'Red', 'C91A09', 'f')
(5, 'Dark Pink', 'C870A0', 'f')
(6, 'Brown', 583927, 'f')
(7, 'Light Gray', '9BA19D', 'f')
(8, 'Dark Gray', '6D6E5C', 'f')
(9, 'Light Blue', 'B4D2E3', 'f')
(10, 'Bright Green', '4B9F4A', 'f')
(11, 'Light Turquoise', '55A5AF', 'f')
(12, 'Salmon', 'F2705E', 'f')
(13, 'Pink', 'FC97AC', 'f')
(14, 'Yellow', 'F2CD37', 'f')
(15, 'White', 'FFFFFF', 'f')
(17, 'Light Green', 'C2DAB8', 'f')
(18, 'Light Yellow', 'FBE696', 'f')
(19, 'Tan', 'E4CD9E', 'f')
(20, 'Light Violet', 'C9CAE2', 'f')
(21, 'Glow In Dark Opaque', 'D4D5C9', 'f')
(22, 'Purple', '81007B', 'f')
(23, 'Dark Blue-Violet', '2032B0', 'f')
(25, 'Orange', 'FE8A18', 'f')
(26, 'Magenta', 923978, 'f')
(27, 'Lime', 'BBE90B', 'f')
(28, 'Dark Tan', '958A73', 'f')
(29, 'Bright Pink', 'E4ADC8', 'f')
(30, 'Medium Lavender', 'AC78BA', 'f')
(31, 'Lavender', 'E1D5ED', 'f')
(32, 'Trans-Black IR Lens', '635F52', 't')
(33, 'Trans-Dark Blue', '0020A0', 't')
(34, 'Trans-Green', '84B68D', 't')
(35, 'Trans-Bright Green', 'D9E4A7', 't')
(36, 'Trans-Red', 'C91A09', 't')
(40, 'Trans-Black', '635F52', 't')
(41, 'Trans-Light Blue', 'AEEFEC', 't')
(42, 'Trans-Neon Green', 'F8F184', 't')
(43, 'Trans-Very Lt Blue', 'C1DFF0', 't')
(45, 'Trans-Dark Pink', 'DF6695', 't')
(46, 'Trans-Yellow', 'F5CD2F', 't')
(47, 'Trans-Clear', 'FCFCFC', 't')
(52, 'Trans-Purple', 'A5A5CB', 't')
(54, 'Trans-Neon Yellow', 'DAB000', 't')
(57, 'Trans-Neon Orange', 'FF800D', 't')
(60, 'Chrome Antique Brass', '645A4C', 'f')
(61, 'Chrome Blue', '6C96BF', 'f')
(62, 'Chrome Green', '3CB371', 'f')
(63, 'Chrome Pink', 'AA4D8E', 'f')
(64, 'Chrome Black', '1B2A34', 'f')
(68, 'Very Light Orange', 'F3CF9B', 'f')
(69, 'Light Purple', 'CD6298', 'f')
(70, 'Reddish Brown', '582A12', 'f')
(71, 'Light Bluish Gray', 'A0A5A9', 'f')
(72, 'Dark Bluish Gray', '6C6E68', 'f')
(73, 'Medium Blue', '5A93DB', 'f')
(74, 'Medium Green', '73DCA1', 'f')
(75, 'Speckle Black-Copper', 0, 'f')
(76, 'Speckle DBGray-Silver', '635F61', 'f')
(77, 'Light Pink', 'FECCCF', 'f')
(78, 'Light Flesh', 'F6D7B3', 'f')
(79, 'Milky White', 'FFFFFF', 'f')
(80, 'Metallic Silver', 'A5A9B4', 'f')
(81, 'Metallic Green', '899B5F', 'f')
(82, 'Metallic Gold', 'DBAC34', 'f')
(84, 'Medium Dark Flesh', 'CC702A', 'f')
(85, 'Dark Purple', '3F3691', 'f')
(86, 'Dark Flesh', '7C503A', 'f')
(89, 'Royal Blue', '4C61DB', 'f')
(92, 'Flesh', 'D09168', 'f')
(100, 'Light Salmon', 'FEBABD', 'f')
(110, 'Violet', '4354A3', 'f')
(112, 'Blue-Violet', '6874CA', 'f')
(114, 'Glitter Trans-Dark Pink', 'DF6695', 't')
(115, 'Medium Lime', 'C7D23C', 'f')
(117, 'Glitter Trans-Clear', 'FFFFFF', 't')
(118, 'Aqua', 'B3D7D1', 'f')
(120, 'Light Lime', 'D9E4A7', 'f')
(125, 'Light Orange', 'F9BA61', 'f')
(129, 'Glitter Trans-Purple', 'A5A5CB', 't')
(132, 'Speckle Black-Silver', 0, 'f')
(133, 'Speckle Black-Gold', 0, 'f')
(134, 'Copper', 'AE7A59', 'f')
(135, 'Pearl Light Gray', '9CA3A8', 'f')
(137, 'Metal Blue', '7988A1', 'f')
(142, 'Pearl Light Gold', 'DCBC81', 'f')
(143, 'Trans-Medium Blue', 'CFE2F7', 't')
(148, 'Pearl Dark Gray', 575857, 'f')
(150, 'Pearl Very Light Gray', 'ABADAC', 'f')
(151, 'Very Light Bluish Gray', 'E6E3E0', 'f')
(158, 'Yellowish Green', 'DFEEA5', 'f')
(178, 'Flat Dark Gold', 'B48455', 'f')
(179, 'Flat Silver', 898788, 'f')
(182, 'Trans-Orange', 'F08F1C', 't')
(183, 'Pearl White', 'F2F3F2', 'f')
(191, 'Bright Light Orange', 'F8BB3D', 'f')
(212, 'Bright Light Blue', '9FC3E9', 'f')
(216, 'Rust', 'B31004', 'f')
(226, 'Bright Light Yellow', 'FFF03A', 'f')
(230, 'Trans-Pink', 'E4ADC8', 't')
(232, 'Sky Blue', '7DBFDD', 'f')
(236, 'Trans-Light Purple', '96709F', 't')
(272, 'Dark Blue', '0A3463', 'f')
(288, 'Dark Green', 184632, 'f')
(294, 'Glow In Dark Trans', 'BDC6AD', 't')
(297, 'Pearl Gold', 'AA7F2E', 'f')
(308, 'Dark Brown', 352100, 'f')
(313, 'Maersk Blue', '3592C3', 'f')
(320, 'Dark Red', '720E0F', 'f')
(321, 'Dark Azure', '078BC9', 'f')
(322, 'Medium Azure', '36AEBF', 'f')
(323, 'Light Aqua', 'ADC3C0', 'f')
(326, 'Olive Green', '9B9A5A', 'f')
(334, 'Chrome Gold', 'BBA53D', 'f')
(335, 'Sand Red', 'D67572', 'f')
(351, 'Medium Dark Pink', 'F785B1', 'f')
(366, 'Earth Orange', 'FA9C1C', 'f')
(373, 'Sand Purple', 8.45e+86, 'f')
(378, 'Sand Green', 'A0BCAC', 'f')
(379, 'Sand Blue', '6074A1', 'f')
(383, 'Chrome Silver', 'E0E0E0', 'f')
(450, 'Fabuland Brown', 'B67B50', 'f')
(462, 'Medium Orange', 'FFA70B', 'f')
(484, 'Dark Orange', 'A95500', 'f')
(503, 'Very Light Gray', 'E6E3DA', 'f')
(1000, 'Glow in Dark White', 'D9D9D9', 'f')
(1001, 'Medium Violet', 93910000, 'f')
(1002, 'Glitter Trans-Neon Green', 'C0F500', 't')
(1003, 'Glitter Trans-Light Blue', '68BCC5', 't')
(1004, 'Trans Flame Yellowish Orange', 'FCB76D', 't')
(1005, 'Trans Fire Yellow', 'FBE890', 't')
(1006, 'Trans Light Royal Blue', 'B4D4F7', 't')
(1007, 'Reddish Lilac', inf, 'f')
(9999, '[No Color]', '05131D', 'f')

## SQL AND Operator

### The SQL AND Operator
- The WHERE clause can contain one or many AND operators.
- The AND operator is used to filter records based on more than one condition, like if you want to return all customers from Spain that starts with the letter 'G':

### AND vs OR
- The AND operator displays a record if all the conditions are TRUE.
- The OR operator displays a record if any of the conditions are TRUE.

### Combining AND and OR
- You can combine the AND and OR operators.

In [60]:
execute_sql_db("SELECT *\
FROM Customers \
WHERE Country = 'Spain' AND CustomerName LIKE 'G%';", 'test2.db')

(29, 'Galera del gastrnomo', 'Eduardo Saavedra', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Jos Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')

In [62]:
execute_sql_db("SELECT * \
FROM Customers \
WHERE Country = 'Germany' \
AND City = 'Berlin' \
AND PostalCode > 12000;","test2.db")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')

In [63]:
execute_sql_db("SELECT * \
               FROM Customers \
WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');\
               ","test2.db")

(29, 'Galera del gastrnomo', 'Eduardo Saavedra', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Jos Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Va, 1', 'Madrid', '28001', 'Spain')

In [5]:
execute_sql_db(
    "\
    SELECT * \
    FROM Customers \
    WHERE Country = 'Spain' AND CustomerName LIKE 'G%' OR CustomerName LIKE 'R%';\
    ",
    "test2.db"
)

(29, 'Galera del gastrnomo', 'Eduardo Saavedra', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Jos Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(64, 'Rancho grande', 'Sergio Gutirrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Va, 1', 'Madrid', '28001', 'Spain')

## SQL OR Operator

In [6]:
execute_sql_db(
    """
    SELECT *
    FROM Customers
    WHERE Country = 'Germany' OR Country = 'Spain';
    """,
    "test2.db"
)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(8, 'Blido Comidas preparadas', 'Martn Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(29, 'Galera del gastrnomo', 'Eduardo Saavedra', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Jos Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(39, 'Kniglich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(56, 'Ottilies Kseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany')
(63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Va, 1', 'Madrid', '28001', 'Spain')
(79, 'Toms Spezialitten', 'Karin Josephs', 'Luisenstr. 48', 'Mnster', '44087', 'Germany')
(86, 'Die Wandernde Kuh', 'Rita Mller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')

In [7]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE City = 'Berlin' OR CustomerName LIKE 'G%' OR Country = 'Norway';
    """,
    "test2.db"
)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(29, 'Galera del gastrnomo', 'Eduardo Saavedra', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Jos Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(31, 'Gourmet Lanchonetes', 'Andr Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(70, 'Sant Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')

In [8]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');
    """,
    "test2.db"
)

(29, 'Galera del gastrnomo', 'Eduardo Saavedra', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Jos Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Va, 1', 'Madrid', '28001', 'Spain')

In [9]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE Country = 'Spain' AND CustomerName LIKE 'G%' OR CustomerName LIKE 'R%';
    """,
    "test2.db"
)

(29, 'Galera del gastrnomo', 'Eduardo Saavedra', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Jos Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(64, 'Rancho grande', 'Sergio Gutirrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Va, 1', 'Madrid', '28001', 'Spain')

## SQL NOT Operator

In [10]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE NOT Country = 'Spain';
    """,
    "test2.db"
)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Antonio Moreno', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbkp', 'Christina Berglund', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel pre et fils', 'Frdrique Citeaux', '24, place Klber', 'Strasbourg', '67000', 'France')
(9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comrcio Mineiro', 'Pedro Afonso', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil')
(23, 'Folies gourmandes', 'Martine Ranc', '184, chausse de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och f HB', 'Maria Larsson', 'kergatan 24', 'Brcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(31, 'Gourmet Lanchonetes', 'Andr Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Pao, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(35, 'HILARIN-Abastos', 'Carlos Hernndez', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road', 'Cork', '', 'Ireland')
(38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Kniglich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(46, 'LILA-Supermercado', 'Carlos Gonzlez', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy')
(50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(51, 'Mre Paillarde', 'Jean Fresnire', '43 rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(54, 'Ocano Atlntico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina')
(55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(56, 'Ottilies Kseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany')
(57, 'Paris spcialits', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France')
(58, 'Pericles Comidas clsicas', 'Guillermo Fernndez', 'Calle Dr. Jorge Cash 321', 'Mxico D.F.', '5033', 'Mexico')
(59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(61, 'Que Delcia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Lcia Carvalho', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(64, 'Rancho grande', 'Sergio Gutirrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(70, 'Sant Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(73, 'Simons bistro', 'Jytte Petersen', 'Vinbltet 34', 'Kbenhavn', '1734', 'Denmark')
(74, 'Spcialits du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France')
(75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprmes dlices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(79, 'Toms Spezialitten', 'Karin Josephs', 'Luisenstr. 48', 'Mnster', '44087', 'Germany')
(80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'Mxico D.F.', '5033', 'Mexico')
(81, 'Tradio Hipermercados', 'Anabela Domingues', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(83, 'Vaffeljernet', 'Palle Ibsen', 'Smagslget 45', 'rhus', '8200', 'Denmark')
(84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(86, 'Die Wandernde Kuh', 'Rita Mller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')

In [11]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName NOT LIKE 'A%';
    """,
    "test2.db"
)

(5, 'Berglunds snabbkp', 'Christina Berglund', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel pre et fils', 'Frdrique Citeaux', '24, place Klber', 'Strasbourg', '67000', 'France')
(8, 'Blido Comidas preparadas', 'Martn Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comrcio Mineiro', 'Pedro Afonso', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Martine Ranc', '184, chausse de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och f HB', 'Maria Larsson', 'kergatan 24', 'Brcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galera del gastrnomo', 'Eduardo Saavedra', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Jos Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(31, 'Gourmet Lanchonetes', 'Andr Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Pao, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(35, 'HILARIN-Abastos', 'Carlos Hernndez', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road', 'Cork', '', 'Ireland')
(38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Kniglich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(46, 'LILA-Supermercado', 'Carlos Gonzlez', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy')
(50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(51, 'Mre Paillarde', 'Jean Fresnire', '43 rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(54, 'Ocano Atlntico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina')
(55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(56, 'Ottilies Kseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany')
(57, 'Paris spcialits', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France')
(58, 'Pericles Comidas clsicas', 'Guillermo Fernndez', 'Calle Dr. Jorge Cash 321', 'Mxico D.F.', '5033', 'Mexico')
(59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(61, 'Que Delcia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Lcia Carvalho', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(64, 'Rancho grande', 'Sergio Gutirrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Va, 1', 'Madrid', '28001', 'Spain')
(70, 'Sant Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(73, 'Simons bistro', 'Jytte Petersen', 'Vinbltet 34', 'Kbenhavn', '1734', 'Denmark')
(74, 'Spcialits du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France')
(75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprmes dlices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(79, 'Toms Spezialitten', 'Karin Josephs', 'Luisenstr. 48', 'Mnster', '44087', 'Germany')
(80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'Mxico D.F.', '5033', 'Mexico')
(81, 'Tradio Hipermercados', 'Anabela Domingues', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(83, 'Vaffeljernet', 'Palle Ibsen', 'Smagslget 45', 'rhus', '8200', 'Denmark')
(84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(86, 'Die Wandernde Kuh', 'Rita Mller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')

In [12]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerID NOT BETWEEN 10 AND 60;
    """,
    "test2.db"
)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Antonio Moreno', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbkp', 'Christina Berglund', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel pre et fils', 'Frdrique Citeaux', '24, place Klber', 'Strasbourg', '67000', 'France')
(8, 'Blido Comidas preparadas', 'Martn Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(61, 'Que Delcia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Lcia Carvalho', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(64, 'Rancho grande', 'Sergio Gutirrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Va, 1', 'Madrid', '28001', 'Spain')
(70, 'Sant Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(73, 'Simons bistro', 'Jytte Petersen', 'Vinbltet 34', 'Kbenhavn', '1734', 'Denmark')
(74, 'Spcialits du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France')
(75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprmes dlices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(79, 'Toms Spezialitten', 'Karin Josephs', 'Luisenstr. 48', 'Mnster', '44087', 'Germany')
(80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'Mxico D.F.', '5033', 'Mexico')
(81, 'Tradio Hipermercados', 'Anabela Domingues', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(83, 'Vaffeljernet', 'Palle Ibsen', 'Smagslget 45', 'rhus', '8200', 'Denmark')
(84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(86, 'Die Wandernde Kuh', 'Rita Mller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')

In [13]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE City NOT IN ('Paris', 'London');
    """,
    "test2.db"
)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Antonio Moreno', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(5, 'Berglunds snabbkp', 'Christina Berglund', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel pre et fils', 'Frdrique Citeaux', '24, place Klber', 'Strasbourg', '67000', 'France')
(8, 'Blido Comidas preparadas', 'Martn Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comrcio Mineiro', 'Pedro Afonso', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Martine Ranc', '184, chausse de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och f HB', 'Maria Larsson', 'kergatan 24', 'Brcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galera del gastrnomo', 'Eduardo Saavedra', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Jos Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(31, 'Gourmet Lanchonetes', 'Andr Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Pao, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(35, 'HILARIN-Abastos', 'Carlos Hernndez', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road', 'Cork', '', 'Ireland')
(38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Kniglich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(46, 'LILA-Supermercado', 'Carlos Gonzlez', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy')
(50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(51, 'Mre Paillarde', 'Jean Fresnire', '43 rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(54, 'Ocano Atlntico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina')
(55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(56, 'Ottilies Kseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany')
(58, 'Pericles Comidas clsicas', 'Guillermo Fernndez', 'Calle Dr. Jorge Cash 321', 'Mxico D.F.', '5033', 'Mexico')
(59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(61, 'Que Delcia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Lcia Carvalho', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(64, 'Rancho grande', 'Sergio Gutirrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Va, 1', 'Madrid', '28001', 'Spain')
(70, 'Sant Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(73, 'Simons bistro', 'Jytte Petersen', 'Vinbltet 34', 'Kbenhavn', '1734', 'Denmark')
(75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprmes dlices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(79, 'Toms Spezialitten', 'Karin Josephs', 'Luisenstr. 48', 'Mnster', '44087', 'Germany')
(80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'Mxico D.F.', '5033', 'Mexico')
(81, 'Tradio Hipermercados', 'Anabela Domingues', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(83, 'Vaffeljernet', 'Palle Ibsen', 'Smagslget 45', 'rhus', '8200', 'Denmark')
(84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(86, 'Die Wandernde Kuh', 'Rita Mller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')

In [14]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE NOT CustomerID > 50;
    """,
    "test2.db"
)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Antonio Moreno', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbkp', 'Christina Berglund', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel pre et fils', 'Frdrique Citeaux', '24, place Klber', 'Strasbourg', '67000', 'France')
(8, 'Blido Comidas preparadas', 'Martn Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comrcio Mineiro', 'Pedro Afonso', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Martine Ranc', '184, chausse de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och f HB', 'Maria Larsson', 'kergatan 24', 'Brcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galera del gastrnomo', 'Eduardo Saavedra', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Jos Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(31, 'Gourmet Lanchonetes', 'Andr Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Pao, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(35, 'HILARIN-Abastos', 'Carlos Hernndez', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road', 'Cork', '', 'Ireland')
(38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Kniglich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(46, 'LILA-Supermercado', 'Carlos Gonzlez', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy')
(50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')

In [15]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE NOT CustomerId < 50;
    """,
    "test2.db"
)

(50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(51, 'Mre Paillarde', 'Jean Fresnire', '43 rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(54, 'Ocano Atlntico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina')
(55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(56, 'Ottilies Kseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany')
(57, 'Paris spcialits', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France')
(58, 'Pericles Comidas clsicas', 'Guillermo Fernndez', 'Calle Dr. Jorge Cash 321', 'Mxico D.F.', '5033', 'Mexico')
(59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(61, 'Que Delcia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Lcia Carvalho', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(64, 'Rancho grande', 'Sergio Gutirrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Va, 1', 'Madrid', '28001', 'Spain')
(70, 'Sant Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(73, 'Simons bistro', 'Jytte Petersen', 'Vinbltet 34', 'Kbenhavn', '1734', 'Denmark')
(74, 'Spcialits du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France')
(75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprmes dlices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(79, 'Toms Spezialitten', 'Karin Josephs', 'Luisenstr. 48', 'Mnster', '44087', 'Germany')
(80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'Mxico D.F.', '5033', 'Mexico')
(81, 'Tradio Hipermercados', 'Anabela Domingues', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(83, 'Vaffeljernet', 'Palle Ibsen', 'Smagslget 45', 'rhus', '8200', 'Denmark')
(84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(86, 'Die Wandernde Kuh', 'Rita Mller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')

## SQL INSERT INTO Statement

In [16]:
execute_sql_db(
    """
    INSERT INTO Customers (CustomerName, City, Country)
    VALUES ('Cardinal', 'Stavanger', 'Norway');
    """,
    "test2.db"
)

In [17]:
execute_sql_db(
    """
    INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
    VALUES
    ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway'),
    ('Greasy Burger', 'Per Olsen', 'Gateveien 15', 'Sandnes', '4306', 'Norway'),
    ('Tasty Tee', 'Finn Egan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK');
    """,
    "test2.db"
)

## SQL NULL Values

In [18]:
execute_sql_db(
    """
    SELECT CustomerName, ContactName, Address
    FROM Customers
    WHERE Address IS NULL;
    """,
    "test2.db"
)

('Cardinal', None, None)

In [19]:
execute_sql_db(
    """
    SELECT CustomerName, ContactName, Address
    FROM Customers
    WHERE Address IS NOT NULL;
    """,
    "test2.db"
)

('Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57')
('Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitucin 2222')
('Antonio Moreno Taquera', 'Antonio Moreno', 'Mataderos 2312')
('Around the Horn', 'Thomas Hardy', '120 Hanover Sq.')
('Berglunds snabbkp', 'Christina Berglund', 'Berguvsvgen 8')
('Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57')
('Blondel pre et fils', 'Frdrique Citeaux', '24, place Klber')
('Blido Comidas preparadas', 'Martn Sommer', 'C/ Araquil, 67')
("Bon app'", 'Laurence Lebihans', '12, rue des Bouchers')
('Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.')
("B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus')
('Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333')
('Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993')
('Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29')
('Comrcio Mineiro', 'Pedro Afonso', 'Av. dos Lusadas, 23')
('Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery')
('Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21')
('Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages')
('Eastern Connection', 'Ann Devon', '35 King George')
('Ernst Handel', 'Roland Mendel', 'Kirchgasse 6')
('Familia Arquibaldo', 'Aria Cruz', 'Rua Ors, 92')
('FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86')
('Folies gourmandes', 'Martine Ranc', '184, chausse de Tournai')
('Folk och f HB', 'Maria Larsson', 'kergatan 24')
('Frankenversand', 'Peter Franken', 'Berliner Platz 43')
('France restauration', 'Carine Schmitt', '54, rue Royale')
('Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34')
('Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32')
('Galera del gastrnomo', 'Eduardo Saavedra', 'Rambla de Catalua, 23')
('Godos Cocina Tpica', 'Jos Pedro Freyre', 'C/ Romero, 33')
('Gourmet Lanchonetes', 'Andr Fonseca', 'Av. Brasil, 442')
('Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.')
('GROSELLA-Restaurante', 'Manuel Pereira', '5 Ave. Los Palos Grandes')
('Hanari Carnes', 'Mario Pontes', 'Rua do Pao, 67')
('HILARIN-Abastos', 'Carlos Hernndez', 'Carrera 22 con Ave. Carlos Soublette #8-35')
('Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.')
('Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road')
('Island Trading', 'Helen Bennett', 'Garden House Crowther Way')
('Kniglich Essen', 'Philip Cramer', 'Maubelstr. 90')
("La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe")
("La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine')
('Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.')
('Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace')
('Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7')
("Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5')
('LILA-Supermercado', 'Carlos Gonzlez', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo')
('LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar')
('Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.')
('Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22')
('Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532')
('Mre Paillarde', 'Jean Fresnire', '43 rue St. Laurent')
('Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22')
('North/South', 'Simon Crowther', 'South House 300 Queensbridge')
('Ocano Atlntico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A')
('Old World Delicatessen', 'Rene Phillips', '2743 Bering St.')
('Ottilies Kseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369')
('Paris spcialits', 'Marie Bertrand', '265, boulevard Charonne')
('Pericles Comidas clsicas', 'Guillermo Fernndez', 'Calle Dr. Jorge Cash 321')
('Piccolo und mehr', 'Georg Pipps', 'Geislweg 14')
('Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da sade n. 58')
('Que Delcia', 'Bernardo Batista', 'Rua da Panificadora, 12')
('Queen Cozinha', 'Lcia Carvalho', 'Alameda dos Canrios, 891')
('QUICK-Stop', 'Horst Kloss', 'Taucherstrae 10')
('Rancho grande', 'Sergio Gutirrez', 'Av. del Libertador 900')
('Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.')
('Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124')
('Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267')
('Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237')
('Romero y tomillo', 'Alejandra Camino', 'Gran Va, 1')
('Sant Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78')
('Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.')
('Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.')
('Simons bistro', 'Jytte Petersen', 'Vinbltet 34')
('Spcialits du monde', 'Dominique Perrier', '25, rue Lauriston')
('Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555')
('Suprmes dlices', 'Pascale Cartrain', 'Boulevard Tirou, 255')
('The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2')
('The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.')
('Toms Spezialitten', 'Karin Josephs', 'Luisenstr. 48')
('Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123')
('Tradio Hipermercados', 'Anabela Domingues', 'Av. Ins de Castro, 414')
("Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.')
('Vaffeljernet', 'Palle Ibsen', 'Smagslget 45')
('Victuailles en stock', 'Mary Saveley', '2, rue du Commerce')
('Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye")
('Die Wandernde Kuh', 'Rita Mller', 'Adenauerallee 900')
('Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38')
('Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12')
('White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B')
('Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45')
('Wolski', 'Zbyszek', 'ul. Filtrowa 68')
('Cardinal', 'Tom B. Erichsen', 'Skagen 21')
('Greasy Burger', 'Per Olsen', 'Gateveien 15')
('Tasty Tee', 'Finn Egan', 'Streetroad 19B')

## SQL UPDATE Statement

In [20]:
execute_sql_db(
    """
    UPDATE Customers
    SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
    WHERE CustomerID = 1;
    """,
    "test2.db"
)

In [21]:
execute_sql_db(
    """
    UPDATE Customers
    SET ContactName='Juan'
    WHERE Country='Mexico';
    """,
    "test2.db"
)

In [23]:
execute_sql_db(
    """
    UPDATE Customers
    SET ContactName='Juan';
    """,
    "test2.db"
)

## SQL DELETE Statement

In [24]:
execute_sql_db(
    """
    DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste';
    """,
    "test2.db"
)

In [25]:
execute_sql_db(
    """
    DELETE FROM data;
    """,
    "test.db"
)

In [26]:
execute_sql_db(
    """
    DROP TABLE data;
    """,
    "test.db"
)

## SQL TOP, LIMIT, FETCH FIRST or ROWNUM Clause

In [28]:
execute_sql_db(
    """
    SELECT * 
    FROM Customers
    LIMIT 3;
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [32]:
execute_sql_db(
    """
    SELECT *
    FROM Customers
    LIMIT (SELECT COUNT(*) * 0.5 FROM Customers);
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbkp', 'Juan', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Juan', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel pre et fils', 'Juan', '24, place Klber', 'Strasbourg', '67000', 'France')
(8, 'Blido Comidas preparadas', 'Juan', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Juan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Juan', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Juan', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Juan', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(14, 'Chop-suey Chinese', 'Juan', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comrcio Mineiro', 'Juan', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Juan', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Juan', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Juan', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Juan', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Juan', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Juan', '184, chausse de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och f HB', 'Juan', 'kergatan 24', 'Brcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Juan', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(26, 'France restauration', 'Juan', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Juan', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Juan', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galera del gastrnomo', 'Juan', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Juan', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(31, 'Gourmet Lanchonetes', 'Juan', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Juan', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Juan', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Juan', 'Rua do Pao, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(35, 'HILARIN-Abastos', 'Juan', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Juan', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Juan', '8 Johnstown Road', 'Cork', '', 'Ireland')
(38, 'Island Trading', 'Juan', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Kniglich Essen', 'Juan', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(40, "La corne d'abondance", 'Juan', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Juan', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Juan', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'Juan', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(44, 'Lehmanns Marktstand', 'Juan', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(45, "Let's Stop N Shop", 'Juan', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(46, 'LILA-Supermercado', 'Juan', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Juan', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Juan', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')

In [33]:
execute_sql_db(
    """
    SELECT * 
    FROM Customers
    WHERE Country='Germany'
    LIMIT 3;
    """,
    "test2.db"
)

(6, 'Blauer See Delikatessen', 'Juan', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(17, 'Drachenblut Delikatessend', 'Juan', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(25, 'Frankenversand', 'Juan', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')

In [35]:
execute_sql_db(
    """
    SELECT * 
    FROM Customers
    ORDER BY CustomerName DESC
    LIMIT 3;
    """,
    "test2.db"
)

(91, 'Wolski', 'Juan', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')
(90, 'Wilman Kala', 'Juan', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(89, 'White Clover Markets', 'Juan', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')

# SQL Aggregate Functions

## SQL MIN() and MAX() Functions

In [36]:
execute_sql_db(
    """
    SELECT MIN(Price)
    FROM Products;
    """,
    "test2.db"
)

(2.5,)

In [37]:
execute_sql_db(
    """
    SELECT MAX(Price)
    FROM Products;
    """,
    "test2.db"
)

(263.5,)

In [38]:
#       
execute_sql_db(
    """
    SELECT MIN(Price) AS SmallestPrice
    FROM Products;
    """,
    "test2.db"
)

(2.5,)

In [39]:
execute_sql_db(
    """
    SELECT MIN(Price) AS SmallestPrice, CategoryID
    FROM Products
    GROUP BY CategoryID;
    """,
    "test2.db"
)

(4.5, '1')
(10.0, '2')
(9.2, '3')
(2.5, '4')
(7.0, '5')
(7.45, '6')
(10.0, '7')
(6.0, '8')

## SQL COUNT() Function

In [40]:
execute_sql_db(
    """
    SELECT COUNT(*)
    FROM Products;
    """,
    "test2.db"
)

(77,)

In [41]:
execute_sql_db(
    """
    SELECT COUNT(ProductName)
    FROM Products;
    """,
    "test2.db"
)

(77,)

In [42]:
execute_sql_db(
    """
    SELECT COUNT(ProductID)
    FROM Products
    WHERE Price > 20;
    """,
    "test2.db"
)

(37,)

In [43]:
execute_sql_db(
    """
    SELECT COUNT(DISTINCT Price)
    FROM Products;
    """,
    "test2.db"
)

(62,)

In [44]:
execute_sql_db(
    """
    SELECT COUNT(*) AS [Number of records]
    FROM Products;
    """,
    "test2.db"
)

(77,)

In [45]:
execute_sql_db(
    """
    SELECT COUNT(*) AS [Number of records], CategoryID
    FROM Products
    GROUP BY CategoryID;
    """,
    "test2.db"
)

(12, '1')
(12, '2')
(13, '3')
(10, '4')
(7, '5')
(6, '6')
(5, '7')
(12, '8')

## SQL SUM() Function

In [46]:
execute_sql_db(
    """
    SELECT SUM(Quantity)
    FROM OrderDetails;
    """,
    "test2.db"
)

(12743,)

In [47]:
execute_sql_db(
    """
    SELECT SUM(Quantity)
    FROM OrderDetails
    WHERE ProductId = 11;
    """,
    "test2.db"
)

(182,)

In [48]:
execute_sql_db(
    """
    SELECT SUM(Quantity) AS total
    FROM OrderDetails;
    """,
    "test2.db"
)

(12743,)

In [49]:
execute_sql_db(
    """
    SELECT OrderID, SUM(Quantity) AS [Total Quantity]
    FROM OrderDetails
    GROUP BY OrderID;
    """,
    "test2.db"
)

('10248', 27)
('10249', 49)
('10250', 60)
('10251', 41)
('10252', 105)
('10253', 102)
('10254', 57)
('10255', 110)
('10256', 27)
('10257', 46)
('10258', 121)
('10259', 11)
('10260', 102)
('10261', 40)
('10262', 29)
('10263', 184)
('10264', 60)
('10265', 50)
('10266', 12)
('10267', 135)
('10268', 14)
('10269', 80)
('10270', 55)
('10271', 24)
('10272', 70)
('10273', 152)
('10274', 27)
('10275', 18)
('10276', 25)
('10277', 32)
('10278', 64)
('10279', 15)
('10280', 62)
('10281', 11)
('10282', 8)
('10283', 76)
('10284', 61)
('10285', 121)
('10286', 140)
('10287', 75)
('10288', 13)
('10289', 39)
('10290', 60)
('10291', 46)
('10292', 20)
('10293', 33)
('10294', 75)
('10295', 4)
('10296', 57)
('10297', 80)
('10298', 125)
('10299', 35)
('10300', 50)
('10301', 30)
('10302', 80)
('10303', 85)
('10304', 42)
('10305', 80)
('10306', 25)
('10307', 13)
('10308', 6)
('10309', 75)
('10310', 15)
('10311', 13)
('10312', 58)
('10313', 12)
('10314', 95)
('10315', 44)
('10316', 80)
('10317', 20)
('10318', 26)
('10319', 52)
('10320', 30)
('10321', 10)
('10322', 20)
('10323', 13)
('10324', 241)
('10325', 71)
('10326', 90)
('10327', 140)
('10328', 59)
('10329', 50)
('10330', 75)
('10331', 15)
('10332', 66)
('10333', 60)
('10334', 18)
('10335', 86)
('10336', 18)
('10337', 137)
('10338', 35)
('10339', 108)
('10340', 72)
('10341', 17)
('10342', 160)
('10343', 69)
('10344', 105)
('10345', 159)
('10346', 56)
('10347', 70)
('10348', 40)
('10349', 24)
('10350', 33)
('10351', 120)
('10352', 30)
('10353', 62)
('10354', 16)
('10355', 50)
('10356', 62)
('10357', 54)
('10358', 40)
('10359', 206)
('10360', 138)
('10361', 109)
('10362', 94)
('10363', 44)
('10364', 35)
('10365', 24)
('10366', 10)
('10367', 76)
('10368', 78)
('10369', 38)
('10370', 65)
('10371', 6)
('10372', 164)
('10373', 130)
('10374', 45)
('10375', 25)
('10376', 42)
('10377', 40)
('10378', 6)
('10379', 44)
('10380', 74)
('10381', 14)
('10382', 165)
('10383', 55)
('10384', 43)
('10385', 38)
('10386', 25)
('10387', 48)
('10388', 75)
('10389', 81)
('10390', 169)
('10391', 18)
('10392', 50)
('10393', 176)
('10394', 20)
('10395', 106)
('10396', 121)
('10397', 28)
('10398', 150)
('10399', 139)
('10400', 86)
('10401', 168)
('10402', 125)
('10403', 91)
('10404', 100)
('10405', 50)
('10406', 89)
('10407', 60)
('10408', 51)
('10409', 24)
('10410', 65)
('10411', 74)
('10412', 20)
('10413', 78)
('10414', 68)
('10415', 22)
('10416', 50)
('10417', 123)
('10418', 146)
('10419', 80)
('10420', 50)
('10421', 59)
('10422', 2)
('10423', 34)
('10424', 139)
('10425', 30)
('10426', 12)
('10427', 35)
('10428', 20)
('10429', 75)
('10430', 195)
('10431', 130)
('10432', 50)
('10433', 28)
('10434', 24)
('10435', 32)
('10436', 99)
('10437', 15)
('10438', 50)
('10439', 67)
('10440', 208)
('10441', 50)
('10442', 170)
('10443', 18)

In [50]:
execute_sql_db(
    """
    SELECT SUM(Quantity * 10)
    FROM OrderDetails;
    """,
    "test2.db"
)

(127430,)

In [51]:
execute_sql_db(
    """
    SELECT SUM(Price * Quantity)
    FROM OrderDetails
    LEFT JOIN Products ON OrderDetails.ProductID = Products.ProductID;
    """,
    "test2.db"
)

(386424.23,)

## SQL AVG() Function

In [52]:
execute_sql_db(
    """
    SELECT AVG(Price)
    FROM Products;
    """,
    "test2.db"
)

(28.866363636363637,)

In [53]:
execute_sql_db(
    """
    SELECT AVG(Price)
    FROM Products
    WHERE CategoryID = 1;
    """,
    "test2.db"
)

(37.979166666666664,)

In [54]:
execute_sql_db(
    """
    SELECT AVG(Price) AS [average price]
    FROM Products;
    """,
    "test2.db"
)

(28.866363636363637,)

In [56]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE price > (SELECT AVG(price) FROM Products);
    """,
    "test2.db"
)

(7, "Uncle Bob's Organic Dried Pears", '3', '7', '12 - 1 lb pkgs.', 30.0)
(8, 'Northwoods Cranberry Sauce', '3', '2', '12 - 12 oz jars', 40.0)
(9, 'Mishi Kobe Niku', '4', '6', '18 - 500 g pkgs.', 97.0)
(10, 'Ikura', '4', '8', '12 - 200 ml jars', 31.0)
(12, 'Queso Manchego La Pastora', '5', '4', '10 - 500 g pkgs.', 38.0)
(17, 'Alice Mutton', '7', '6', '20 - 1 kg tins', 39.0)
(18, 'Carnarvon Tigers', '7', '8', '16 kg pkg.', 62.5)
(20, "Sir Rodney's Marmalade", '8', '3', '30 gift boxes', 81.0)
(26, 'Gumbr Gummibrchen', '11', '3', '100 - 250 g bags', 31.23)
(27, 'Schoggi Schokolade', '11', '3', '100 - 100 g pieces', 43.9)
(28, 'Rssle Sauerkraut', '12', '7', '25 - 825 g cans', 45.6)
(29, 'Thringer Rostbratwurst', '12', '6', '50 bags x 30 sausgs.', 123.79)
(32, 'Mascarpone Fabioli', '14', '4', '24 - 200 g pkgs.', 32.0)
(38, 'Cte de Blaye', '18', '1', '12 - 75 cl bottles', 263.5)
(43, 'Ipoh Coffee', '20', '1', '16 - 500 g tins', 46.0)
(51, 'Manjimup Dried Apples', '24', '7', '50 - 300 g pkgs.', 53.0)
(53, 'Perth Pasties', '24', '6', '48 pieces', 32.8)
(56, 'Gnocchi di nonna Alice', '26', '5', '24 - 250 g pkgs.', 38.0)
(59, 'Raclette Courdavault', '28', '4', '5 kg pkg.', 55.0)
(60, 'Camembert Pierrot', '28', '4', '15 - 300 g rounds', 34.0)
(62, 'Tarte au sucre', '29', '3', '48 pies', 49.3)
(63, 'Vegie-spread', '7', '2', '15 - 625 g jars', 43.9)
(64, 'Wimmers gute Semmelkndel', '12', '5', '20 bags x 4 pieces', 33.25)
(69, 'Gudbrandsdalsost', '15', '4', '10 kg pkg.', 36.0)
(72, 'Mozzarella di Giovanni', '14', '4', '24 - 200 g pkgs.', 34.8)

In [57]:
execute_sql_db(
    """
    SELECT AVG(Price) AS AveragePrice, CategoryID
    FROM Products
    GROUP BY CategoryID;
    """,
    "test2.db"
)

(37.979166666666664, '1')
(23.0625, '2')
(25.16, '3')
(28.73, '4')
(20.25, '5')
(54.00666666666667, '6')
(32.37, '7')
(20.6825, '8')

## SQL LIKE Operator

In [58]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE 'a%';
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [59]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE city LIKE 'L_nd__';
    """,
    "test2.db"
)

(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(75, 'Split Rail Beer & Ale', 'Juan', 'P.O. Box 555', 'Lander', '82520', 'USA')

In [60]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE city LIKE '%L%';
    """,
    "test2.db"
)

(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbkp', 'Juan', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(9, "Bon app'", 'Juan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(15, 'Comrcio Mineiro', 'Juan', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(21, 'Familia Arquibaldo', 'Juan', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil')
(23, 'Folies gourmandes', 'Juan', '184, chausse de Tournai', 'Lille', '59000', 'France')
(28, 'Furia Bacalhau e Frutos do Mar', 'Juan', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galera del gastrnomo', 'Juan', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Juan', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(35, 'HILARIN-Abastos', 'Juan', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Juan', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(40, "La corne d'abondance", 'Juan', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Juan', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(43, 'Lazy K Kountry Store', 'Juan', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(48, 'Lonesome Pine Restaurant', 'Juan', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(50, 'Maison Dewey', 'Juan', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(51, 'Mre Paillarde', 'Juan', '43 rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(52, 'Morgenstern Gesundkost', 'Juan', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(56, 'Ottilies Kseladen', 'Juan', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany')
(59, 'Piccolo und mehr', 'Juan', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(60, 'Princesa Isabel Vinhoss', 'Juan', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(62, 'Queen Cozinha', 'Juan', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(63, 'QUICK-Stop', 'Juan', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(65, 'Rattlesnake Canyon Grocery', 'Juan', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Juan', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(75, 'Split Rail Beer & Ale', 'Juan', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprmes dlices', 'Juan', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Juan', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(81, 'Tradio Hipermercados', 'Juan', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Juan', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(84, 'Victuailles en stock', 'Juan', '2, rue du Commerce', 'Lyon', '69004', 'France')
(87, 'Wartian Herkku', 'Juan', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(89, 'White Clover Markets', 'Juan', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Juan', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Juan', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')
(95, 'Tasty Tee', 'Juan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')

In [61]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE 'La%';
    """,
    "test2.db"
)

(40, "La corne d'abondance", 'Juan', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Juan', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Juan', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'Juan', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')

In [62]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE 'a%' OR CustomerName LIKE 'b%';
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbkp', 'Juan', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Juan', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel pre et fils', 'Juan', '24, place Klber', 'Strasbourg', '67000', 'France')
(8, 'Blido Comidas preparadas', 'Juan', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Juan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Juan', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')

In [63]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE '%a';
    """,
    "test2.db"
)

(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(13, 'Centro comercial Moctezuma', 'Juan', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(30, 'Godos Cocina Tpica', 'Juan', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(61, 'Que Delcia', 'Juan', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Juan', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(88, 'Wellington Importadora', 'Juan', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(90, 'Wilman Kala', 'Juan', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')

In [64]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE 'b%s';
    """,
    "test2.db"
)

(7, 'Blondel pre et fils', 'Juan', '24, place Klber', 'Strasbourg', '67000', 'France')
(8, 'Blido Comidas preparadas', 'Juan', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')

In [65]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE '%or%';
    """,
    "test2.db"
)

(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(36, 'Hungry Coyote Import Store', 'Juan', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(40, "La corne d'abondance", 'Juan', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(43, 'Lazy K Kountry Store', 'Juan', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(52, 'Morgenstern Gesundkost', 'Juan', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(55, 'Old World Delicatessen', 'Juan', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(80, 'Tortuga Restaurante', 'Juan', 'Avda. Azteca 123', 'Mxico D.F.', '5033', 'Mexico')
(88, 'Wellington Importadora', 'Juan', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')

In [66]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE 'a__%';
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [ ]:
execute_sql_db(
    """
    
    """,
    "test2.db"
)

In [67]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE '_r%';
    """,
    "test2.db"
)

(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(17, 'Drachenblut Delikatessend', 'Juan', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(20, 'Ernst Handel', 'Juan', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(25, 'Frankenversand', 'Juan', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(26, 'France restauration', 'Juan', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Juan', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(32, 'Great Lakes Food Market', 'Juan', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Juan', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(60, 'Princesa Isabel Vinhoss', 'Juan', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(81, 'Tradio Hipermercados', 'Juan', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Juan', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(94, 'Greasy Burger', 'Juan', 'Gateveien 15', 'Sandnes', '4306', 'Norway')

In [68]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE Country LIKE 'Spain';
    """,
    "test2.db"
)

(8, 'Blido Comidas preparadas', 'Juan', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Juan', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(29, 'Galera del gastrnomo', 'Juan', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Juan', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(69, 'Romero y tomillo', 'Juan', 'Gran Va, 1', 'Madrid', '28001', 'Spain')

## SQL Wildcards

In [69]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE 'a%';
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [70]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE '%mer%';
    """,
    "test2.db"
)

(13, 'Centro comercial Moctezuma', 'Juan', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(46, 'LILA-Supermercado', 'Juan', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(69, 'Romero y tomillo', 'Juan', 'Gran Va, 1', 'Madrid', '28001', 'Spain')
(81, 'Tradio Hipermercados', 'Juan', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')

In [71]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE City LIKE '_ondon';
    """,
    "test2.db"
)

(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')

In [72]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE City LIKE 'L___on';
    """,
    "test2.db"
)

(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')

In [73]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE '[bsp]%';
    """,
    "test2.db"
)

In [74]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE '[a-f]%';    
    """,
    "test2.db"
)

In [75]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE 'a__%';
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [76]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerName LIKE '_r%';
    """,
    "test2.db"
)

(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(17, 'Drachenblut Delikatessend', 'Juan', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(20, 'Ernst Handel', 'Juan', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(25, 'Frankenversand', 'Juan', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(26, 'France restauration', 'Juan', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Juan', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(32, 'Great Lakes Food Market', 'Juan', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Juan', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(60, 'Princesa Isabel Vinhoss', 'Juan', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(81, 'Tradio Hipermercados', 'Juan', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Juan', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(94, 'Greasy Burger', 'Juan', 'Gateveien 15', 'Sandnes', '4306', 'Norway')

In [77]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE Country LIKE 'Spain';
    """,
    "test2.db"
)

(8, 'Blido Comidas preparadas', 'Juan', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Juan', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(29, 'Galera del gastrnomo', 'Juan', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Juan', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(69, 'Romero y tomillo', 'Juan', 'Gran Va, 1', 'Madrid', '28001', 'Spain')

## SQL IN Operator

In [78]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE Country IN ('Germany', 'France', 'UK');
    """,
    "test2.db"
)

(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(6, 'Blauer See Delikatessen', 'Juan', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel pre et fils', 'Juan', '24, place Klber', 'Strasbourg', '67000', 'France')
(9, "Bon app'", 'Juan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Juan', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Juan', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(23, 'Folies gourmandes', 'Juan', '184, chausse de Tournai', 'Lille', '59000', 'France')
(25, 'Frankenversand', 'Juan', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(26, 'France restauration', 'Juan', '54, rue Royale', 'Nantes', '44000', 'France')
(38, 'Island Trading', 'Juan', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Kniglich Essen', 'Juan', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(40, "La corne d'abondance", 'Juan', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Juan', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(44, 'Lehmanns Marktstand', 'Juan', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(52, 'Morgenstern Gesundkost', 'Juan', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(56, 'Ottilies Kseladen', 'Juan', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany')
(57, 'Paris spcialits', 'Juan', '265, boulevard Charonne', 'Paris', '75012', 'France')
(63, 'QUICK-Stop', 'Juan', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(74, 'Spcialits du monde', 'Juan', '25, rue Lauriston', 'Paris', '75016', 'France')
(79, 'Toms Spezialitten', 'Juan', 'Luisenstr. 48', 'Mnster', '44087', 'Germany')
(84, 'Victuailles en stock', 'Juan', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Juan', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(86, 'Die Wandernde Kuh', 'Juan', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(95, 'Tasty Tee', 'Juan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')

In [79]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE Country NOT IN ('Germany', 'France', 'UK');
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(5, 'Berglunds snabbkp', 'Juan', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(8, 'Blido Comidas preparadas', 'Juan', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(10, 'Bottom-Dollar Marketse', 'Juan', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(12, 'Cactus Comidas para llevar', 'Juan', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Juan', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(14, 'Chop-suey Chinese', 'Juan', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comrcio Mineiro', 'Juan', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil')
(20, 'Ernst Handel', 'Juan', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Juan', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Juan', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(24, 'Folk och f HB', 'Juan', 'kergatan 24', 'Brcke', 'S-844 67', 'Sweden')
(27, 'Franchi S.p.A.', 'Juan', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Juan', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galera del gastrnomo', 'Juan', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Juan', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(31, 'Gourmet Lanchonetes', 'Juan', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Juan', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Juan', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Juan', 'Rua do Pao, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(35, 'HILARIN-Abastos', 'Juan', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Juan', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Juan', '8 Johnstown Road', 'Cork', '', 'Ireland')
(42, 'Laughing Bacchus Wine Cellars', 'Juan', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'Juan', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(45, "Let's Stop N Shop", 'Juan', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(46, 'LILA-Supermercado', 'Juan', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Juan', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Juan', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(49, 'Magazzini Alimentari Riuniti', 'Juan', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy')
(50, 'Maison Dewey', 'Juan', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(51, 'Mre Paillarde', 'Juan', '43 rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(54, 'Ocano Atlntico Ltda.', 'Juan', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina')
(55, 'Old World Delicatessen', 'Juan', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(58, 'Pericles Comidas clsicas', 'Juan', 'Calle Dr. Jorge Cash 321', 'Mxico D.F.', '5033', 'Mexico')
(59, 'Piccolo und mehr', 'Juan', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(60, 'Princesa Isabel Vinhoss', 'Juan', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(61, 'Que Delcia', 'Juan', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Juan', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(64, 'Rancho grande', 'Juan', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Juan', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Juan', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Juan', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Juan', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Juan', 'Gran Va, 1', 'Madrid', '28001', 'Spain')
(70, 'Sant Gourmet', 'Juan', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(71, 'Save-a-lot Markets', 'Juan', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(73, 'Simons bistro', 'Juan', 'Vinbltet 34', 'Kbenhavn', '1734', 'Denmark')
(75, 'Split Rail Beer & Ale', 'Juan', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprmes dlices', 'Juan', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Juan', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(78, 'The Cracker Box', 'Juan', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(80, 'Tortuga Restaurante', 'Juan', 'Avda. Azteca 123', 'Mxico D.F.', '5033', 'Mexico')
(81, 'Tradio Hipermercados', 'Juan', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Juan', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(83, 'Vaffeljernet', 'Juan', 'Smagslget 45', 'rhus', '8200', 'Denmark')
(87, 'Wartian Herkku', 'Juan', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Juan', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(89, 'White Clover Markets', 'Juan', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Juan', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Juan', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')
(92, 'Cardinal', 'Juan', None, 'Stavanger', None, 'Norway')
(93, 'Cardinal', 'Juan', 'Skagen 21', 'Stavanger', '4006', 'Norway')
(94, 'Greasy Burger', 'Juan', 'Gateveien 15', 'Sandnes', '4306', 'Norway')

In [80]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerID IN (SELECT CustomerID FROM Orders);
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbkp', 'Juan', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(7, 'Blondel pre et fils', 'Juan', '24, place Klber', 'Strasbourg', '67000', 'France')
(8, 'Blido Comidas preparadas', 'Juan', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Juan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Juan', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(13, 'Centro comercial Moctezuma', 'Juan', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(14, 'Chop-suey Chinese', 'Juan', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comrcio Mineiro', 'Juan', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Juan', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Juan', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Juan', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Juan', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil')
(23, 'Folies gourmandes', 'Juan', '184, chausse de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och f HB', 'Juan', 'kergatan 24', 'Brcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Juan', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(27, 'Franchi S.p.A.', 'Juan', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Juan', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galera del gastrnomo', 'Juan', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Juan', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(31, 'Gourmet Lanchonetes', 'Juan', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(33, 'GROSELLA-Restaurante', 'Juan', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Juan', 'Rua do Pao, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(35, 'HILARIN-Abastos', 'Juan', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Juan', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Juan', '8 Johnstown Road', 'Cork', '', 'Ireland')
(38, 'Island Trading', 'Juan', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Kniglich Essen', 'Juan', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(41, "La maison d'Asie", 'Juan', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(44, 'Lehmanns Marktstand', 'Juan', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(46, 'LILA-Supermercado', 'Juan', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Juan', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Juan', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(49, 'Magazzini Alimentari Riuniti', 'Juan', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy')
(51, 'Mre Paillarde', 'Juan', '43 rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(52, 'Morgenstern Gesundkost', 'Juan', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(54, 'Ocano Atlntico Ltda.', 'Juan', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina')
(55, 'Old World Delicatessen', 'Juan', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(56, 'Ottilies Kseladen', 'Juan', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany')
(58, 'Pericles Comidas clsicas', 'Juan', 'Calle Dr. Jorge Cash 321', 'Mxico D.F.', '5033', 'Mexico')
(59, 'Piccolo und mehr', 'Juan', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(60, 'Princesa Isabel Vinhoss', 'Juan', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(61, 'Que Delcia', 'Juan', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Juan', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(63, 'QUICK-Stop', 'Juan', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(65, 'Rattlesnake Canyon Grocery', 'Juan', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Juan', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Juan', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Juan', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Juan', 'Gran Va, 1', 'Madrid', '28001', 'Spain')
(70, 'Sant Gourmet', 'Juan', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(71, 'Save-a-lot Markets', 'Juan', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(73, 'Simons bistro', 'Juan', 'Vinbltet 34', 'Kbenhavn', '1734', 'Denmark')
(75, 'Split Rail Beer & Ale', 'Juan', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprmes dlices', 'Juan', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Juan', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(79, 'Toms Spezialitten', 'Juan', 'Luisenstr. 48', 'Mnster', '44087', 'Germany')
(80, 'Tortuga Restaurante', 'Juan', 'Avda. Azteca 123', 'Mxico D.F.', '5033', 'Mexico')
(81, 'Tradio Hipermercados', 'Juan', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(83, 'Vaffeljernet', 'Juan', 'Smagslget 45', 'rhus', '8200', 'Denmark')
(84, 'Victuailles en stock', 'Juan', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Juan', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(86, 'Die Wandernde Kuh', 'Juan', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(87, 'Wartian Herkku', 'Juan', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Juan', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(89, 'White Clover Markets', 'Juan', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Juan', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Juan', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')

In [81]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE CustomerID NOT IN (SELECT CustomerID FROM Orders);
    """,
    "test2.db"
)

(6, 'Blauer See Delikatessen', 'Juan', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(12, 'Cactus Comidas para llevar', 'Juan', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Juan', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(26, 'France restauration', 'Juan', '54, rue Royale', 'Nantes', '44000', 'France')
(32, 'Great Lakes Food Market', 'Juan', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(40, "La corne d'abondance", 'Juan', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Juan', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'Juan', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(45, "Let's Stop N Shop", 'Juan', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(50, 'Maison Dewey', 'Juan', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(57, 'Paris spcialits', 'Juan', '265, boulevard Charonne', 'Paris', '75012', 'France')
(64, 'Rancho grande', 'Juan', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(74, 'Spcialits du monde', 'Juan', '25, rue Lauriston', 'Paris', '75016', 'France')
(78, 'The Cracker Box', 'Juan', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(82, "Trail's Head Gourmet Provisioners", 'Juan', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(92, 'Cardinal', 'Juan', None, 'Stavanger', None, 'Norway')
(93, 'Cardinal', 'Juan', 'Skagen 21', 'Stavanger', '4006', 'Norway')
(94, 'Greasy Burger', 'Juan', 'Gateveien 15', 'Sandnes', '4306', 'Norway')
(95, 'Tasty Tee', 'Juan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')

## SQL BETWEEN Operator

In [82]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE Price BETWEEN 10 AND 20;
    """,
    "test2.db"
)

(1, 'Chais', '1', '1', '10 boxes x 20 bags', 18.0)
(2, 'Chang', '1', '1', '24 - 12 oz bottles', 19.0)
(3, 'Aniseed Syrup', '1', '2', '12 - 550 ml bottles', 10.0)
(15, 'Genen Shouyu', '6', '2', '24 - 250 ml bottles', 15.5)
(16, 'Pavlova', '7', '3', '32 - 500 g boxes', 17.45)
(21, "Sir Rodney's Scones", '8', '3', '24 pkgs. x 4 pieces', 10.0)
(25, 'NuNuCa Nu-Nougat-Creme', '11', '3', '20 - 450 g glasses', 14.0)
(31, 'Gorgonzola Telino', '14', '4', '12 - 100 g pkgs', 12.5)
(34, 'Sasquatch Ale', '16', '1', '24 - 12 oz bottles', 14.0)
(35, 'Steeleye Stout', '16', '1', '24 - 12 oz bottles', 18.0)
(36, 'Inlagd Sill', '17', '8', '24 - 250 g jars', 19.0)
(39, 'Chartreuse verte', '18', '1', '750 cc per bottle', 18.0)
(40, 'Boston Crab Meat', '19', '8', '24 - 4 oz tins', 18.4)
(42, 'Singaporean Hokkien Fried Mee', '20', '5', '32 - 1 kg pkgs.', 14.0)
(44, 'Gula Malacca', '20', '2', '20 - 2 kg bags', 19.45)
(46, 'Spegesild', '21', '8', '4 - 450 g glasses', 12.0)
(48, 'Chocolade', '22', '3', '10 pkgs.', 12.75)
(49, 'Maxilaku', '23', '3', '24 - 50 g pkgs.', 20.0)
(50, 'Valkoinen suklaa', '23', '3', '12 - 100 g bars', 16.25)
(57, 'Ravioli Angelo', '26', '5', '24 - 250 g pkgs.', 19.5)
(58, 'Escargots de Bourgogne', '27', '8', '24 pieces', 13.25)
(66, 'Louisiana Hot Spiced Okra', '2', '2', '24 - 8 oz jars', 17.0)
(67, 'Laughing Lumberjack Lager', '16', '1', '24 - 12 oz bottles', 14.0)
(68, 'Scottish Longbreads', '8', '3', '10 boxes x 8 pieces', 12.5)
(70, 'Outback Lager', '7', '1', '24 - 355 ml bottles', 15.0)
(73, 'Rd Kaviar', '17', '8', '24 - 150 g jars', 15.0)
(74, 'Longlife Tofu', '4', '7', '5 kg pkg.', 10.0)
(76, 'Lakkalikri', '23', '1', '500 ml', 18.0)
(77, 'Original Frankfurter grne Soe', '12', '2', '12 boxes', 13.0)

In [83]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE Price NOT BETWEEN 10 AND 20;
    """,
    "test2.db"
)

(4, "Chef Anton's Cajun Seasoning", '2', '2', '48 - 6 oz jars', 22.0)
(5, "Chef Anton's Gumbo Mix", '2', '2', '36 boxes', 21.35)
(6, "Grandma's Boysenberry Spread", '3', '2', '12 - 8 oz jars', 25.0)
(7, "Uncle Bob's Organic Dried Pears", '3', '7', '12 - 1 lb pkgs.', 30.0)
(8, 'Northwoods Cranberry Sauce', '3', '2', '12 - 12 oz jars', 40.0)
(9, 'Mishi Kobe Niku', '4', '6', '18 - 500 g pkgs.', 97.0)
(10, 'Ikura', '4', '8', '12 - 200 ml jars', 31.0)
(11, 'Queso Cabrales', '5', '4', '1 kg pkg.', 21.0)
(12, 'Queso Manchego La Pastora', '5', '4', '10 - 500 g pkgs.', 38.0)
(13, 'Konbu', '6', '8', '2 kg box', 6.0)
(14, 'Tofu', '6', '7', '40 - 100 g pkgs.', 23.25)
(17, 'Alice Mutton', '7', '6', '20 - 1 kg tins', 39.0)
(18, 'Carnarvon Tigers', '7', '8', '16 kg pkg.', 62.5)
(19, 'Teatime Chocolate Biscuits', '8', '3', '10 boxes x 12 pieces', 9.2)
(20, "Sir Rodney's Marmalade", '8', '3', '30 gift boxes', 81.0)
(22, "Gustaf's Knckebrd", '9', '5', '24 - 500 g pkgs.', 21.0)
(23, 'Tunnbrd', '9', '5', '12 - 250 g pkgs.', 9.0)
(24, 'Guaran Fantstica', '10', '1', '12 - 355 ml cans', 4.5)
(26, 'Gumbr Gummibrchen', '11', '3', '100 - 250 g bags', 31.23)
(27, 'Schoggi Schokolade', '11', '3', '100 - 100 g pieces', 43.9)
(28, 'Rssle Sauerkraut', '12', '7', '25 - 825 g cans', 45.6)
(29, 'Thringer Rostbratwurst', '12', '6', '50 bags x 30 sausgs.', 123.79)
(30, 'Nord-Ost Matjeshering', '13', '8', '10 - 200 g glasses', 25.89)
(32, 'Mascarpone Fabioli', '14', '4', '24 - 200 g pkgs.', 32.0)
(33, 'Geitost', '15', '4', '500 g', 2.5)
(37, 'Gravad lax', '17', '8', '12 - 500 g pkgs.', 26.0)
(38, 'Cte de Blaye', '18', '1', '12 - 75 cl bottles', 263.5)
(41, "Jack's New England Clam Chowder", '19', '8', '12 - 12 oz cans', 9.65)
(43, 'Ipoh Coffee', '20', '1', '16 - 500 g tins', 46.0)
(45, 'Rgede sild', '21', '8', '1k pkg.', 9.5)
(47, 'Zaanse koeken', '22', '3', '10 - 4 oz boxes', 9.5)
(51, 'Manjimup Dried Apples', '24', '7', '50 - 300 g pkgs.', 53.0)
(52, 'Filo Mix', '24', '5', '16 - 2 kg boxes', 7.0)
(53, 'Perth Pasties', '24', '6', '48 pieces', 32.8)
(54, 'Tourtire', '25', '6', '16 pies', 7.45)
(55, 'Pt chinois', '25', '6', '24 boxes x 2 pies', 24.0)
(56, 'Gnocchi di nonna Alice', '26', '5', '24 - 250 g pkgs.', 38.0)
(59, 'Raclette Courdavault', '28', '4', '5 kg pkg.', 55.0)
(60, 'Camembert Pierrot', '28', '4', '15 - 300 g rounds', 34.0)
(61, "Sirop d'rable", '29', '2', '24 - 500 ml bottles', 28.5)
(62, 'Tarte au sucre', '29', '3', '48 pies', 49.3)
(63, 'Vegie-spread', '7', '2', '15 - 625 g jars', 43.9)
(64, 'Wimmers gute Semmelkndel', '12', '5', '20 bags x 4 pieces', 33.25)
(65, 'Louisiana Fiery Hot Pepper Sauce', '2', '2', '32 - 8 oz bottles', 21.05)
(69, 'Gudbrandsdalsost', '15', '4', '10 kg pkg.', 36.0)
(71, 'Fltemysost', '15', '4', '10 - 500 g pkgs.', 21.5)
(72, 'Mozzarella di Giovanni', '14', '4', '24 - 200 g pkgs.', 34.8)
(75, 'Rhnbru Klosterbier', '12', '1', '24 - 0.5 l bottles', 7.75)

In [84]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE Price BETWEEN 10 AND 20
    AND CategoryID IN (1,2,3);
    """,
    "test2.db"
)

(1, 'Chais', '1', '1', '10 boxes x 20 bags', 18.0)
(2, 'Chang', '1', '1', '24 - 12 oz bottles', 19.0)
(3, 'Aniseed Syrup', '1', '2', '12 - 550 ml bottles', 10.0)
(15, 'Genen Shouyu', '6', '2', '24 - 250 ml bottles', 15.5)
(16, 'Pavlova', '7', '3', '32 - 500 g boxes', 17.45)
(21, "Sir Rodney's Scones", '8', '3', '24 pkgs. x 4 pieces', 10.0)
(25, 'NuNuCa Nu-Nougat-Creme', '11', '3', '20 - 450 g glasses', 14.0)
(34, 'Sasquatch Ale', '16', '1', '24 - 12 oz bottles', 14.0)
(35, 'Steeleye Stout', '16', '1', '24 - 12 oz bottles', 18.0)
(39, 'Chartreuse verte', '18', '1', '750 cc per bottle', 18.0)
(44, 'Gula Malacca', '20', '2', '20 - 2 kg bags', 19.45)
(48, 'Chocolade', '22', '3', '10 pkgs.', 12.75)
(49, 'Maxilaku', '23', '3', '24 - 50 g pkgs.', 20.0)
(50, 'Valkoinen suklaa', '23', '3', '12 - 100 g bars', 16.25)
(66, 'Louisiana Hot Spiced Okra', '2', '2', '24 - 8 oz jars', 17.0)
(67, 'Laughing Lumberjack Lager', '16', '1', '24 - 12 oz bottles', 14.0)
(68, 'Scottish Longbreads', '8', '3', '10 boxes x 8 pieces', 12.5)
(70, 'Outback Lager', '7', '1', '24 - 355 ml bottles', 15.0)
(76, 'Lakkalikri', '23', '1', '500 ml', 18.0)
(77, 'Original Frankfurter grne Soe', '12', '2', '12 boxes', 13.0)

In [85]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
    ORDER BY ProductName;
    """,
    "test2.db"
)

(18, 'Carnarvon Tigers', '7', '8', '16 kg pkg.', 62.5)
(1, 'Chais', '1', '1', '10 boxes x 20 bags', 18.0)
(2, 'Chang', '1', '1', '24 - 12 oz bottles', 19.0)
(39, 'Chartreuse verte', '18', '1', '750 cc per bottle', 18.0)
(4, "Chef Anton's Cajun Seasoning", '2', '2', '48 - 6 oz jars', 22.0)
(5, "Chef Anton's Gumbo Mix", '2', '2', '36 boxes', 21.35)
(48, 'Chocolade', '22', '3', '10 pkgs.', 12.75)
(38, 'Cte de Blaye', '18', '1', '12 - 75 cl bottles', 263.5)
(58, 'Escargots de Bourgogne', '27', '8', '24 pieces', 13.25)
(52, 'Filo Mix', '24', '5', '16 - 2 kg boxes', 7.0)
(71, 'Fltemysost', '15', '4', '10 - 500 g pkgs.', 21.5)
(33, 'Geitost', '15', '4', '500 g', 2.5)
(15, 'Genen Shouyu', '6', '2', '24 - 250 ml bottles', 15.5)
(56, 'Gnocchi di nonna Alice', '26', '5', '24 - 250 g pkgs.', 38.0)
(31, 'Gorgonzola Telino', '14', '4', '12 - 100 g pkgs', 12.5)
(6, "Grandma's Boysenberry Spread", '3', '2', '12 - 8 oz jars', 25.0)
(37, 'Gravad lax', '17', '8', '12 - 500 g pkgs.', 26.0)
(24, 'Guaran Fantstica', '10', '1', '12 - 355 ml cans', 4.5)
(69, 'Gudbrandsdalsost', '15', '4', '10 kg pkg.', 36.0)
(44, 'Gula Malacca', '20', '2', '20 - 2 kg bags', 19.45)
(26, 'Gumbr Gummibrchen', '11', '3', '100 - 250 g bags', 31.23)
(22, "Gustaf's Knckebrd", '9', '5', '24 - 500 g pkgs.', 21.0)
(10, 'Ikura', '4', '8', '12 - 200 ml jars', 31.0)
(36, 'Inlagd Sill', '17', '8', '24 - 250 g jars', 19.0)
(43, 'Ipoh Coffee', '20', '1', '16 - 500 g tins', 46.0)
(41, "Jack's New England Clam Chowder", '19', '8', '12 - 12 oz cans', 9.65)
(13, 'Konbu', '6', '8', '2 kg box', 6.0)
(76, 'Lakkalikri', '23', '1', '500 ml', 18.0)
(67, 'Laughing Lumberjack Lager', '16', '1', '24 - 12 oz bottles', 14.0)
(74, 'Longlife Tofu', '4', '7', '5 kg pkg.', 10.0)
(65, 'Louisiana Fiery Hot Pepper Sauce', '2', '2', '32 - 8 oz bottles', 21.05)
(66, 'Louisiana Hot Spiced Okra', '2', '2', '24 - 8 oz jars', 17.0)
(51, 'Manjimup Dried Apples', '24', '7', '50 - 300 g pkgs.', 53.0)
(32, 'Mascarpone Fabioli', '14', '4', '24 - 200 g pkgs.', 32.0)
(49, 'Maxilaku', '23', '3', '24 - 50 g pkgs.', 20.0)
(9, 'Mishi Kobe Niku', '4', '6', '18 - 500 g pkgs.', 97.0)
(72, 'Mozzarella di Giovanni', '14', '4', '24 - 200 g pkgs.', 34.8)

In [87]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE ProductName BETWEEN "Carnarvon Tigers" AND "Chef Anton's Cajun Seasoning"
    ORDER BY ProductName;
    """,
    "test2.db"
)

(18, 'Carnarvon Tigers', '7', '8', '16 kg pkg.', 62.5)
(1, 'Chais', '1', '1', '10 boxes x 20 bags', 18.0)
(2, 'Chang', '1', '1', '24 - 12 oz bottles', 19.0)
(39, 'Chartreuse verte', '18', '1', '750 cc per bottle', 18.0)
(4, "Chef Anton's Cajun Seasoning", '2', '2', '48 - 6 oz jars', 22.0)

In [86]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE ProductName NOT BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
    ORDER BY ProductName;
    """,
    "test2.db"
)

(17, 'Alice Mutton', '7', '6', '20 - 1 kg tins', 39.0)
(3, 'Aniseed Syrup', '1', '2', '12 - 550 ml bottles', 10.0)
(40, 'Boston Crab Meat', '19', '8', '24 - 4 oz tins', 18.4)
(60, 'Camembert Pierrot', '28', '4', '15 - 300 g rounds', 34.0)
(30, 'Nord-Ost Matjeshering', '13', '8', '10 - 200 g glasses', 25.89)
(8, 'Northwoods Cranberry Sauce', '3', '2', '12 - 12 oz jars', 40.0)
(25, 'NuNuCa Nu-Nougat-Creme', '11', '3', '20 - 450 g glasses', 14.0)
(77, 'Original Frankfurter grne Soe', '12', '2', '12 boxes', 13.0)
(70, 'Outback Lager', '7', '1', '24 - 355 ml bottles', 15.0)
(16, 'Pavlova', '7', '3', '32 - 500 g boxes', 17.45)
(53, 'Perth Pasties', '24', '6', '48 pieces', 32.8)
(55, 'Pt chinois', '25', '6', '24 boxes x 2 pies', 24.0)
(11, 'Queso Cabrales', '5', '4', '1 kg pkg.', 21.0)
(12, 'Queso Manchego La Pastora', '5', '4', '10 - 500 g pkgs.', 38.0)
(59, 'Raclette Courdavault', '28', '4', '5 kg pkg.', 55.0)
(57, 'Ravioli Angelo', '26', '5', '24 - 250 g pkgs.', 19.5)
(75, 'Rhnbru Klosterbier', '12', '1', '24 - 0.5 l bottles', 7.75)
(73, 'Rd Kaviar', '17', '8', '24 - 150 g jars', 15.0)
(28, 'Rssle Sauerkraut', '12', '7', '25 - 825 g cans', 45.6)
(45, 'Rgede sild', '21', '8', '1k pkg.', 9.5)
(34, 'Sasquatch Ale', '16', '1', '24 - 12 oz bottles', 14.0)
(27, 'Schoggi Schokolade', '11', '3', '100 - 100 g pieces', 43.9)
(68, 'Scottish Longbreads', '8', '3', '10 boxes x 8 pieces', 12.5)
(42, 'Singaporean Hokkien Fried Mee', '20', '5', '32 - 1 kg pkgs.', 14.0)
(20, "Sir Rodney's Marmalade", '8', '3', '30 gift boxes', 81.0)
(21, "Sir Rodney's Scones", '8', '3', '24 pkgs. x 4 pieces', 10.0)
(61, "Sirop d'rable", '29', '2', '24 - 500 ml bottles', 28.5)
(46, 'Spegesild', '21', '8', '4 - 450 g glasses', 12.0)
(35, 'Steeleye Stout', '16', '1', '24 - 12 oz bottles', 18.0)
(62, 'Tarte au sucre', '29', '3', '48 pies', 49.3)
(19, 'Teatime Chocolate Biscuits', '8', '3', '10 boxes x 12 pieces', 9.2)
(29, 'Thringer Rostbratwurst', '12', '6', '50 bags x 30 sausgs.', 123.79)
(14, 'Tofu', '6', '7', '40 - 100 g pkgs.', 23.25)
(54, 'Tourtire', '25', '6', '16 pies', 7.45)
(23, 'Tunnbrd', '9', '5', '12 - 250 g pkgs.', 9.0)
(7, "Uncle Bob's Organic Dried Pears", '3', '7', '12 - 1 lb pkgs.', 30.0)
(50, 'Valkoinen suklaa', '23', '3', '12 - 100 g bars', 16.25)
(63, 'Vegie-spread', '7', '2', '15 - 625 g jars', 43.9)
(64, 'Wimmers gute Semmelkndel', '12', '5', '20 bags x 4 pieces', 33.25)
(47, 'Zaanse koeken', '22', '3', '10 - 4 oz boxes', 9.5)

In [90]:
# #07/01/1996# AND #07/31/1996#  
# execute_sql_db(
#     """
#     SELECT * FROM Orders
#     WHERE OrderDate BETWEEN #07/01/1996# AND #07/31/1996#;
#     """,
#     "test2.db"
# )

In [89]:
execute_sql_db(
    """
    SELECT * FROM Orders
    WHERE OrderDate BETWEEN '1996-07-01' AND '1996-07-31';
    """,
    "test2.db"
)

In [91]:
execute_sql_db(
    """
    SELECT CustomerID AS ID
    FROM Customers;
    """,
    "test2.db"
)

(2,)
(3,)
(4,)
(5,)
(6,)
(7,)
(8,)
(9,)
(10,)
(11,)
(12,)
(13,)
(14,)
(15,)
(16,)
(17,)
(18,)
(19,)
(20,)
(21,)
(22,)
(23,)
(24,)
(25,)
(26,)
(27,)
(28,)
(29,)
(30,)
(31,)
(32,)
(33,)
(34,)
(35,)
(36,)
(37,)
(38,)
(39,)
(40,)
(41,)
(42,)
(43,)
(44,)
(45,)
(46,)
(47,)
(48,)
(49,)
(50,)
(51,)
(52,)
(53,)
(54,)
(55,)
(56,)
(57,)
(58,)
(59,)
(60,)
(61,)
(62,)
(63,)
(64,)
(65,)
(66,)
(67,)
(68,)
(69,)
(70,)
(71,)
(72,)
(73,)
(74,)
(75,)
(76,)
(77,)
(78,)
(79,)
(80,)
(81,)
(82,)
(83,)
(84,)
(85,)
(86,)
(87,)
(88,)
(89,)
(90,)
(91,)
(92,)
(93,)
(94,)
(95,)

## SQL Aliases

In [92]:
execute_sql_db(
    """
    SELECT CustomerID ID
    FROM Customers;
    """,
    "test2.db"
)

(2,)
(3,)
(4,)
(5,)
(6,)
(7,)
(8,)
(9,)
(10,)
(11,)
(12,)
(13,)
(14,)
(15,)
(16,)
(17,)
(18,)
(19,)
(20,)
(21,)
(22,)
(23,)
(24,)
(25,)
(26,)
(27,)
(28,)
(29,)
(30,)
(31,)
(32,)
(33,)
(34,)
(35,)
(36,)
(37,)
(38,)
(39,)
(40,)
(41,)
(42,)
(43,)
(44,)
(45,)
(46,)
(47,)
(48,)
(49,)
(50,)
(51,)
(52,)
(53,)
(54,)
(55,)
(56,)
(57,)
(58,)
(59,)
(60,)
(61,)
(62,)
(63,)
(64,)
(65,)
(66,)
(67,)
(68,)
(69,)
(70,)
(71,)
(72,)
(73,)
(74,)
(75,)
(76,)
(77,)
(78,)
(79,)
(80,)
(81,)
(82,)
(83,)
(84,)
(85,)
(86,)
(87,)
(88,)
(89,)
(90,)
(91,)
(92,)
(93,)
(94,)
(95,)

In [93]:
execute_sql_db(
    """
    SELECT CustomerID AS ID, CustomerName AS Customer
    FROM Customers;
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados')
(3, 'Antonio Moreno Taquera')
(4, 'Around the Horn')
(5, 'Berglunds snabbkp')
(6, 'Blauer See Delikatessen')
(7, 'Blondel pre et fils')
(8, 'Blido Comidas preparadas')
(9, "Bon app'")
(10, 'Bottom-Dollar Marketse')
(11, "B's Beverages")
(12, 'Cactus Comidas para llevar')
(13, 'Centro comercial Moctezuma')
(14, 'Chop-suey Chinese')
(15, 'Comrcio Mineiro')
(16, 'Consolidated Holdings')
(17, 'Drachenblut Delikatessend')
(18, 'Du monde entier')
(19, 'Eastern Connection')
(20, 'Ernst Handel')
(21, 'Familia Arquibaldo')
(22, 'FISSA Fabrica Inter. Salchichas S.A.')
(23, 'Folies gourmandes')
(24, 'Folk och f HB')
(25, 'Frankenversand')
(26, 'France restauration')
(27, 'Franchi S.p.A.')
(28, 'Furia Bacalhau e Frutos do Mar')
(29, 'Galera del gastrnomo')
(30, 'Godos Cocina Tpica')
(31, 'Gourmet Lanchonetes')
(32, 'Great Lakes Food Market')
(33, 'GROSELLA-Restaurante')
(34, 'Hanari Carnes')
(35, 'HILARIN-Abastos')
(36, 'Hungry Coyote Import Store')
(37, 'Hungry Owl All-Night Grocers')
(38, 'Island Trading')
(39, 'Kniglich Essen')
(40, "La corne d'abondance")
(41, "La maison d'Asie")
(42, 'Laughing Bacchus Wine Cellars')
(43, 'Lazy K Kountry Store')
(44, 'Lehmanns Marktstand')
(45, "Let's Stop N Shop")
(46, 'LILA-Supermercado')
(47, 'LINO-Delicateses')
(48, 'Lonesome Pine Restaurant')
(49, 'Magazzini Alimentari Riuniti')
(50, 'Maison Dewey')
(51, 'Mre Paillarde')
(52, 'Morgenstern Gesundkost')
(53, 'North/South')
(54, 'Ocano Atlntico Ltda.')
(55, 'Old World Delicatessen')
(56, 'Ottilies Kseladen')
(57, 'Paris spcialits')
(58, 'Pericles Comidas clsicas')
(59, 'Piccolo und mehr')
(60, 'Princesa Isabel Vinhoss')
(61, 'Que Delcia')
(62, 'Queen Cozinha')
(63, 'QUICK-Stop')
(64, 'Rancho grande')
(65, 'Rattlesnake Canyon Grocery')
(66, 'Reggiani Caseifici')
(67, 'Ricardo Adocicados')
(68, 'Richter Supermarkt')
(69, 'Romero y tomillo')
(70, 'Sant Gourmet')
(71, 'Save-a-lot Markets')
(72, 'Seven Seas Imports')
(73, 'Simons bistro')
(74, 'Spcialits du monde')
(75, 'Split Rail Beer & Ale')
(76, 'Suprmes dlices')
(77, 'The Big Cheese')
(78, 'The Cracker Box')
(79, 'Toms Spezialitten')
(80, 'Tortuga Restaurante')
(81, 'Tradio Hipermercados')
(82, "Trail's Head Gourmet Provisioners")
(83, 'Vaffeljernet')
(84, 'Victuailles en stock')
(85, 'Vins et alcools Chevalier')
(86, 'Die Wandernde Kuh')
(87, 'Wartian Herkku')
(88, 'Wellington Importadora')
(89, 'White Clover Markets')
(90, 'Wilman Kala')
(91, 'Wolski')
(92, 'Cardinal')
(93, 'Cardinal')
(94, 'Greasy Burger')
(95, 'Tasty Tee')

In [94]:
execute_sql_db(
    """
    SELECT ProductName AS [My Great Products]
    FROM Products;
    """,
    "test2.db"
)

('Chais',)
('Chang',)
('Aniseed Syrup',)
("Chef Anton's Cajun Seasoning",)
("Chef Anton's Gumbo Mix",)
("Grandma's Boysenberry Spread",)
("Uncle Bob's Organic Dried Pears",)
('Northwoods Cranberry Sauce',)
('Mishi Kobe Niku',)
('Ikura',)
('Queso Cabrales',)
('Queso Manchego La Pastora',)
('Konbu',)
('Tofu',)
('Genen Shouyu',)
('Pavlova',)
('Alice Mutton',)
('Carnarvon Tigers',)
('Teatime Chocolate Biscuits',)
("Sir Rodney's Marmalade",)
("Sir Rodney's Scones",)
("Gustaf's Knckebrd",)
('Tunnbrd',)
('Guaran Fantstica',)
('NuNuCa Nu-Nougat-Creme',)
('Gumbr Gummibrchen',)
('Schoggi Schokolade',)
('Rssle Sauerkraut',)
('Thringer Rostbratwurst',)
('Nord-Ost Matjeshering',)
('Gorgonzola Telino',)
('Mascarpone Fabioli',)
('Geitost',)
('Sasquatch Ale',)
('Steeleye Stout',)
('Inlagd Sill',)
('Gravad lax',)
('Cte de Blaye',)
('Chartreuse verte',)
('Boston Crab Meat',)
("Jack's New England Clam Chowder",)
('Singaporean Hokkien Fried Mee',)
('Ipoh Coffee',)
('Gula Malacca',)
('Rgede sild',)
('Spegesild',)
('Zaanse koeken',)
('Chocolade',)
('Maxilaku',)
('Valkoinen suklaa',)
('Manjimup Dried Apples',)
('Filo Mix',)
('Perth Pasties',)
('Tourtire',)
('Pt chinois',)
('Gnocchi di nonna Alice',)
('Ravioli Angelo',)
('Escargots de Bourgogne',)
('Raclette Courdavault',)
('Camembert Pierrot',)
("Sirop d'rable",)
('Tarte au sucre',)
('Vegie-spread',)
('Wimmers gute Semmelkndel',)
('Louisiana Fiery Hot Pepper Sauce',)
('Louisiana Hot Spiced Okra',)
('Laughing Lumberjack Lager',)
('Scottish Longbreads',)
('Gudbrandsdalsost',)
('Outback Lager',)
('Fltemysost',)
('Mozzarella di Giovanni',)
('Rd Kaviar',)
('Longlife Tofu',)
('Rhnbru Klosterbier',)
('Lakkalikri',)
('Original Frankfurter grne Soe',)

In [95]:
execute_sql_db(
    """
    SELECT ProductName AS "My Great Products"
    FROM Products;
    """,
    "test2.db"
)

('Chais',)
('Chang',)
('Aniseed Syrup',)
("Chef Anton's Cajun Seasoning",)
("Chef Anton's Gumbo Mix",)
("Grandma's Boysenberry Spread",)
("Uncle Bob's Organic Dried Pears",)
('Northwoods Cranberry Sauce',)
('Mishi Kobe Niku',)
('Ikura',)
('Queso Cabrales',)
('Queso Manchego La Pastora',)
('Konbu',)
('Tofu',)
('Genen Shouyu',)
('Pavlova',)
('Alice Mutton',)
('Carnarvon Tigers',)
('Teatime Chocolate Biscuits',)
("Sir Rodney's Marmalade",)
("Sir Rodney's Scones",)
("Gustaf's Knckebrd",)
('Tunnbrd',)
('Guaran Fantstica',)
('NuNuCa Nu-Nougat-Creme',)
('Gumbr Gummibrchen',)
('Schoggi Schokolade',)
('Rssle Sauerkraut',)
('Thringer Rostbratwurst',)
('Nord-Ost Matjeshering',)
('Gorgonzola Telino',)
('Mascarpone Fabioli',)
('Geitost',)
('Sasquatch Ale',)
('Steeleye Stout',)
('Inlagd Sill',)
('Gravad lax',)
('Cte de Blaye',)
('Chartreuse verte',)
('Boston Crab Meat',)
("Jack's New England Clam Chowder",)
('Singaporean Hokkien Fried Mee',)
('Ipoh Coffee',)
('Gula Malacca',)
('Rgede sild',)
('Spegesild',)
('Zaanse koeken',)
('Chocolade',)
('Maxilaku',)
('Valkoinen suklaa',)
('Manjimup Dried Apples',)
('Filo Mix',)
('Perth Pasties',)
('Tourtire',)
('Pt chinois',)
('Gnocchi di nonna Alice',)
('Ravioli Angelo',)
('Escargots de Bourgogne',)
('Raclette Courdavault',)
('Camembert Pierrot',)
("Sirop d'rable",)
('Tarte au sucre',)
('Vegie-spread',)
('Wimmers gute Semmelkndel',)
('Louisiana Fiery Hot Pepper Sauce',)
('Louisiana Hot Spiced Okra',)
('Laughing Lumberjack Lager',)
('Scottish Longbreads',)
('Gudbrandsdalsost',)
('Outback Lager',)
('Fltemysost',)
('Mozzarella di Giovanni',)
('Rd Kaviar',)
('Longlife Tofu',)
('Rhnbru Klosterbier',)
('Lakkalikri',)
('Original Frankfurter grne Soe',)

In [96]:
execute_sql_db(
    """
    SELECT CustomerName, Address + ', ' + PostalCode + ' ' + City + ', ' + Country AS Address
    FROM Customers;
    """,
    "test2.db"
)

('Ana Trujillo Emparedados y helados', 5021)
('Antonio Moreno Taquera', 5023)
('Around the Horn', 120)
('Berglunds snabbkp', 0)
('Blauer See Delikatessen', 68306)
('Blondel pre et fils', 67024)
('Blido Comidas preparadas', 28023)
("Bon app'", 13020)
('Bottom-Dollar Marketse', 23)
("B's Beverages", 0)
('Cactus Comidas para llevar', 1010)
('Centro comercial Moctezuma', 5022)
('Chop-suey Chinese', 3012)
('Comrcio Mineiro', 5432)
('Consolidated Holdings', 0)
('Drachenblut Delikatessend', 52066)
('Du monde entier', 44067)
('Eastern Connection', 35)
('Ernst Handel', 8010)
('Familia Arquibaldo', 5442)
('FISSA Fabrica Inter. Salchichas S.A.', 28034)
('Folies gourmandes', 59184)
('Folk och f HB', 0)
('Frankenversand', 80805)
('France restauration', 44054)
('Franchi S.p.A.', 10100)
('Furia Bacalhau e Frutos do Mar', 1675)
('Galera del gastrnomo', 8022)
('Godos Cocina Tpica', 41101)
('Gourmet Lanchonetes', 4876)
('Great Lakes Food Market', 100135)
('GROSELLA-Restaurante', 1086)
('Hanari Carnes', 5454)
('HILARIN-Abastos', 5022)
('Hungry Coyote Import Store', 97827)
('Hungry Owl All-Night Grocers', 8)
('Island Trading', 0)
('Kniglich Essen', 14776)
("La corne d'abondance", 78067)
("La maison d'Asie", 31001)
('Laughing Bacchus Wine Cellars', 1900)
('Lazy K Kountry Store', 99374)
('Lehmanns Marktstand', 60528)
("Let's Stop N Shop", 94204)
('LILA-Supermercado', 3508)
('LINO-Delicateses', 4980)
('Lonesome Pine Restaurant', 97308)
('Magazzini Alimentari Riuniti', 24100)
('Maison Dewey', 0)
('Mre Paillarde', 43)
('Morgenstern Gesundkost', 4179)
('North/South', 0)
('Ocano Atlntico Ltda.', 1010)
('Old World Delicatessen', 102251)
('Ottilies Kseladen', 50739)
('Paris spcialits', 75277)
('Pericles Comidas clsicas', 5033)
('Piccolo und mehr', 5020)
('Princesa Isabel Vinhoss', 1756)
('Que Delcia', 2389)
('Queen Cozinha', 5487)
('QUICK-Stop', 1307)
('Rancho grande', 1010)
('Rattlesnake Canyon Grocery', 89927)
('Reggiani Caseifici', 42100)
('Ricardo Adocicados', 2389)
('Richter Supermarkt', 1203)
('Romero y tomillo', 28001)
('Sant Gourmet', 4110)
('Save-a-lot Markets', 83907)
('Seven Seas Imports', 90)
('Simons bistro', 1734)
('Spcialits du monde', 75041)
('Split Rail Beer & Ale', 82520)
('Suprmes dlices', 0)
('The Big Cheese', 97290)
('The Cracker Box', 59856)
('Toms Spezialitten', 44087)
('Tortuga Restaurante', 5033)
('Tradio Hipermercados', 5634)
("Trail's Head Gourmet Provisioners", 98756)
('Vaffeljernet', 8200)
('Victuailles en stock', 69006)
('Vins et alcools Chevalier', 51159)
('Die Wandernde Kuh', 70563)
('Wartian Herkku', 90110)
('Wellington Importadora', 8737)
('White Clover Markets', 98433)
('Wilman Kala', 21240)
('Wolski', 1)
('Cardinal', None)
('Cardinal', 4006)
('Greasy Burger', 4306)
('Tasty Tee', 0)

In [97]:
execute_sql_db(
    """
    SELECT CustomerName, CONCAT(Address,', ',PostalCode,', ',City,', ',Country) AS Address
    FROM Customers;
    """,
    "test2.db"
)

('Ana Trujillo Emparedados y helados', 'Avda. de la Constitucin 2222, 5021, Mxico D.F., Mexico')
('Antonio Moreno Taquera', 'Mataderos 2312, 5023, Mxico D.F., Mexico')
('Around the Horn', '120 Hanover Sq., WA1 1DP, London, UK')
('Berglunds snabbkp', 'Berguvsvgen 8, S-958 22, Lule, Sweden')
('Blauer See Delikatessen', 'Forsterstr. 57, 68306, Mannheim, Germany')
('Blondel pre et fils', '24, place Klber, 67000, Strasbourg, France')
('Blido Comidas preparadas', 'C/ Araquil, 67, 28023, Madrid, Spain')
("Bon app'", '12, rue des Bouchers, 13008, Marseille, France')
('Bottom-Dollar Marketse', '23 Tsawassen Blvd., T2F 8M4, Tsawassen, Canada')
("B's Beverages", 'Fauntleroy Circus, EC2 5NT, London, UK')
('Cactus Comidas para llevar', 'Cerrito 333, 1010, Buenos Aires, Argentina')
('Centro comercial Moctezuma', 'Sierras de Granada 9993, 5022, Mxico D.F., Mexico')
('Chop-suey Chinese', 'Hauptstr. 29, 3012, Bern, Switzerland')
('Comrcio Mineiro', 'Av. dos Lusadas, 23, 05432-043, So Paulo, Brazil')
('Consolidated Holdings', 'Berkeley Gardens 12 Brewery, WX1 6LT, London, UK')
('Drachenblut Delikatessend', 'Walserweg 21, 52066, Aachen, Germany')
('Du monde entier', '67, rue des Cinquante Otages, 44000, Nantes, France')
('Eastern Connection', '35 King George, WX3 6FW, London, UK')
('Ernst Handel', 'Kirchgasse 6, 8010, Graz, Austria')
('Familia Arquibaldo', 'Rua Ors, 92, 05442-030, So Paulo, Brazil')
('FISSA Fabrica Inter. Salchichas S.A.', 'C/ Moralzarzal, 86, 28034, Madrid, Spain')
('Folies gourmandes', '184, chausse de Tournai, 59000, Lille, France')
('Folk och f HB', 'kergatan 24, S-844 67, Brcke, Sweden')
('Frankenversand', 'Berliner Platz 43, 80805, Mnchen, Germany')
('France restauration', '54, rue Royale, 44000, Nantes, France')
('Franchi S.p.A.', 'Via Monte Bianco 34, 10100, Torino, Italy')
('Furia Bacalhau e Frutos do Mar', 'Jardim das rosas n. 32, 1675, Lisboa, Portugal')
('Galera del gastrnomo', 'Rambla de Catalua, 23, 8022, Barcelona, Spain')
('Godos Cocina Tpica', 'C/ Romero, 33, 41101, Sevilla, Spain')
('Gourmet Lanchonetes', 'Av. Brasil, 442, 04876-786, Campinas, Brazil')
('Great Lakes Food Market', '2732 Baker Blvd., 97403, Eugene, USA')
('GROSELLA-Restaurante', '5 Ave. Los Palos Grandes, 1081, Caracas, Venezuela')
('Hanari Carnes', 'Rua do Pao, 67, 05454-876, Rio de Janeiro, Brazil')
('HILARIN-Abastos', 'Carrera 22 con Ave. Carlos Soublette #8-35, 5022, San Cristbal, Venezuela')
('Hungry Coyote Import Store', 'City Center Plaza 516 Main St., 97827, Elgin, USA')
('Hungry Owl All-Night Grocers', '8 Johnstown Road, , Cork, Ireland')
('Island Trading', 'Garden House Crowther Way, PO31 7PJ, Cowes, UK')
('Kniglich Essen', 'Maubelstr. 90, 14776, Brandenburg, Germany')
("La corne d'abondance", "67, avenue de l'Europe, 78000, Versailles, France")
("La maison d'Asie", '1 rue Alsace-Lorraine, 31000, Toulouse, France')
('Laughing Bacchus Wine Cellars', '1900 Oak St., V3F 2K1, Vancouver, Canada')
('Lazy K Kountry Store', '12 Orchestra Terrace, 99362, Walla Walla, USA')
('Lehmanns Marktstand', 'Magazinweg 7, 60528, Frankfurt a.M., Germany')
("Let's Stop N Shop", '87 Polk St. Suite 5, 94117, San Francisco, USA')
('LILA-Supermercado', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo, 3508, Barquisimeto, Venezuela')
('LINO-Delicateses', 'Ave. 5 de Mayo Porlamar, 4980, I. de Margarita, Venezuela')
('Lonesome Pine Restaurant', '89 Chiaroscuro Rd., 97219, Portland, USA')
('Magazzini Alimentari Riuniti', 'Via Ludovico il Moro 22, 24100, Bergamo, Italy')
('Maison Dewey', 'Rue Joseph-Bens 532, B-1180, Bruxelles, Belgium')
('Mre Paillarde', '43 rue St. Laurent, H1J 1C3, Montral, Canada')
('Morgenstern Gesundkost', 'Heerstr. 22, 4179, Leipzig, Germany')
('North/South', 'South House 300 Queensbridge, SW7 1RZ, London, UK')
('Ocano Atlntico Ltda.', 'Ing. Gustavo Moncada 8585 Piso 20-A, 1010, Buenos Aires, Argentina')
('Old World Delicatessen', '2743 Bering St., 99508, Anchorage, USA')
('Ottilies Kseladen', 'Mehrheimerstr. 369, 50739, Kln, Germany')
('Paris spcialits', '265, boulevard Charonne, 75012, Paris, France')
('Pericles Comidas clsicas', 'Calle Dr. Jorge Cash 321, 5033, Mxico D.F., Mexico')
('Piccolo und mehr', 'Geislweg 14, 5020, Salzburg, Austria')
('Princesa Isabel Vinhoss', 'Estrada da sade n. 58, 1756, Lisboa, Portugal')
('Que Delcia', 'Rua da Panificadora, 12, 02389-673, Rio de Janeiro, Brazil')
('Queen Cozinha', 'Alameda dos Canrios, 891, 05487-020, So Paulo, Brazil')
('QUICK-Stop', 'Taucherstrae 10, 1307, Cunewalde, Germany')
('Rancho grande', 'Av. del Libertador 900, 1010, Buenos Aires, Argentina')
('Rattlesnake Canyon Grocery', '2817 Milton Dr., 87110, Albuquerque, USA')
('Reggiani Caseifici', 'Strada Provinciale 124, 42100, Reggio Emilia, Italy')
('Ricardo Adocicados', 'Av. Copacabana, 267, 02389-890, Rio de Janeiro, Brazil')
('Richter Supermarkt', 'Grenzacherweg 237, 1203, Genve, Switzerland')
('Romero y tomillo', 'Gran Va, 1, 28001, Madrid, Spain')
('Sant Gourmet', 'Erling Skakkes gate 78, 4110, Stavern, Norway')
('Save-a-lot Markets', '187 Suffolk Ln., 83720, Boise, USA')
('Seven Seas Imports', '90 Wadhurst Rd., OX15 4NB, London, UK')
('Simons bistro', 'Vinbltet 34, 1734, Kbenhavn, Denmark')
('Spcialits du monde', '25, rue Lauriston, 75016, Paris, France')
('Split Rail Beer & Ale', 'P.O. Box 555, 82520, Lander, USA')
('Suprmes dlices', 'Boulevard Tirou, 255, B-6000, Charleroi, Belgium')
('The Big Cheese', '89 Jefferson Way Suite 2, 97201, Portland, USA')
('The Cracker Box', '55 Grizzly Peak Rd., 59801, Butte, USA')
('Toms Spezialitten', 'Luisenstr. 48, 44087, Mnster, Germany')
('Tortuga Restaurante', 'Avda. Azteca 123, 5033, Mxico D.F., Mexico')
('Tradio Hipermercados', 'Av. Ins de Castro, 414, 05634-030, So Paulo, Brazil')
("Trail's Head Gourmet Provisioners", '722 DaVinci Blvd., 98034, Kirkland, USA')
('Vaffeljernet', 'Smagslget 45, 8200, rhus, Denmark')
('Victuailles en stock', '2, rue du Commerce, 69004, Lyon, France')
('Vins et alcools Chevalier', "59 rue de l'Abbaye, 51100, Reims, France")
('Die Wandernde Kuh', 'Adenauerallee 900, 70563, Stuttgart, Germany')
('Wartian Herkku', 'Torikatu 38, 90110, Oulu, Finland')
('Wellington Importadora', 'Rua do Mercado, 12, 08737-363, Resende, Brazil')
('White Clover Markets', '305 - 14th Ave. S. Suite 3B, 98128, Seattle, USA')
('Wilman Kala', 'Keskuskatu 45, 21240, Helsinki, Finland')
('Wolski', 'ul. Filtrowa 68, 01-012, Walla, Poland')
('Cardinal', ', , Stavanger, Norway')
('Cardinal', 'Skagen 21, 4006, Stavanger, Norway')
('Greasy Burger', 'Gateveien 15, 4306, Sandnes, Norway')
('Tasty Tee', 'Streetroad 19B, L1 0AA, Liverpool, UK')

In [98]:
execute_sql_db(
    """
    SELECT CustomerName, (Address || ', ' || PostalCode || ' ' || City || ', ' || Country) AS Address
    FROM Customers;    
    """,
    "test2.db"
)

('Ana Trujillo Emparedados y helados', 'Avda. de la Constitucin 2222, 5021 Mxico D.F., Mexico')
('Antonio Moreno Taquera', 'Mataderos 2312, 5023 Mxico D.F., Mexico')
('Around the Horn', '120 Hanover Sq., WA1 1DP London, UK')
('Berglunds snabbkp', 'Berguvsvgen 8, S-958 22 Lule, Sweden')
('Blauer See Delikatessen', 'Forsterstr. 57, 68306 Mannheim, Germany')
('Blondel pre et fils', '24, place Klber, 67000 Strasbourg, France')
('Blido Comidas preparadas', 'C/ Araquil, 67, 28023 Madrid, Spain')
("Bon app'", '12, rue des Bouchers, 13008 Marseille, France')
('Bottom-Dollar Marketse', '23 Tsawassen Blvd., T2F 8M4 Tsawassen, Canada')
("B's Beverages", 'Fauntleroy Circus, EC2 5NT London, UK')
('Cactus Comidas para llevar', 'Cerrito 333, 1010 Buenos Aires, Argentina')
('Centro comercial Moctezuma', 'Sierras de Granada 9993, 5022 Mxico D.F., Mexico')
('Chop-suey Chinese', 'Hauptstr. 29, 3012 Bern, Switzerland')
('Comrcio Mineiro', 'Av. dos Lusadas, 23, 05432-043 So Paulo, Brazil')
('Consolidated Holdings', 'Berkeley Gardens 12 Brewery, WX1 6LT London, UK')
('Drachenblut Delikatessend', 'Walserweg 21, 52066 Aachen, Germany')
('Du monde entier', '67, rue des Cinquante Otages, 44000 Nantes, France')
('Eastern Connection', '35 King George, WX3 6FW London, UK')
('Ernst Handel', 'Kirchgasse 6, 8010 Graz, Austria')
('Familia Arquibaldo', 'Rua Ors, 92, 05442-030 So Paulo, Brazil')
('FISSA Fabrica Inter. Salchichas S.A.', 'C/ Moralzarzal, 86, 28034 Madrid, Spain')
('Folies gourmandes', '184, chausse de Tournai, 59000 Lille, France')
('Folk och f HB', 'kergatan 24, S-844 67 Brcke, Sweden')
('Frankenversand', 'Berliner Platz 43, 80805 Mnchen, Germany')
('France restauration', '54, rue Royale, 44000 Nantes, France')
('Franchi S.p.A.', 'Via Monte Bianco 34, 10100 Torino, Italy')
('Furia Bacalhau e Frutos do Mar', 'Jardim das rosas n. 32, 1675 Lisboa, Portugal')
('Galera del gastrnomo', 'Rambla de Catalua, 23, 8022 Barcelona, Spain')
('Godos Cocina Tpica', 'C/ Romero, 33, 41101 Sevilla, Spain')
('Gourmet Lanchonetes', 'Av. Brasil, 442, 04876-786 Campinas, Brazil')
('Great Lakes Food Market', '2732 Baker Blvd., 97403 Eugene, USA')
('GROSELLA-Restaurante', '5 Ave. Los Palos Grandes, 1081 Caracas, Venezuela')
('Hanari Carnes', 'Rua do Pao, 67, 05454-876 Rio de Janeiro, Brazil')
('HILARIN-Abastos', 'Carrera 22 con Ave. Carlos Soublette #8-35, 5022 San Cristbal, Venezuela')
('Hungry Coyote Import Store', 'City Center Plaza 516 Main St., 97827 Elgin, USA')
('Hungry Owl All-Night Grocers', '8 Johnstown Road,  Cork, Ireland')
('Island Trading', 'Garden House Crowther Way, PO31 7PJ Cowes, UK')
('Kniglich Essen', 'Maubelstr. 90, 14776 Brandenburg, Germany')
("La corne d'abondance", "67, avenue de l'Europe, 78000 Versailles, France")
("La maison d'Asie", '1 rue Alsace-Lorraine, 31000 Toulouse, France')
('Laughing Bacchus Wine Cellars', '1900 Oak St., V3F 2K1 Vancouver, Canada')
('Lazy K Kountry Store', '12 Orchestra Terrace, 99362 Walla Walla, USA')
('Lehmanns Marktstand', 'Magazinweg 7, 60528 Frankfurt a.M., Germany')
("Let's Stop N Shop", '87 Polk St. Suite 5, 94117 San Francisco, USA')
('LILA-Supermercado', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo, 3508 Barquisimeto, Venezuela')
('LINO-Delicateses', 'Ave. 5 de Mayo Porlamar, 4980 I. de Margarita, Venezuela')
('Lonesome Pine Restaurant', '89 Chiaroscuro Rd., 97219 Portland, USA')
('Magazzini Alimentari Riuniti', 'Via Ludovico il Moro 22, 24100 Bergamo, Italy')
('Maison Dewey', 'Rue Joseph-Bens 532, B-1180 Bruxelles, Belgium')
('Mre Paillarde', '43 rue St. Laurent, H1J 1C3 Montral, Canada')
('Morgenstern Gesundkost', 'Heerstr. 22, 4179 Leipzig, Germany')
('North/South', 'South House 300 Queensbridge, SW7 1RZ London, UK')
('Ocano Atlntico Ltda.', 'Ing. Gustavo Moncada 8585 Piso 20-A, 1010 Buenos Aires, Argentina')
('Old World Delicatessen', '2743 Bering St., 99508 Anchorage, USA')
('Ottilies Kseladen', 'Mehrheimerstr. 369, 50739 Kln, Germany')
('Paris spcialits', '265, boulevard Charonne, 75012 Paris, France')
('Pericles Comidas clsicas', 'Calle Dr. Jorge Cash 321, 5033 Mxico D.F., Mexico')
('Piccolo und mehr', 'Geislweg 14, 5020 Salzburg, Austria')
('Princesa Isabel Vinhoss', 'Estrada da sade n. 58, 1756 Lisboa, Portugal')
('Que Delcia', 'Rua da Panificadora, 12, 02389-673 Rio de Janeiro, Brazil')
('Queen Cozinha', 'Alameda dos Canrios, 891, 05487-020 So Paulo, Brazil')
('QUICK-Stop', 'Taucherstrae 10, 1307 Cunewalde, Germany')
('Rancho grande', 'Av. del Libertador 900, 1010 Buenos Aires, Argentina')
('Rattlesnake Canyon Grocery', '2817 Milton Dr., 87110 Albuquerque, USA')
('Reggiani Caseifici', 'Strada Provinciale 124, 42100 Reggio Emilia, Italy')
('Ricardo Adocicados', 'Av. Copacabana, 267, 02389-890 Rio de Janeiro, Brazil')
('Richter Supermarkt', 'Grenzacherweg 237, 1203 Genve, Switzerland')
('Romero y tomillo', 'Gran Va, 1, 28001 Madrid, Spain')
('Sant Gourmet', 'Erling Skakkes gate 78, 4110 Stavern, Norway')
('Save-a-lot Markets', '187 Suffolk Ln., 83720 Boise, USA')
('Seven Seas Imports', '90 Wadhurst Rd., OX15 4NB London, UK')
('Simons bistro', 'Vinbltet 34, 1734 Kbenhavn, Denmark')
('Spcialits du monde', '25, rue Lauriston, 75016 Paris, France')
('Split Rail Beer & Ale', 'P.O. Box 555, 82520 Lander, USA')
('Suprmes dlices', 'Boulevard Tirou, 255, B-6000 Charleroi, Belgium')
('The Big Cheese', '89 Jefferson Way Suite 2, 97201 Portland, USA')
('The Cracker Box', '55 Grizzly Peak Rd., 59801 Butte, USA')
('Toms Spezialitten', 'Luisenstr. 48, 44087 Mnster, Germany')
('Tortuga Restaurante', 'Avda. Azteca 123, 5033 Mxico D.F., Mexico')
('Tradio Hipermercados', 'Av. Ins de Castro, 414, 05634-030 So Paulo, Brazil')
("Trail's Head Gourmet Provisioners", '722 DaVinci Blvd., 98034 Kirkland, USA')
('Vaffeljernet', 'Smagslget 45, 8200 rhus, Denmark')
('Victuailles en stock', '2, rue du Commerce, 69004 Lyon, France')
('Vins et alcools Chevalier', "59 rue de l'Abbaye, 51100 Reims, France")
('Die Wandernde Kuh', 'Adenauerallee 900, 70563 Stuttgart, Germany')
('Wartian Herkku', 'Torikatu 38, 90110 Oulu, Finland')
('Wellington Importadora', 'Rua do Mercado, 12, 08737-363 Resende, Brazil')
('White Clover Markets', '305 - 14th Ave. S. Suite 3B, 98128 Seattle, USA')
('Wilman Kala', 'Keskuskatu 45, 21240 Helsinki, Finland')
('Wolski', 'ul. Filtrowa 68, 01-012 Walla, Poland')
('Cardinal', None)
('Cardinal', 'Skagen 21, 4006 Stavanger, Norway')
('Greasy Burger', 'Gateveien 15, 4306 Sandnes, Norway')
('Tasty Tee', 'Streetroad 19B, L1 0AA Liverpool, UK')

In [99]:
execute_sql_db(
    """
    SELECT * FROM Customers AS Persons;
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbkp', 'Juan', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Juan', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel pre et fils', 'Juan', '24, place Klber', 'Strasbourg', '67000', 'France')
(8, 'Blido Comidas preparadas', 'Juan', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Juan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Juan', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Juan', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Juan', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(14, 'Chop-suey Chinese', 'Juan', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comrcio Mineiro', 'Juan', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Juan', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Juan', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Juan', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Juan', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Juan', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Juan', '184, chausse de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och f HB', 'Juan', 'kergatan 24', 'Brcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Juan', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(26, 'France restauration', 'Juan', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Juan', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Juan', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galera del gastrnomo', 'Juan', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Juan', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(31, 'Gourmet Lanchonetes', 'Juan', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Juan', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Juan', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Juan', 'Rua do Pao, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(35, 'HILARIN-Abastos', 'Juan', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Juan', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Juan', '8 Johnstown Road', 'Cork', '', 'Ireland')
(38, 'Island Trading', 'Juan', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Kniglich Essen', 'Juan', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(40, "La corne d'abondance", 'Juan', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Juan', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Juan', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'Juan', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(44, 'Lehmanns Marktstand', 'Juan', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(45, "Let's Stop N Shop", 'Juan', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(46, 'LILA-Supermercado', 'Juan', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Juan', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Juan', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(49, 'Magazzini Alimentari Riuniti', 'Juan', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy')
(50, 'Maison Dewey', 'Juan', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(51, 'Mre Paillarde', 'Juan', '43 rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(52, 'Morgenstern Gesundkost', 'Juan', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(54, 'Ocano Atlntico Ltda.', 'Juan', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina')
(55, 'Old World Delicatessen', 'Juan', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(56, 'Ottilies Kseladen', 'Juan', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany')
(57, 'Paris spcialits', 'Juan', '265, boulevard Charonne', 'Paris', '75012', 'France')
(58, 'Pericles Comidas clsicas', 'Juan', 'Calle Dr. Jorge Cash 321', 'Mxico D.F.', '5033', 'Mexico')
(59, 'Piccolo und mehr', 'Juan', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(60, 'Princesa Isabel Vinhoss', 'Juan', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(61, 'Que Delcia', 'Juan', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Juan', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(63, 'QUICK-Stop', 'Juan', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(64, 'Rancho grande', 'Juan', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Juan', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Juan', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Juan', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Juan', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Juan', 'Gran Va, 1', 'Madrid', '28001', 'Spain')
(70, 'Sant Gourmet', 'Juan', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(71, 'Save-a-lot Markets', 'Juan', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(73, 'Simons bistro', 'Juan', 'Vinbltet 34', 'Kbenhavn', '1734', 'Denmark')
(74, 'Spcialits du monde', 'Juan', '25, rue Lauriston', 'Paris', '75016', 'France')
(75, 'Split Rail Beer & Ale', 'Juan', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprmes dlices', 'Juan', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Juan', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(78, 'The Cracker Box', 'Juan', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(79, 'Toms Spezialitten', 'Juan', 'Luisenstr. 48', 'Mnster', '44087', 'Germany')
(80, 'Tortuga Restaurante', 'Juan', 'Avda. Azteca 123', 'Mxico D.F.', '5033', 'Mexico')
(81, 'Tradio Hipermercados', 'Juan', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Juan', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(83, 'Vaffeljernet', 'Juan', 'Smagslget 45', 'rhus', '8200', 'Denmark')
(84, 'Victuailles en stock', 'Juan', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Juan', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(86, 'Die Wandernde Kuh', 'Juan', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(87, 'Wartian Herkku', 'Juan', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Juan', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(89, 'White Clover Markets', 'Juan', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Juan', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Juan', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')
(92, 'Cardinal', 'Juan', None, 'Stavanger', None, 'Norway')
(93, 'Cardinal', 'Juan', 'Skagen 21', 'Stavanger', '4006', 'Norway')
(94, 'Greasy Burger', 'Juan', 'Gateveien 15', 'Sandnes', '4306', 'Norway')
(95, 'Tasty Tee', 'Juan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')

In [100]:
execute_sql_db(
    """
    SELECT o.OrderID, o.OrderDate, c.CustomerName
    FROM Customers AS c, Orders AS o
    WHERE c.CustomerName='Around the Horn' AND c.CustomerID=o.CustomerID;
    """,
    "test2.db"
)

(10355, '11/15/1996', 'Around the Horn')
(10383, '12/16/1996', 'Around the Horn')

In [101]:
execute_sql_db(
    """
    SELECT Orders.OrderID, Orders.OrderDate, Customers.CustomerName
    FROM Customers, Orders
    WHERE Customers.CustomerName='Around the Horn' AND Customers.CustomerID=Orders.CustomerID;
    """,
    "test2.db"
)

(10355, '11/15/1996', 'Around the Horn')
(10383, '12/16/1996', 'Around the Horn')

## SQL Joins

In [103]:
execute_sql_db(
    """
    SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate
    FROM Orders
    INNER JOIN Customers ON Orders.CustomerID=Customers.CustomerID;
    """,
    "test2.db"
)

(10248, 'Wilman Kala', '7/4/1996')
(10249, 'Tradio Hipermercados', '7/5/1996')
(10250, 'Hanari Carnes', '7/8/1996')
(10251, 'Victuailles en stock', '7/8/1996')
(10252, 'Suprmes dlices', '7/9/1996')
(10253, 'Hanari Carnes', '7/10/1996')
(10254, 'Chop-suey Chinese', '7/11/1996')
(10255, 'Richter Supermarkt', '7/12/1996')
(10256, 'Wellington Importadora', '7/15/1996')
(10257, 'HILARIN-Abastos', '7/16/1996')
(10258, 'Ernst Handel', '7/17/1996')
(10259, 'Centro comercial Moctezuma', '7/18/1996')
(10260, 'Old World Delicatessen', '7/19/1996')
(10261, 'Que Delcia', '7/19/1996')
(10262, 'Rattlesnake Canyon Grocery', '7/22/1996')
(10263, 'Ernst Handel', '7/23/1996')
(10264, 'Folk och f HB', '7/24/1996')
(10265, 'Blondel pre et fils', '7/25/1996')
(10266, 'Wartian Herkku', '7/26/1996')
(10267, 'Frankenversand', '7/29/1996')
(10268, 'GROSELLA-Restaurante', '7/30/1996')
(10269, 'White Clover Markets', '7/31/1996')
(10270, 'Wartian Herkku', '8/1/1996')
(10271, 'Split Rail Beer & Ale', '8/1/1996')
(10272, 'Rattlesnake Canyon Grocery', '8/2/1996')
(10273, 'QUICK-Stop', '8/5/1996')
(10274, 'Vins et alcools Chevalier', '8/6/1996')
(10275, 'Magazzini Alimentari Riuniti', '8/7/1996')
(10276, 'Tortuga Restaurante', '8/8/1996')
(10277, 'Morgenstern Gesundkost', '8/9/1996')
(10278, 'Berglunds snabbkp', '8/12/1996')
(10279, 'Lehmanns Marktstand', '8/13/1996')
(10280, 'Berglunds snabbkp', '8/14/1996')
(10281, 'Romero y tomillo', '8/14/1996')
(10282, 'Romero y tomillo', '8/15/1996')
(10283, 'LILA-Supermercado', '8/16/1996')
(10284, 'Lehmanns Marktstand', '8/19/1996')
(10285, 'QUICK-Stop', '8/20/1996')
(10286, 'QUICK-Stop', '8/21/1996')
(10287, 'Ricardo Adocicados', '8/22/1996')
(10288, 'Reggiani Caseifici', '8/23/1996')
(10289, "B's Beverages", '8/26/1996')
(10290, 'Comrcio Mineiro', '8/27/1996')
(10291, 'Que Delcia', '8/27/1996')
(10292, 'Tradio Hipermercados', '8/28/1996')
(10293, 'Tortuga Restaurante', '8/29/1996')
(10294, 'Rattlesnake Canyon Grocery', '8/30/1996')
(10295, 'Vins et alcools Chevalier', '9/2/1996')
(10296, 'LILA-Supermercado', '9/3/1996')
(10297, 'Blondel pre et fils', '9/4/1996')
(10298, 'Hungry Owl All-Night Grocers', '9/5/1996')
(10299, 'Ricardo Adocicados', '9/6/1996')
(10300, 'Magazzini Alimentari Riuniti', '9/9/1996')
(10301, 'Die Wandernde Kuh', '9/9/1996')
(10302, 'Suprmes dlices', '9/10/1996')
(10303, 'Godos Cocina Tpica', '9/11/1996')
(10304, 'Tortuga Restaurante', '9/12/1996')
(10305, 'Old World Delicatessen', '9/13/1996')
(10306, 'Romero y tomillo', '9/16/1996')
(10307, 'Lonesome Pine Restaurant', '9/17/1996')
(10308, 'Ana Trujillo Emparedados y helados', '9/18/1996')
(10309, 'Hungry Owl All-Night Grocers', '9/19/1996')
(10310, 'The Big Cheese', '9/20/1996')
(10311, 'Du monde entier', '9/20/1996')
(10312, 'Die Wandernde Kuh', '9/23/1996')
(10313, 'QUICK-Stop', '9/24/1996')
(10314, 'Rattlesnake Canyon Grocery', '9/25/1996')
(10315, 'Island Trading', '9/26/1996')
(10316, 'Rattlesnake Canyon Grocery', '9/27/1996')
(10317, 'Lonesome Pine Restaurant', '9/30/1996')
(10318, 'Island Trading', '10/1/1996')
(10319, 'Tortuga Restaurante', '10/2/1996')
(10320, 'Wartian Herkku', '10/3/1996')
(10321, 'Island Trading', '10/3/1996')
(10322, 'Pericles Comidas clsicas', '10/4/1996')
(10323, 'Kniglich Essen', '10/7/1996')
(10324, 'Save-a-lot Markets', '10/8/1996')
(10325, 'Kniglich Essen', '10/9/1996')
(10326, 'Blido Comidas preparadas', '10/10/1996')
(10327, 'Folk och f HB', '10/11/1996')
(10328, 'Furia Bacalhau e Frutos do Mar', '10/14/1996')
(10329, 'Split Rail Beer & Ale', '10/15/1996')
(10330, 'LILA-Supermercado', '10/16/1996')
(10331, "Bon app'", '10/16/1996')
(10332, 'Mre Paillarde', '10/17/1996')
(10333, 'Wartian Herkku', '10/18/1996')
(10334, 'Victuailles en stock', '10/21/1996')
(10335, 'Hungry Owl All-Night Grocers', '10/22/1996')
(10336, 'Princesa Isabel Vinhoss', '10/23/1996')
(10337, 'Frankenversand', '10/24/1996')
(10338, 'Old World Delicatessen', '10/25/1996')
(10339, 'Mre Paillarde', '10/28/1996')
(10340, "Bon app'", '10/29/1996')
(10341, 'Simons bistro', '10/29/1996')
(10342, 'Frankenversand', '10/30/1996')
(10343, 'Lehmanns Marktstand', '10/31/1996')
(10344, 'White Clover Markets', '11/1/1996')
(10345, 'QUICK-Stop', '11/4/1996')
(10346, 'Rattlesnake Canyon Grocery', '11/5/1996')
(10347, 'Familia Arquibaldo', '11/6/1996')
(10348, 'Die Wandernde Kuh', '11/7/1996')
(10349, 'Split Rail Beer & Ale', '11/8/1996')
(10350, "La maison d'Asie", '11/11/1996')
(10351, 'Ernst Handel', '11/11/1996')
(10352, 'Furia Bacalhau e Frutos do Mar', '11/12/1996')
(10353, 'Piccolo und mehr', '11/13/1996')
(10354, 'Pericles Comidas clsicas', '11/14/1996')
(10355, 'Around the Horn', '11/15/1996')
(10356, 'Die Wandernde Kuh', '11/18/1996')
(10357, 'LILA-Supermercado', '11/19/1996')
(10358, "La maison d'Asie", '11/20/1996')
(10359, 'Seven Seas Imports', '11/21/1996')
(10360, 'Blondel pre et fils', '11/22/1996')
(10361, 'QUICK-Stop', '11/22/1996')
(10362, "Bon app'", '11/25/1996')
(10363, 'Drachenblut Delikatessend', '11/26/1996')
(10364, 'Eastern Connection', '11/26/1996')
(10365, 'Antonio Moreno Taquera', '11/27/1996')
(10366, 'Galera del gastrnomo', '11/28/1996')
(10367, 'Vaffeljernet', '11/28/1996')
(10368, 'Ernst Handel', '11/29/1996')
(10369, 'Split Rail Beer & Ale', '12/2/1996')
(10370, 'Chop-suey Chinese', '12/3/1996')
(10371, "La maison d'Asie", '12/3/1996')
(10372, 'Queen Cozinha', '12/4/1996')
(10373, 'Hungry Owl All-Night Grocers', '12/5/1996')
(10374, 'Wolski', '12/5/1996')
(10375, 'Hungry Coyote Import Store', '12/6/1996')
(10376, 'Mre Paillarde', '12/9/1996')
(10377, 'Seven Seas Imports', '12/9/1996')
(10378, 'Folk och f HB', '12/10/1996')
(10379, 'Que Delcia', '12/11/1996')
(10380, 'Hungry Owl All-Night Grocers', '12/12/1996')
(10381, 'LILA-Supermercado', '12/12/1996')
(10382, 'Ernst Handel', '12/13/1996')
(10383, 'Around the Horn', '12/16/1996')
(10384, 'Berglunds snabbkp', '12/16/1996')
(10385, 'Split Rail Beer & Ale', '12/17/1996')
(10386, 'Familia Arquibaldo', '12/18/1996')
(10387, 'Sant Gourmet', '12/18/1996')
(10388, 'Seven Seas Imports', '12/19/1996')
(10389, 'Bottom-Dollar Marketse', '12/20/1996')
(10390, 'Ernst Handel', '12/23/1996')
(10391, 'Drachenblut Delikatessend', '12/23/1996')
(10392, 'Piccolo und mehr', '12/24/1996')
(10393, 'Save-a-lot Markets', '12/25/1996')
(10394, 'Hungry Coyote Import Store', '12/25/1996')
(10395, 'HILARIN-Abastos', '12/26/1996')
(10396, 'Frankenversand', '12/27/1996')
(10397, 'Princesa Isabel Vinhoss', '12/27/1996')
(10398, 'Save-a-lot Markets', '12/30/1996')
(10399, 'Vaffeljernet', '12/31/1996')
(10400, 'Eastern Connection', '1/1/1997')
(10401, 'Rattlesnake Canyon Grocery', '1/1/1997')
(10402, 'Ernst Handel', '1/2/1997')
(10403, 'Ernst Handel', '1/3/1997')
(10404, 'Magazzini Alimentari Riuniti', '1/3/1997')
(10405, 'LINO-Delicateses', '1/6/1997')
(10406, 'Queen Cozinha', '1/7/1997')
(10407, 'Ottilies Kseladen', '1/7/1997')
(10408, 'Folies gourmandes', '1/8/1997')
(10409, 'Ocano Atlntico Ltda.', '1/9/1997')
(10410, 'Bottom-Dollar Marketse', '1/10/1997')
(10411, 'Bottom-Dollar Marketse', '1/10/1997')
(10412, 'Wartian Herkku', '1/13/1997')
(10413, "La maison d'Asie", '1/14/1997')
(10414, 'Familia Arquibaldo', '1/14/1997')
(10415, 'Hungry Coyote Import Store', '1/15/1997')
(10416, 'Wartian Herkku', '1/16/1997')
(10417, 'Simons bistro', '1/16/1997')
(10418, 'QUICK-Stop', '1/17/1997')
(10419, 'Richter Supermarkt', '1/20/1997')
(10420, 'Wellington Importadora', '1/21/1997')
(10421, 'Que Delcia', '1/21/1997')
(10422, 'Franchi S.p.A.', '1/22/1997')
(10423, 'Gourmet Lanchonetes', '1/23/1997')
(10424, 'Mre Paillarde', '1/23/1997')
(10425, "La maison d'Asie", '1/24/1997')
(10426, 'Galera del gastrnomo', '1/27/1997')
(10427, 'Piccolo und mehr', '1/27/1997')
(10428, 'Reggiani Caseifici', '1/28/1997')
(10429, 'Hungry Owl All-Night Grocers', '1/29/1997')
(10430, 'Ernst Handel', '1/30/1997')
(10431, 'Bottom-Dollar Marketse', '1/30/1997')
(10432, 'Split Rail Beer & Ale', '1/31/1997')
(10433, 'Princesa Isabel Vinhoss', '2/3/1997')
(10434, 'Folk och f HB', '2/3/1997')
(10435, 'Consolidated Holdings', '2/4/1997')
(10436, 'Blondel pre et fils', '2/5/1997')
(10437, 'Wartian Herkku', '2/5/1997')
(10438, 'Toms Spezialitten', '2/6/1997')
(10439, 'Mre Paillarde', '2/7/1997')
(10440, 'Save-a-lot Markets', '2/10/1997')
(10441, 'Old World Delicatessen', '2/10/1997')
(10442, 'Ernst Handel', '2/11/1997')
(10443, 'Reggiani Caseifici', '2/12/1997')

## SQL INNER JOIN

In [104]:
execute_sql_db(
    """
    SELECT ProductID, ProductName, CategoryName
    FROM Products
    INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID;
    """,
    "test2.db"
)

(1, 'Chais', 'Beverages')
(2, 'Chang', 'Beverages')
(3, 'Aniseed Syrup', 'Condiments')
(4, "Chef Anton's Cajun Seasoning", 'Condiments')
(5, "Chef Anton's Gumbo Mix", 'Condiments')
(6, "Grandma's Boysenberry Spread", 'Condiments')
(7, "Uncle Bob's Organic Dried Pears", 'Produce')
(8, 'Northwoods Cranberry Sauce', 'Condiments')
(9, 'Mishi Kobe Niku', 'Meat/Poultry')
(10, 'Ikura', 'Seafood')
(11, 'Queso Cabrales', 'Dairy Products')
(12, 'Queso Manchego La Pastora', 'Dairy Products')
(13, 'Konbu', 'Seafood')
(14, 'Tofu', 'Produce')
(15, 'Genen Shouyu', 'Condiments')
(16, 'Pavlova', 'Confections')
(17, 'Alice Mutton', 'Meat/Poultry')
(18, 'Carnarvon Tigers', 'Seafood')
(19, 'Teatime Chocolate Biscuits', 'Confections')
(20, "Sir Rodney's Marmalade", 'Confections')
(21, "Sir Rodney's Scones", 'Confections')
(22, "Gustaf's Knckebrd", 'Grains/Cereals')
(23, 'Tunnbrd', 'Grains/Cereals')
(24, 'Guaran Fantstica', 'Beverages')
(25, 'NuNuCa Nu-Nougat-Creme', 'Confections')
(26, 'Gumbr Gummibrchen', 'Confections')
(27, 'Schoggi Schokolade', 'Confections')
(28, 'Rssle Sauerkraut', 'Produce')
(29, 'Thringer Rostbratwurst', 'Meat/Poultry')
(30, 'Nord-Ost Matjeshering', 'Seafood')
(31, 'Gorgonzola Telino', 'Dairy Products')
(32, 'Mascarpone Fabioli', 'Dairy Products')
(33, 'Geitost', 'Dairy Products')
(34, 'Sasquatch Ale', 'Beverages')
(35, 'Steeleye Stout', 'Beverages')
(36, 'Inlagd Sill', 'Seafood')
(37, 'Gravad lax', 'Seafood')
(38, 'Cte de Blaye', 'Beverages')
(39, 'Chartreuse verte', 'Beverages')
(40, 'Boston Crab Meat', 'Seafood')
(41, "Jack's New England Clam Chowder", 'Seafood')
(42, 'Singaporean Hokkien Fried Mee', 'Grains/Cereals')
(43, 'Ipoh Coffee', 'Beverages')
(44, 'Gula Malacca', 'Condiments')
(45, 'Rgede sild', 'Seafood')
(46, 'Spegesild', 'Seafood')
(47, 'Zaanse koeken', 'Confections')
(48, 'Chocolade', 'Confections')
(49, 'Maxilaku', 'Confections')
(50, 'Valkoinen suklaa', 'Confections')
(51, 'Manjimup Dried Apples', 'Produce')
(52, 'Filo Mix', 'Grains/Cereals')
(53, 'Perth Pasties', 'Meat/Poultry')
(54, 'Tourtire', 'Meat/Poultry')
(55, 'Pt chinois', 'Meat/Poultry')
(56, 'Gnocchi di nonna Alice', 'Grains/Cereals')
(57, 'Ravioli Angelo', 'Grains/Cereals')
(58, 'Escargots de Bourgogne', 'Seafood')
(59, 'Raclette Courdavault', 'Dairy Products')
(60, 'Camembert Pierrot', 'Dairy Products')
(61, "Sirop d'rable", 'Condiments')
(62, 'Tarte au sucre', 'Confections')
(63, 'Vegie-spread', 'Condiments')
(64, 'Wimmers gute Semmelkndel', 'Grains/Cereals')
(65, 'Louisiana Fiery Hot Pepper Sauce', 'Condiments')
(66, 'Louisiana Hot Spiced Okra', 'Condiments')
(67, 'Laughing Lumberjack Lager', 'Beverages')
(68, 'Scottish Longbreads', 'Confections')
(69, 'Gudbrandsdalsost', 'Dairy Products')
(70, 'Outback Lager', 'Beverages')
(71, 'Fltemysost', 'Dairy Products')
(72, 'Mozzarella di Giovanni', 'Dairy Products')
(73, 'Rd Kaviar', 'Seafood')
(74, 'Longlife Tofu', 'Produce')
(75, 'Rhnbru Klosterbier', 'Beverages')
(76, 'Lakkalikri', 'Beverages')
(77, 'Original Frankfurter grne Soe', 'Condiments')

In [105]:
execute_sql_db(
    """
    SELECT Products.ProductID, Products.ProductName, Categories.CategoryName
    FROM Products
    INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID;
    """,
    "test2.db"
)

(1, 'Chais', 'Beverages')
(2, 'Chang', 'Beverages')
(3, 'Aniseed Syrup', 'Condiments')
(4, "Chef Anton's Cajun Seasoning", 'Condiments')
(5, "Chef Anton's Gumbo Mix", 'Condiments')
(6, "Grandma's Boysenberry Spread", 'Condiments')
(7, "Uncle Bob's Organic Dried Pears", 'Produce')
(8, 'Northwoods Cranberry Sauce', 'Condiments')
(9, 'Mishi Kobe Niku', 'Meat/Poultry')
(10, 'Ikura', 'Seafood')
(11, 'Queso Cabrales', 'Dairy Products')
(12, 'Queso Manchego La Pastora', 'Dairy Products')
(13, 'Konbu', 'Seafood')
(14, 'Tofu', 'Produce')
(15, 'Genen Shouyu', 'Condiments')
(16, 'Pavlova', 'Confections')
(17, 'Alice Mutton', 'Meat/Poultry')
(18, 'Carnarvon Tigers', 'Seafood')
(19, 'Teatime Chocolate Biscuits', 'Confections')
(20, "Sir Rodney's Marmalade", 'Confections')
(21, "Sir Rodney's Scones", 'Confections')
(22, "Gustaf's Knckebrd", 'Grains/Cereals')
(23, 'Tunnbrd', 'Grains/Cereals')
(24, 'Guaran Fantstica', 'Beverages')
(25, 'NuNuCa Nu-Nougat-Creme', 'Confections')
(26, 'Gumbr Gummibrchen', 'Confections')
(27, 'Schoggi Schokolade', 'Confections')
(28, 'Rssle Sauerkraut', 'Produce')
(29, 'Thringer Rostbratwurst', 'Meat/Poultry')
(30, 'Nord-Ost Matjeshering', 'Seafood')
(31, 'Gorgonzola Telino', 'Dairy Products')
(32, 'Mascarpone Fabioli', 'Dairy Products')
(33, 'Geitost', 'Dairy Products')
(34, 'Sasquatch Ale', 'Beverages')
(35, 'Steeleye Stout', 'Beverages')
(36, 'Inlagd Sill', 'Seafood')
(37, 'Gravad lax', 'Seafood')
(38, 'Cte de Blaye', 'Beverages')
(39, 'Chartreuse verte', 'Beverages')
(40, 'Boston Crab Meat', 'Seafood')
(41, "Jack's New England Clam Chowder", 'Seafood')
(42, 'Singaporean Hokkien Fried Mee', 'Grains/Cereals')
(43, 'Ipoh Coffee', 'Beverages')
(44, 'Gula Malacca', 'Condiments')
(45, 'Rgede sild', 'Seafood')
(46, 'Spegesild', 'Seafood')
(47, 'Zaanse koeken', 'Confections')
(48, 'Chocolade', 'Confections')
(49, 'Maxilaku', 'Confections')
(50, 'Valkoinen suklaa', 'Confections')
(51, 'Manjimup Dried Apples', 'Produce')
(52, 'Filo Mix', 'Grains/Cereals')
(53, 'Perth Pasties', 'Meat/Poultry')
(54, 'Tourtire', 'Meat/Poultry')
(55, 'Pt chinois', 'Meat/Poultry')
(56, 'Gnocchi di nonna Alice', 'Grains/Cereals')
(57, 'Ravioli Angelo', 'Grains/Cereals')
(58, 'Escargots de Bourgogne', 'Seafood')
(59, 'Raclette Courdavault', 'Dairy Products')
(60, 'Camembert Pierrot', 'Dairy Products')
(61, "Sirop d'rable", 'Condiments')
(62, 'Tarte au sucre', 'Confections')
(63, 'Vegie-spread', 'Condiments')
(64, 'Wimmers gute Semmelkndel', 'Grains/Cereals')
(65, 'Louisiana Fiery Hot Pepper Sauce', 'Condiments')
(66, 'Louisiana Hot Spiced Okra', 'Condiments')
(67, 'Laughing Lumberjack Lager', 'Beverages')
(68, 'Scottish Longbreads', 'Confections')
(69, 'Gudbrandsdalsost', 'Dairy Products')
(70, 'Outback Lager', 'Beverages')
(71, 'Fltemysost', 'Dairy Products')
(72, 'Mozzarella di Giovanni', 'Dairy Products')
(73, 'Rd Kaviar', 'Seafood')
(74, 'Longlife Tofu', 'Produce')
(75, 'Rhnbru Klosterbier', 'Beverages')
(76, 'Lakkalikri', 'Beverages')
(77, 'Original Frankfurter grne Soe', 'Condiments')

In [106]:
execute_sql_db(
    """
    SELECT Products.ProductID, Products.ProductName, Categories.CategoryName
    FROM Products
    JOIN Categories ON Products.CategoryID = Categories.CategoryID;
    """,
    "test2.db"
)

(1, 'Chais', 'Beverages')
(2, 'Chang', 'Beverages')
(3, 'Aniseed Syrup', 'Condiments')
(4, "Chef Anton's Cajun Seasoning", 'Condiments')
(5, "Chef Anton's Gumbo Mix", 'Condiments')
(6, "Grandma's Boysenberry Spread", 'Condiments')
(7, "Uncle Bob's Organic Dried Pears", 'Produce')
(8, 'Northwoods Cranberry Sauce', 'Condiments')
(9, 'Mishi Kobe Niku', 'Meat/Poultry')
(10, 'Ikura', 'Seafood')
(11, 'Queso Cabrales', 'Dairy Products')
(12, 'Queso Manchego La Pastora', 'Dairy Products')
(13, 'Konbu', 'Seafood')
(14, 'Tofu', 'Produce')
(15, 'Genen Shouyu', 'Condiments')
(16, 'Pavlova', 'Confections')
(17, 'Alice Mutton', 'Meat/Poultry')
(18, 'Carnarvon Tigers', 'Seafood')
(19, 'Teatime Chocolate Biscuits', 'Confections')
(20, "Sir Rodney's Marmalade", 'Confections')
(21, "Sir Rodney's Scones", 'Confections')
(22, "Gustaf's Knckebrd", 'Grains/Cereals')
(23, 'Tunnbrd', 'Grains/Cereals')
(24, 'Guaran Fantstica', 'Beverages')
(25, 'NuNuCa Nu-Nougat-Creme', 'Confections')
(26, 'Gumbr Gummibrchen', 'Confections')
(27, 'Schoggi Schokolade', 'Confections')
(28, 'Rssle Sauerkraut', 'Produce')
(29, 'Thringer Rostbratwurst', 'Meat/Poultry')
(30, 'Nord-Ost Matjeshering', 'Seafood')
(31, 'Gorgonzola Telino', 'Dairy Products')
(32, 'Mascarpone Fabioli', 'Dairy Products')
(33, 'Geitost', 'Dairy Products')
(34, 'Sasquatch Ale', 'Beverages')
(35, 'Steeleye Stout', 'Beverages')
(36, 'Inlagd Sill', 'Seafood')
(37, 'Gravad lax', 'Seafood')
(38, 'Cte de Blaye', 'Beverages')
(39, 'Chartreuse verte', 'Beverages')
(40, 'Boston Crab Meat', 'Seafood')
(41, "Jack's New England Clam Chowder", 'Seafood')
(42, 'Singaporean Hokkien Fried Mee', 'Grains/Cereals')
(43, 'Ipoh Coffee', 'Beverages')
(44, 'Gula Malacca', 'Condiments')
(45, 'Rgede sild', 'Seafood')
(46, 'Spegesild', 'Seafood')
(47, 'Zaanse koeken', 'Confections')
(48, 'Chocolade', 'Confections')
(49, 'Maxilaku', 'Confections')
(50, 'Valkoinen suklaa', 'Confections')
(51, 'Manjimup Dried Apples', 'Produce')
(52, 'Filo Mix', 'Grains/Cereals')
(53, 'Perth Pasties', 'Meat/Poultry')
(54, 'Tourtire', 'Meat/Poultry')
(55, 'Pt chinois', 'Meat/Poultry')
(56, 'Gnocchi di nonna Alice', 'Grains/Cereals')
(57, 'Ravioli Angelo', 'Grains/Cereals')
(58, 'Escargots de Bourgogne', 'Seafood')
(59, 'Raclette Courdavault', 'Dairy Products')
(60, 'Camembert Pierrot', 'Dairy Products')
(61, "Sirop d'rable", 'Condiments')
(62, 'Tarte au sucre', 'Confections')
(63, 'Vegie-spread', 'Condiments')
(64, 'Wimmers gute Semmelkndel', 'Grains/Cereals')
(65, 'Louisiana Fiery Hot Pepper Sauce', 'Condiments')
(66, 'Louisiana Hot Spiced Okra', 'Condiments')
(67, 'Laughing Lumberjack Lager', 'Beverages')
(68, 'Scottish Longbreads', 'Confections')
(69, 'Gudbrandsdalsost', 'Dairy Products')
(70, 'Outback Lager', 'Beverages')
(71, 'Fltemysost', 'Dairy Products')
(72, 'Mozzarella di Giovanni', 'Dairy Products')
(73, 'Rd Kaviar', 'Seafood')
(74, 'Longlife Tofu', 'Produce')
(75, 'Rhnbru Klosterbier', 'Beverages')
(76, 'Lakkalikri', 'Beverages')
(77, 'Original Frankfurter grne Soe', 'Condiments')

In [107]:
execute_sql_db(
    """
    SELECT Orders.OrderID, Customers.CustomerName, Shippers.ShipperName
    FROM ((Orders
    INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID)
    INNER JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID);
    """,
    "test2.db"
)

(10248, 'Wilman Kala', 'Federal Shipping')
(10249, 'Tradio Hipermercados', 'Speedy Express')
(10250, 'Hanari Carnes', 'United Package')
(10251, 'Victuailles en stock', 'Speedy Express')
(10252, 'Suprmes dlices', 'United Package')
(10253, 'Hanari Carnes', 'United Package')
(10254, 'Chop-suey Chinese', 'United Package')
(10255, 'Richter Supermarkt', 'Federal Shipping')
(10256, 'Wellington Importadora', 'United Package')
(10257, 'HILARIN-Abastos', 'Federal Shipping')
(10258, 'Ernst Handel', 'Speedy Express')
(10259, 'Centro comercial Moctezuma', 'Federal Shipping')
(10260, 'Old World Delicatessen', 'Speedy Express')
(10261, 'Que Delcia', 'United Package')
(10262, 'Rattlesnake Canyon Grocery', 'Federal Shipping')
(10263, 'Ernst Handel', 'Federal Shipping')
(10264, 'Folk och f HB', 'Federal Shipping')
(10265, 'Blondel pre et fils', 'Speedy Express')
(10266, 'Wartian Herkku', 'Federal Shipping')
(10267, 'Frankenversand', 'Speedy Express')
(10268, 'GROSELLA-Restaurante', 'Federal Shipping')
(10269, 'White Clover Markets', 'Speedy Express')
(10270, 'Wartian Herkku', 'Speedy Express')
(10271, 'Split Rail Beer & Ale', 'United Package')
(10272, 'Rattlesnake Canyon Grocery', 'United Package')
(10273, 'QUICK-Stop', 'Federal Shipping')
(10274, 'Vins et alcools Chevalier', 'Speedy Express')
(10275, 'Magazzini Alimentari Riuniti', 'Speedy Express')
(10276, 'Tortuga Restaurante', 'Federal Shipping')
(10277, 'Morgenstern Gesundkost', 'Federal Shipping')
(10278, 'Berglunds snabbkp', 'United Package')
(10279, 'Lehmanns Marktstand', 'United Package')
(10280, 'Berglunds snabbkp', 'Speedy Express')
(10281, 'Romero y tomillo', 'Speedy Express')
(10282, 'Romero y tomillo', 'Speedy Express')
(10283, 'LILA-Supermercado', 'Federal Shipping')
(10284, 'Lehmanns Marktstand', 'Speedy Express')
(10285, 'QUICK-Stop', 'United Package')
(10286, 'QUICK-Stop', 'Federal Shipping')
(10287, 'Ricardo Adocicados', 'Federal Shipping')
(10288, 'Reggiani Caseifici', 'Speedy Express')
(10289, "B's Beverages", 'Federal Shipping')
(10290, 'Comrcio Mineiro', 'Speedy Express')
(10291, 'Que Delcia', 'United Package')
(10292, 'Tradio Hipermercados', 'United Package')
(10293, 'Tortuga Restaurante', 'Federal Shipping')
(10294, 'Rattlesnake Canyon Grocery', 'United Package')
(10295, 'Vins et alcools Chevalier', 'United Package')
(10296, 'LILA-Supermercado', 'Speedy Express')
(10297, 'Blondel pre et fils', 'United Package')
(10298, 'Hungry Owl All-Night Grocers', 'United Package')
(10299, 'Ricardo Adocicados', 'United Package')
(10300, 'Magazzini Alimentari Riuniti', 'United Package')
(10301, 'Die Wandernde Kuh', 'United Package')
(10302, 'Suprmes dlices', 'United Package')
(10303, 'Godos Cocina Tpica', 'United Package')
(10304, 'Tortuga Restaurante', 'United Package')
(10305, 'Old World Delicatessen', 'Federal Shipping')
(10306, 'Romero y tomillo', 'Federal Shipping')
(10307, 'Lonesome Pine Restaurant', 'United Package')
(10308, 'Ana Trujillo Emparedados y helados', 'Federal Shipping')
(10309, 'Hungry Owl All-Night Grocers', 'Speedy Express')
(10310, 'The Big Cheese', 'United Package')
(10311, 'Du monde entier', 'Federal Shipping')
(10312, 'Die Wandernde Kuh', 'United Package')
(10313, 'QUICK-Stop', 'United Package')
(10314, 'Rattlesnake Canyon Grocery', 'United Package')
(10315, 'Island Trading', 'United Package')
(10316, 'Rattlesnake Canyon Grocery', 'Federal Shipping')
(10317, 'Lonesome Pine Restaurant', 'Speedy Express')
(10318, 'Island Trading', 'United Package')
(10319, 'Tortuga Restaurante', 'Federal Shipping')
(10320, 'Wartian Herkku', 'Federal Shipping')
(10321, 'Island Trading', 'United Package')
(10322, 'Pericles Comidas clsicas', 'Federal Shipping')
(10323, 'Kniglich Essen', 'Speedy Express')
(10324, 'Save-a-lot Markets', 'Speedy Express')
(10325, 'Kniglich Essen', 'Federal Shipping')
(10326, 'Blido Comidas preparadas', 'United Package')
(10327, 'Folk och f HB', 'Speedy Express')
(10328, 'Furia Bacalhau e Frutos do Mar', 'Federal Shipping')
(10329, 'Split Rail Beer & Ale', 'United Package')
(10330, 'LILA-Supermercado', 'Speedy Express')
(10331, "Bon app'", 'Speedy Express')
(10332, 'Mre Paillarde', 'United Package')
(10333, 'Wartian Herkku', 'Federal Shipping')
(10334, 'Victuailles en stock', 'United Package')
(10335, 'Hungry Owl All-Night Grocers', 'United Package')
(10336, 'Princesa Isabel Vinhoss', 'United Package')
(10337, 'Frankenversand', 'Federal Shipping')
(10338, 'Old World Delicatessen', 'Federal Shipping')
(10339, 'Mre Paillarde', 'United Package')
(10340, "Bon app'", 'Federal Shipping')
(10341, 'Simons bistro', 'Federal Shipping')
(10342, 'Frankenversand', 'United Package')
(10343, 'Lehmanns Marktstand', 'Speedy Express')
(10344, 'White Clover Markets', 'United Package')
(10345, 'QUICK-Stop', 'United Package')
(10346, 'Rattlesnake Canyon Grocery', 'Federal Shipping')
(10347, 'Familia Arquibaldo', 'Federal Shipping')
(10348, 'Die Wandernde Kuh', 'United Package')
(10349, 'Split Rail Beer & Ale', 'Speedy Express')
(10350, "La maison d'Asie", 'United Package')
(10351, 'Ernst Handel', 'Speedy Express')
(10352, 'Furia Bacalhau e Frutos do Mar', 'Federal Shipping')
(10353, 'Piccolo und mehr', 'Federal Shipping')
(10354, 'Pericles Comidas clsicas', 'Federal Shipping')
(10355, 'Around the Horn', 'Speedy Express')
(10356, 'Die Wandernde Kuh', 'United Package')
(10357, 'LILA-Supermercado', 'Federal Shipping')
(10358, "La maison d'Asie", 'Speedy Express')
(10359, 'Seven Seas Imports', 'Federal Shipping')
(10360, 'Blondel pre et fils', 'Federal Shipping')
(10361, 'QUICK-Stop', 'United Package')
(10362, "Bon app'", 'Speedy Express')
(10363, 'Drachenblut Delikatessend', 'Federal Shipping')
(10364, 'Eastern Connection', 'Speedy Express')
(10365, 'Antonio Moreno Taquera', 'United Package')
(10366, 'Galera del gastrnomo', 'United Package')
(10367, 'Vaffeljernet', 'Federal Shipping')
(10368, 'Ernst Handel', 'United Package')
(10369, 'Split Rail Beer & Ale', 'United Package')
(10370, 'Chop-suey Chinese', 'United Package')
(10371, "La maison d'Asie", 'Speedy Express')
(10372, 'Queen Cozinha', 'United Package')
(10373, 'Hungry Owl All-Night Grocers', 'Federal Shipping')
(10374, 'Wolski', 'Federal Shipping')
(10375, 'Hungry Coyote Import Store', 'United Package')
(10376, 'Mre Paillarde', 'United Package')
(10377, 'Seven Seas Imports', 'Federal Shipping')
(10378, 'Folk och f HB', 'Federal Shipping')
(10379, 'Que Delcia', 'Speedy Express')
(10380, 'Hungry Owl All-Night Grocers', 'Federal Shipping')
(10381, 'LILA-Supermercado', 'Federal Shipping')
(10382, 'Ernst Handel', 'Speedy Express')
(10383, 'Around the Horn', 'Federal Shipping')
(10384, 'Berglunds snabbkp', 'Federal Shipping')
(10385, 'Split Rail Beer & Ale', 'United Package')
(10386, 'Familia Arquibaldo', 'Federal Shipping')
(10387, 'Sant Gourmet', 'United Package')
(10388, 'Seven Seas Imports', 'Speedy Express')
(10389, 'Bottom-Dollar Marketse', 'United Package')
(10390, 'Ernst Handel', 'Speedy Express')
(10391, 'Drachenblut Delikatessend', 'Federal Shipping')
(10392, 'Piccolo und mehr', 'Federal Shipping')
(10393, 'Save-a-lot Markets', 'Federal Shipping')
(10394, 'Hungry Coyote Import Store', 'Federal Shipping')
(10395, 'HILARIN-Abastos', 'Speedy Express')
(10396, 'Frankenversand', 'Federal Shipping')
(10397, 'Princesa Isabel Vinhoss', 'Speedy Express')
(10398, 'Save-a-lot Markets', 'Federal Shipping')
(10399, 'Vaffeljernet', 'Federal Shipping')
(10400, 'Eastern Connection', 'Federal Shipping')
(10401, 'Rattlesnake Canyon Grocery', 'Speedy Express')
(10402, 'Ernst Handel', 'United Package')
(10403, 'Ernst Handel', 'Federal Shipping')
(10404, 'Magazzini Alimentari Riuniti', 'Speedy Express')
(10405, 'LINO-Delicateses', 'Speedy Express')
(10406, 'Queen Cozinha', 'Speedy Express')
(10407, 'Ottilies Kseladen', 'United Package')
(10408, 'Folies gourmandes', 'Speedy Express')
(10409, 'Ocano Atlntico Ltda.', 'Speedy Express')
(10410, 'Bottom-Dollar Marketse', 'Federal Shipping')
(10411, 'Bottom-Dollar Marketse', 'Federal Shipping')
(10412, 'Wartian Herkku', 'United Package')
(10413, "La maison d'Asie", 'United Package')
(10414, 'Familia Arquibaldo', 'Federal Shipping')
(10415, 'Hungry Coyote Import Store', 'Speedy Express')
(10416, 'Wartian Herkku', 'Federal Shipping')
(10417, 'Simons bistro', 'Federal Shipping')
(10418, 'QUICK-Stop', 'Speedy Express')
(10419, 'Richter Supermarkt', 'United Package')
(10420, 'Wellington Importadora', 'Speedy Express')
(10421, 'Que Delcia', 'Speedy Express')
(10422, 'Franchi S.p.A.', 'Speedy Express')
(10423, 'Gourmet Lanchonetes', 'Federal Shipping')
(10424, 'Mre Paillarde', 'United Package')
(10425, "La maison d'Asie", 'United Package')
(10426, 'Galera del gastrnomo', 'Speedy Express')
(10427, 'Piccolo und mehr', 'United Package')
(10428, 'Reggiani Caseifici', 'Speedy Express')
(10429, 'Hungry Owl All-Night Grocers', 'United Package')
(10430, 'Ernst Handel', 'Speedy Express')
(10431, 'Bottom-Dollar Marketse', 'United Package')
(10432, 'Split Rail Beer & Ale', 'United Package')
(10433, 'Princesa Isabel Vinhoss', 'Federal Shipping')
(10434, 'Folk och f HB', 'United Package')
(10435, 'Consolidated Holdings', 'United Package')
(10436, 'Blondel pre et fils', 'United Package')
(10437, 'Wartian Herkku', 'Speedy Express')
(10438, 'Toms Spezialitten', 'United Package')
(10439, 'Mre Paillarde', 'Federal Shipping')
(10440, 'Save-a-lot Markets', 'United Package')
(10441, 'Old World Delicatessen', 'United Package')
(10442, 'Ernst Handel', 'United Package')
(10443, 'Reggiani Caseifici', 'Speedy Express')

## SQL LEFT JOIN Keyword

In [108]:
execute_sql_db(
    """
    SELECT Customers.CustomerName, Orders.OrderID
    FROM Customers
    LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
    ORDER BY Customers.CustomerName;
    """,
    "test2.db"
)

('Ana Trujillo Emparedados y helados', 10308)
('Antonio Moreno Taquera', 10365)
('Around the Horn', 10355)
('Around the Horn', 10383)
("B's Beverages", 10289)
('Berglunds snabbkp', 10278)
('Berglunds snabbkp', 10280)
('Berglunds snabbkp', 10384)
('Blauer See Delikatessen', None)
('Blondel pre et fils', 10265)
('Blondel pre et fils', 10297)
('Blondel pre et fils', 10360)
('Blondel pre et fils', 10436)
("Bon app'", 10331)
("Bon app'", 10340)
("Bon app'", 10362)
('Bottom-Dollar Marketse', 10389)
('Bottom-Dollar Marketse', 10410)
('Bottom-Dollar Marketse', 10411)
('Bottom-Dollar Marketse', 10431)
('Blido Comidas preparadas', 10326)
('Cactus Comidas para llevar', None)
('Cardinal', None)
('Cardinal', None)
('Centro comercial Moctezuma', 10259)
('Chop-suey Chinese', 10254)
('Chop-suey Chinese', 10370)
('Comrcio Mineiro', 10290)
('Consolidated Holdings', 10435)
('Die Wandernde Kuh', 10301)
('Die Wandernde Kuh', 10312)
('Die Wandernde Kuh', 10348)
('Die Wandernde Kuh', 10356)
('Drachenblut Delikatessend', 10363)
('Drachenblut Delikatessend', 10391)
('Du monde entier', 10311)
('Eastern Connection', 10364)
('Eastern Connection', 10400)
('Ernst Handel', 10258)
('Ernst Handel', 10263)
('Ernst Handel', 10351)
('Ernst Handel', 10368)
('Ernst Handel', 10382)
('Ernst Handel', 10390)
('Ernst Handel', 10402)
('Ernst Handel', 10403)
('Ernst Handel', 10430)
('Ernst Handel', 10442)
('FISSA Fabrica Inter. Salchichas S.A.', None)
('Familia Arquibaldo', 10347)
('Familia Arquibaldo', 10386)
('Familia Arquibaldo', 10414)
('Folies gourmandes', 10408)
('Folk och f HB', 10264)
('Folk och f HB', 10327)
('Folk och f HB', 10378)
('Folk och f HB', 10434)
('France restauration', None)
('Franchi S.p.A.', 10422)
('Frankenversand', 10267)
('Frankenversand', 10337)
('Frankenversand', 10342)
('Frankenversand', 10396)
('Furia Bacalhau e Frutos do Mar', 10328)
('Furia Bacalhau e Frutos do Mar', 10352)
('GROSELLA-Restaurante', 10268)
('Galera del gastrnomo', 10366)
('Galera del gastrnomo', 10426)
('Godos Cocina Tpica', 10303)
('Gourmet Lanchonetes', 10423)
('Greasy Burger', None)
('Great Lakes Food Market', None)
('HILARIN-Abastos', 10257)
('HILARIN-Abastos', 10395)
('Hanari Carnes', 10250)
('Hanari Carnes', 10253)
('Hungry Coyote Import Store', 10375)
('Hungry Coyote Import Store', 10394)
('Hungry Coyote Import Store', 10415)
('Hungry Owl All-Night Grocers', 10298)
('Hungry Owl All-Night Grocers', 10309)
('Hungry Owl All-Night Grocers', 10335)
('Hungry Owl All-Night Grocers', 10373)
('Hungry Owl All-Night Grocers', 10380)
('Hungry Owl All-Night Grocers', 10429)
('Island Trading', 10315)
('Island Trading', 10318)
('Island Trading', 10321)
('Kniglich Essen', 10323)
('Kniglich Essen', 10325)
('LILA-Supermercado', 10283)
('LILA-Supermercado', 10296)
('LILA-Supermercado', 10330)
('LILA-Supermercado', 10357)
('LILA-Supermercado', 10381)
('LINO-Delicateses', 10405)
("La corne d'abondance", None)
("La maison d'Asie", 10350)
("La maison d'Asie", 10358)
("La maison d'Asie", 10371)
("La maison d'Asie", 10413)
("La maison d'Asie", 10425)
('Laughing Bacchus Wine Cellars', None)
('Lazy K Kountry Store', None)
('Lehmanns Marktstand', 10279)
('Lehmanns Marktstand', 10284)
('Lehmanns Marktstand', 10343)
("Let's Stop N Shop", None)
('Lonesome Pine Restaurant', 10307)
('Lonesome Pine Restaurant', 10317)
('Magazzini Alimentari Riuniti', 10275)
('Magazzini Alimentari Riuniti', 10300)
('Magazzini Alimentari Riuniti', 10404)
('Maison Dewey', None)
('Morgenstern Gesundkost', 10277)
('Mre Paillarde', 10332)
('Mre Paillarde', 10339)
('Mre Paillarde', 10376)
('Mre Paillarde', 10424)
('Mre Paillarde', 10439)
('North/South', None)
('Ocano Atlntico Ltda.', 10409)
('Old World Delicatessen', 10260)
('Old World Delicatessen', 10305)
('Old World Delicatessen', 10338)
('Old World Delicatessen', 10441)
('Ottilies Kseladen', 10407)
('Paris spcialits', None)
('Pericles Comidas clsicas', 10322)
('Pericles Comidas clsicas', 10354)
('Piccolo und mehr', 10353)
('Piccolo und mehr', 10392)
('Piccolo und mehr', 10427)
('Princesa Isabel Vinhoss', 10336)
('Princesa Isabel Vinhoss', 10397)
('Princesa Isabel Vinhoss', 10433)
('QUICK-Stop', 10273)
('QUICK-Stop', 10285)
('QUICK-Stop', 10286)
('QUICK-Stop', 10313)
('QUICK-Stop', 10345)
('QUICK-Stop', 10361)
('QUICK-Stop', 10418)
('Que Delcia', 10261)
('Que Delcia', 10291)
('Que Delcia', 10379)
('Que Delcia', 10421)
('Queen Cozinha', 10372)
('Queen Cozinha', 10406)
('Rancho grande', None)
('Rattlesnake Canyon Grocery', 10262)
('Rattlesnake Canyon Grocery', 10272)
('Rattlesnake Canyon Grocery', 10294)
('Rattlesnake Canyon Grocery', 10314)
('Rattlesnake Canyon Grocery', 10316)
('Rattlesnake Canyon Grocery', 10346)
('Rattlesnake Canyon Grocery', 10401)
('Reggiani Caseifici', 10288)
('Reggiani Caseifici', 10428)
('Reggiani Caseifici', 10443)
('Ricardo Adocicados', 10287)
('Ricardo Adocicados', 10299)
('Richter Supermarkt', 10255)
('Richter Supermarkt', 10419)
('Romero y tomillo', 10281)
('Romero y tomillo', 10282)
('Romero y tomillo', 10306)
('Sant Gourmet', 10387)
('Save-a-lot Markets', 10324)
('Save-a-lot Markets', 10393)
('Save-a-lot Markets', 10398)
('Save-a-lot Markets', 10440)
('Seven Seas Imports', 10359)
('Seven Seas Imports', 10377)
('Seven Seas Imports', 10388)
('Simons bistro', 10341)
('Simons bistro', 10417)
('Split Rail Beer & Ale', 10271)
('Split Rail Beer & Ale', 10329)
('Split Rail Beer & Ale', 10349)
('Split Rail Beer & Ale', 10369)
('Split Rail Beer & Ale', 10385)
('Split Rail Beer & Ale', 10432)
('Spcialits du monde', None)
('Suprmes dlices', 10252)
('Suprmes dlices', 10302)
('Tasty Tee', None)
('The Big Cheese', 10310)
('The Cracker Box', None)
('Toms Spezialitten', 10438)
('Tortuga Restaurante', 10276)
('Tortuga Restaurante', 10293)
('Tortuga Restaurante', 10304)
('Tortuga Restaurante', 10319)
('Tradio Hipermercados', 10249)
('Tradio Hipermercados', 10292)
("Trail's Head Gourmet Provisioners", None)
('Vaffeljernet', 10367)
('Vaffeljernet', 10399)
('Victuailles en stock', 10251)
('Victuailles en stock', 10334)
('Vins et alcools Chevalier', 10274)
('Vins et alcools Chevalier', 10295)
('Wartian Herkku', 10266)
('Wartian Herkku', 10270)
('Wartian Herkku', 10320)
('Wartian Herkku', 10333)
('Wartian Herkku', 10412)
('Wartian Herkku', 10416)
('Wartian Herkku', 10437)
('Wellington Importadora', 10256)
('Wellington Importadora', 10420)
('White Clover Markets', 10269)
('White Clover Markets', 10344)
('Wilman Kala', 10248)
('Wolski', 10374)

## SQL RIGHT JOIN Keyword

In [109]:
execute_sql_db(
    """
    SELECT Orders.OrderID, Employees.LastName, Employees.FirstName
    FROM Orders
    RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
    ORDER BY Orders.OrderID;   
    """,
    "test2.db"
)

(None, 'West', 'Adam')
(10248, 'Buchanan', 'Steven')
(10249, 'Suyama', 'Michael')
(10250, 'Peacock', 'Margaret')
(10251, 'Leverling', 'Janet')
(10252, 'Peacock', 'Margaret')
(10253, 'Leverling', 'Janet')
(10254, 'Buchanan', 'Steven')
(10255, 'Dodsworth', 'Anne')
(10256, 'Leverling', 'Janet')
(10257, 'Peacock', 'Margaret')
(10258, 'Davolio', 'Nancy')
(10259, 'Peacock', 'Margaret')
(10260, 'Peacock', 'Margaret')
(10261, 'Peacock', 'Margaret')
(10262, 'Callahan', 'Laura')
(10263, 'Dodsworth', 'Anne')
(10264, 'Suyama', 'Michael')
(10265, 'Fuller', 'Andrew')
(10266, 'Leverling', 'Janet')
(10267, 'Peacock', 'Margaret')
(10268, 'Callahan', 'Laura')
(10269, 'Buchanan', 'Steven')
(10270, 'Davolio', 'Nancy')
(10271, 'Suyama', 'Michael')
(10272, 'Suyama', 'Michael')
(10273, 'Leverling', 'Janet')
(10274, 'Suyama', 'Michael')
(10275, 'Davolio', 'Nancy')
(10276, 'Callahan', 'Laura')
(10277, 'Fuller', 'Andrew')
(10278, 'Callahan', 'Laura')
(10279, 'Callahan', 'Laura')
(10280, 'Fuller', 'Andrew')
(10281, 'Peacock', 'Margaret')
(10282, 'Peacock', 'Margaret')
(10283, 'Leverling', 'Janet')
(10284, 'Peacock', 'Margaret')
(10285, 'Davolio', 'Nancy')
(10286, 'Callahan', 'Laura')
(10287, 'Callahan', 'Laura')
(10288, 'Peacock', 'Margaret')
(10289, 'King', 'Robert')
(10290, 'Callahan', 'Laura')
(10291, 'Suyama', 'Michael')
(10292, 'Davolio', 'Nancy')
(10293, 'Davolio', 'Nancy')
(10294, 'Peacock', 'Margaret')
(10295, 'Fuller', 'Andrew')
(10296, 'Suyama', 'Michael')
(10297, 'Buchanan', 'Steven')
(10298, 'Suyama', 'Michael')
(10299, 'Peacock', 'Margaret')
(10300, 'Fuller', 'Andrew')
(10301, 'Callahan', 'Laura')
(10302, 'Peacock', 'Margaret')
(10303, 'King', 'Robert')
(10304, 'Davolio', 'Nancy')
(10305, 'Callahan', 'Laura')
(10306, 'Davolio', 'Nancy')
(10307, 'Fuller', 'Andrew')
(10308, 'King', 'Robert')
(10309, 'Leverling', 'Janet')
(10310, 'Callahan', 'Laura')
(10311, 'Davolio', 'Nancy')
(10312, 'Fuller', 'Andrew')
(10313, 'Fuller', 'Andrew')
(10314, 'Davolio', 'Nancy')
(10315, 'Peacock', 'Margaret')
(10316, 'Davolio', 'Nancy')
(10317, 'Suyama', 'Michael')
(10318, 'Callahan', 'Laura')
(10319, 'King', 'Robert')
(10320, 'Buchanan', 'Steven')
(10321, 'Leverling', 'Janet')
(10322, 'King', 'Robert')
(10323, 'Peacock', 'Margaret')
(10324, 'Dodsworth', 'Anne')
(10325, 'Davolio', 'Nancy')
(10326, 'Peacock', 'Margaret')
(10327, 'Fuller', 'Andrew')
(10328, 'Peacock', 'Margaret')
(10329, 'Peacock', 'Margaret')
(10330, 'Leverling', 'Janet')
(10331, 'Dodsworth', 'Anne')
(10332, 'Leverling', 'Janet')
(10333, 'Buchanan', 'Steven')
(10334, 'Callahan', 'Laura')
(10335, 'King', 'Robert')
(10336, 'King', 'Robert')
(10337, 'Peacock', 'Margaret')
(10338, 'Peacock', 'Margaret')
(10339, 'Fuller', 'Andrew')
(10340, 'Davolio', 'Nancy')
(10341, 'King', 'Robert')
(10342, 'Peacock', 'Margaret')
(10343, 'Peacock', 'Margaret')
(10344, 'Peacock', 'Margaret')
(10345, 'Fuller', 'Andrew')
(10346, 'Leverling', 'Janet')
(10347, 'Peacock', 'Margaret')
(10348, 'Peacock', 'Margaret')
(10349, 'King', 'Robert')
(10350, 'Suyama', 'Michael')
(10351, 'Davolio', 'Nancy')
(10352, 'Leverling', 'Janet')
(10353, 'King', 'Robert')
(10354, 'Callahan', 'Laura')
(10355, 'Suyama', 'Michael')
(10356, 'Suyama', 'Michael')
(10357, 'Davolio', 'Nancy')
(10358, 'Buchanan', 'Steven')
(10359, 'Buchanan', 'Steven')
(10360, 'Peacock', 'Margaret')
(10361, 'Davolio', 'Nancy')
(10362, 'Leverling', 'Janet')
(10363, 'Peacock', 'Margaret')
(10364, 'Davolio', 'Nancy')
(10365, 'Leverling', 'Janet')
(10366, 'Callahan', 'Laura')
(10367, 'King', 'Robert')
(10368, 'Fuller', 'Andrew')
(10369, 'Callahan', 'Laura')
(10370, 'Suyama', 'Michael')
(10371, 'Davolio', 'Nancy')
(10372, 'Buchanan', 'Steven')
(10373, 'Peacock', 'Margaret')
(10374, 'Davolio', 'Nancy')
(10375, 'Leverling', 'Janet')
(10376, 'Davolio', 'Nancy')
(10377, 'Davolio', 'Nancy')
(10378, 'Buchanan', 'Steven')
(10379, 'Fuller', 'Andrew')
(10380, 'Callahan', 'Laura')
(10381, 'Leverling', 'Janet')
(10382, 'Peacock', 'Margaret')
(10383, 'Callahan', 'Laura')
(10384, 'Leverling', 'Janet')
(10385, 'Davolio', 'Nancy')
(10386, 'Dodsworth', 'Anne')
(10387, 'Davolio', 'Nancy')
(10388, 'Fuller', 'Andrew')
(10389, 'Peacock', 'Margaret')
(10390, 'Suyama', 'Michael')
(10391, 'Leverling', 'Janet')
(10392, 'Fuller', 'Andrew')
(10393, 'Davolio', 'Nancy')
(10394, 'Davolio', 'Nancy')
(10395, 'Suyama', 'Michael')
(10396, 'Davolio', 'Nancy')
(10397, 'Buchanan', 'Steven')
(10398, 'Fuller', 'Andrew')
(10399, 'Callahan', 'Laura')
(10400, 'Davolio', 'Nancy')
(10401, 'Davolio', 'Nancy')
(10402, 'Callahan', 'Laura')
(10403, 'Peacock', 'Margaret')
(10404, 'Fuller', 'Andrew')
(10405, 'Davolio', 'Nancy')
(10406, 'King', 'Robert')
(10407, 'Fuller', 'Andrew')
(10408, 'Callahan', 'Laura')
(10409, 'Leverling', 'Janet')
(10410, 'Leverling', 'Janet')
(10411, 'Dodsworth', 'Anne')
(10412, 'Callahan', 'Laura')
(10413, 'Leverling', 'Janet')
(10414, 'Fuller', 'Andrew')
(10415, 'Leverling', 'Janet')
(10416, 'Callahan', 'Laura')
(10417, 'Peacock', 'Margaret')
(10418, 'Peacock', 'Margaret')
(10419, 'Peacock', 'Margaret')
(10420, 'Leverling', 'Janet')
(10421, 'Callahan', 'Laura')
(10422, 'Fuller', 'Andrew')
(10423, 'Suyama', 'Michael')
(10424, 'King', 'Robert')
(10425, 'Suyama', 'Michael')
(10426, 'Peacock', 'Margaret')
(10427, 'Peacock', 'Margaret')
(10428, 'King', 'Robert')
(10429, 'Leverling', 'Janet')
(10430, 'Peacock', 'Margaret')
(10431, 'Peacock', 'Margaret')
(10432, 'Leverling', 'Janet')
(10433, 'Leverling', 'Janet')
(10434, 'Leverling', 'Janet')
(10435, 'Callahan', 'Laura')
(10436, 'Leverling', 'Janet')
(10437, 'Callahan', 'Laura')
(10438, 'Leverling', 'Janet')
(10439, 'Suyama', 'Michael')
(10440, 'Peacock', 'Margaret')
(10441, 'Leverling', 'Janet')
(10442, 'Leverling', 'Janet')
(10443, 'Callahan', 'Laura')

## SQL FULL OUTER JOIN Keyword

In [110]:
execute_sql_db(
    """
    SELECT Customers.CustomerName, Orders.OrderID
    FROM Customers
    FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
    ORDER BY Customers.CustomerName;
    """,
    "test2.db"
)

('Ana Trujillo Emparedados y helados', 10308)
('Antonio Moreno Taquera', 10365)
('Around the Horn', 10355)
('Around the Horn', 10383)
("B's Beverages", 10289)
('Berglunds snabbkp', 10278)
('Berglunds snabbkp', 10280)
('Berglunds snabbkp', 10384)
('Blauer See Delikatessen', None)
('Blondel pre et fils', 10265)
('Blondel pre et fils', 10297)
('Blondel pre et fils', 10360)
('Blondel pre et fils', 10436)
("Bon app'", 10331)
("Bon app'", 10340)
("Bon app'", 10362)
('Bottom-Dollar Marketse', 10389)
('Bottom-Dollar Marketse', 10410)
('Bottom-Dollar Marketse', 10411)
('Bottom-Dollar Marketse', 10431)
('Blido Comidas preparadas', 10326)
('Cactus Comidas para llevar', None)
('Cardinal', None)
('Cardinal', None)
('Centro comercial Moctezuma', 10259)
('Chop-suey Chinese', 10254)
('Chop-suey Chinese', 10370)
('Comrcio Mineiro', 10290)
('Consolidated Holdings', 10435)
('Die Wandernde Kuh', 10301)
('Die Wandernde Kuh', 10312)
('Die Wandernde Kuh', 10348)
('Die Wandernde Kuh', 10356)
('Drachenblut Delikatessend', 10363)
('Drachenblut Delikatessend', 10391)
('Du monde entier', 10311)
('Eastern Connection', 10364)
('Eastern Connection', 10400)
('Ernst Handel', 10258)
('Ernst Handel', 10263)
('Ernst Handel', 10351)
('Ernst Handel', 10368)
('Ernst Handel', 10382)
('Ernst Handel', 10390)
('Ernst Handel', 10402)
('Ernst Handel', 10403)
('Ernst Handel', 10430)
('Ernst Handel', 10442)
('FISSA Fabrica Inter. Salchichas S.A.', None)
('Familia Arquibaldo', 10347)
('Familia Arquibaldo', 10386)
('Familia Arquibaldo', 10414)
('Folies gourmandes', 10408)
('Folk och f HB', 10264)
('Folk och f HB', 10327)
('Folk och f HB', 10378)
('Folk och f HB', 10434)
('France restauration', None)
('Franchi S.p.A.', 10422)
('Frankenversand', 10267)
('Frankenversand', 10337)
('Frankenversand', 10342)
('Frankenversand', 10396)
('Furia Bacalhau e Frutos do Mar', 10328)
('Furia Bacalhau e Frutos do Mar', 10352)
('GROSELLA-Restaurante', 10268)
('Galera del gastrnomo', 10366)
('Galera del gastrnomo', 10426)
('Godos Cocina Tpica', 10303)
('Gourmet Lanchonetes', 10423)
('Greasy Burger', None)
('Great Lakes Food Market', None)
('HILARIN-Abastos', 10257)
('HILARIN-Abastos', 10395)
('Hanari Carnes', 10250)
('Hanari Carnes', 10253)
('Hungry Coyote Import Store', 10375)
('Hungry Coyote Import Store', 10394)
('Hungry Coyote Import Store', 10415)
('Hungry Owl All-Night Grocers', 10298)
('Hungry Owl All-Night Grocers', 10309)
('Hungry Owl All-Night Grocers', 10335)
('Hungry Owl All-Night Grocers', 10373)
('Hungry Owl All-Night Grocers', 10380)
('Hungry Owl All-Night Grocers', 10429)
('Island Trading', 10315)
('Island Trading', 10318)
('Island Trading', 10321)
('Kniglich Essen', 10323)
('Kniglich Essen', 10325)
('LILA-Supermercado', 10283)
('LILA-Supermercado', 10296)
('LILA-Supermercado', 10330)
('LILA-Supermercado', 10357)
('LILA-Supermercado', 10381)
('LINO-Delicateses', 10405)
("La corne d'abondance", None)
("La maison d'Asie", 10350)
("La maison d'Asie", 10358)
("La maison d'Asie", 10371)
("La maison d'Asie", 10413)
("La maison d'Asie", 10425)
('Laughing Bacchus Wine Cellars', None)
('Lazy K Kountry Store', None)
('Lehmanns Marktstand', 10279)
('Lehmanns Marktstand', 10284)
('Lehmanns Marktstand', 10343)
("Let's Stop N Shop", None)
('Lonesome Pine Restaurant', 10307)
('Lonesome Pine Restaurant', 10317)
('Magazzini Alimentari Riuniti', 10275)
('Magazzini Alimentari Riuniti', 10300)
('Magazzini Alimentari Riuniti', 10404)
('Maison Dewey', None)
('Morgenstern Gesundkost', 10277)
('Mre Paillarde', 10332)
('Mre Paillarde', 10339)
('Mre Paillarde', 10376)
('Mre Paillarde', 10424)
('Mre Paillarde', 10439)
('North/South', None)
('Ocano Atlntico Ltda.', 10409)
('Old World Delicatessen', 10260)
('Old World Delicatessen', 10305)
('Old World Delicatessen', 10338)
('Old World Delicatessen', 10441)
('Ottilies Kseladen', 10407)
('Paris spcialits', None)
('Pericles Comidas clsicas', 10322)
('Pericles Comidas clsicas', 10354)
('Piccolo und mehr', 10353)
('Piccolo und mehr', 10392)
('Piccolo und mehr', 10427)
('Princesa Isabel Vinhoss', 10336)
('Princesa Isabel Vinhoss', 10397)
('Princesa Isabel Vinhoss', 10433)
('QUICK-Stop', 10273)
('QUICK-Stop', 10285)
('QUICK-Stop', 10286)
('QUICK-Stop', 10313)
('QUICK-Stop', 10345)
('QUICK-Stop', 10361)
('QUICK-Stop', 10418)
('Que Delcia', 10261)
('Que Delcia', 10291)
('Que Delcia', 10379)
('Que Delcia', 10421)
('Queen Cozinha', 10372)
('Queen Cozinha', 10406)
('Rancho grande', None)
('Rattlesnake Canyon Grocery', 10262)
('Rattlesnake Canyon Grocery', 10272)
('Rattlesnake Canyon Grocery', 10294)
('Rattlesnake Canyon Grocery', 10314)
('Rattlesnake Canyon Grocery', 10316)
('Rattlesnake Canyon Grocery', 10346)
('Rattlesnake Canyon Grocery', 10401)
('Reggiani Caseifici', 10288)
('Reggiani Caseifici', 10428)
('Reggiani Caseifici', 10443)
('Ricardo Adocicados', 10287)
('Ricardo Adocicados', 10299)
('Richter Supermarkt', 10255)
('Richter Supermarkt', 10419)
('Romero y tomillo', 10281)
('Romero y tomillo', 10282)
('Romero y tomillo', 10306)
('Sant Gourmet', 10387)
('Save-a-lot Markets', 10324)
('Save-a-lot Markets', 10393)
('Save-a-lot Markets', 10398)
('Save-a-lot Markets', 10440)
('Seven Seas Imports', 10359)
('Seven Seas Imports', 10377)
('Seven Seas Imports', 10388)
('Simons bistro', 10341)
('Simons bistro', 10417)
('Split Rail Beer & Ale', 10271)
('Split Rail Beer & Ale', 10329)
('Split Rail Beer & Ale', 10349)
('Split Rail Beer & Ale', 10369)
('Split Rail Beer & Ale', 10385)
('Split Rail Beer & Ale', 10432)
('Spcialits du monde', None)
('Suprmes dlices', 10252)
('Suprmes dlices', 10302)
('Tasty Tee', None)
('The Big Cheese', 10310)
('The Cracker Box', None)
('Toms Spezialitten', 10438)
('Tortuga Restaurante', 10276)
('Tortuga Restaurante', 10293)
('Tortuga Restaurante', 10304)
('Tortuga Restaurante', 10319)
('Tradio Hipermercados', 10249)
('Tradio Hipermercados', 10292)
("Trail's Head Gourmet Provisioners", None)
('Vaffeljernet', 10367)
('Vaffeljernet', 10399)
('Victuailles en stock', 10251)
('Victuailles en stock', 10334)
('Vins et alcools Chevalier', 10274)
('Vins et alcools Chevalier', 10295)
('Wartian Herkku', 10266)
('Wartian Herkku', 10270)
('Wartian Herkku', 10320)
('Wartian Herkku', 10333)
('Wartian Herkku', 10412)
('Wartian Herkku', 10416)
('Wartian Herkku', 10437)
('Wellington Importadora', 10256)
('Wellington Importadora', 10420)
('White Clover Markets', 10269)
('White Clover Markets', 10344)
('Wilman Kala', 10248)
('Wolski', 10374)

## SQL Self Join Example

In [111]:
execute_sql_db(
    """
    SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City
    FROM Customers A, Customers B
    WHERE A.CustomerID <> B.CustomerID
    AND A.City = B.City
    ORDER BY A.City;
    """,
    "test2.db"
)

('Cactus Comidas para llevar', 'Ocano Atlntico Ltda.', 'Buenos Aires')
('Cactus Comidas para llevar', 'Rancho grande', 'Buenos Aires')
('Ocano Atlntico Ltda.', 'Cactus Comidas para llevar', 'Buenos Aires')
('Ocano Atlntico Ltda.', 'Rancho grande', 'Buenos Aires')
('Rancho grande', 'Cactus Comidas para llevar', 'Buenos Aires')
('Rancho grande', 'Ocano Atlntico Ltda.', 'Buenos Aires')
('Furia Bacalhau e Frutos do Mar', 'Princesa Isabel Vinhoss', 'Lisboa')
('Princesa Isabel Vinhoss', 'Furia Bacalhau e Frutos do Mar', 'Lisboa')
('Around the Horn', "B's Beverages", 'London')
('Around the Horn', 'Consolidated Holdings', 'London')
('Around the Horn', 'Eastern Connection', 'London')
('Around the Horn', 'North/South', 'London')
('Around the Horn', 'Seven Seas Imports', 'London')
("B's Beverages", 'Around the Horn', 'London')
("B's Beverages", 'Consolidated Holdings', 'London')
("B's Beverages", 'Eastern Connection', 'London')
("B's Beverages", 'North/South', 'London')
("B's Beverages", 'Seven Seas Imports', 'London')
('Consolidated Holdings', 'Around the Horn', 'London')
('Consolidated Holdings', "B's Beverages", 'London')
('Consolidated Holdings', 'Eastern Connection', 'London')
('Consolidated Holdings', 'North/South', 'London')
('Consolidated Holdings', 'Seven Seas Imports', 'London')
('Eastern Connection', 'Around the Horn', 'London')
('Eastern Connection', "B's Beverages", 'London')
('Eastern Connection', 'Consolidated Holdings', 'London')
('Eastern Connection', 'North/South', 'London')
('Eastern Connection', 'Seven Seas Imports', 'London')
('North/South', 'Around the Horn', 'London')
('North/South', "B's Beverages", 'London')
('North/South', 'Consolidated Holdings', 'London')
('North/South', 'Eastern Connection', 'London')
('North/South', 'Seven Seas Imports', 'London')
('Seven Seas Imports', 'Around the Horn', 'London')
('Seven Seas Imports', "B's Beverages", 'London')
('Seven Seas Imports', 'Consolidated Holdings', 'London')
('Seven Seas Imports', 'Eastern Connection', 'London')
('Seven Seas Imports', 'North/South', 'London')
('Blido Comidas preparadas', 'FISSA Fabrica Inter. Salchichas S.A.', 'Madrid')
('Blido Comidas preparadas', 'Romero y tomillo', 'Madrid')
('FISSA Fabrica Inter. Salchichas S.A.', 'Blido Comidas preparadas', 'Madrid')
('FISSA Fabrica Inter. Salchichas S.A.', 'Romero y tomillo', 'Madrid')
('Romero y tomillo', 'Blido Comidas preparadas', 'Madrid')
('Romero y tomillo', 'FISSA Fabrica Inter. Salchichas S.A.', 'Madrid')
('Ana Trujillo Emparedados y helados', 'Antonio Moreno Taquera', 'Mxico D.F.')
('Ana Trujillo Emparedados y helados', 'Centro comercial Moctezuma', 'Mxico D.F.')
('Ana Trujillo Emparedados y helados', 'Pericles Comidas clsicas', 'Mxico D.F.')
('Ana Trujillo Emparedados y helados', 'Tortuga Restaurante', 'Mxico D.F.')
('Antonio Moreno Taquera', 'Ana Trujillo Emparedados y helados', 'Mxico D.F.')
('Antonio Moreno Taquera', 'Centro comercial Moctezuma', 'Mxico D.F.')
('Antonio Moreno Taquera', 'Pericles Comidas clsicas', 'Mxico D.F.')
('Antonio Moreno Taquera', 'Tortuga Restaurante', 'Mxico D.F.')
('Centro comercial Moctezuma', 'Ana Trujillo Emparedados y helados', 'Mxico D.F.')
('Centro comercial Moctezuma', 'Antonio Moreno Taquera', 'Mxico D.F.')
('Centro comercial Moctezuma', 'Pericles Comidas clsicas', 'Mxico D.F.')
('Centro comercial Moctezuma', 'Tortuga Restaurante', 'Mxico D.F.')
('Pericles Comidas clsicas', 'Ana Trujillo Emparedados y helados', 'Mxico D.F.')
('Pericles Comidas clsicas', 'Antonio Moreno Taquera', 'Mxico D.F.')
('Pericles Comidas clsicas', 'Centro comercial Moctezuma', 'Mxico D.F.')
('Pericles Comidas clsicas', 'Tortuga Restaurante', 'Mxico D.F.')
('Tortuga Restaurante', 'Ana Trujillo Emparedados y helados', 'Mxico D.F.')
('Tortuga Restaurante', 'Antonio Moreno Taquera', 'Mxico D.F.')
('Tortuga Restaurante', 'Centro comercial Moctezuma', 'Mxico D.F.')
('Tortuga Restaurante', 'Pericles Comidas clsicas', 'Mxico D.F.')
('Du monde entier', 'France restauration', 'Nantes')
('France restauration', 'Du monde entier', 'Nantes')
('Paris spcialits', 'Spcialits du monde', 'Paris')
('Spcialits du monde', 'Paris spcialits', 'Paris')
('Lonesome Pine Restaurant', 'The Big Cheese', 'Portland')
('The Big Cheese', 'Lonesome Pine Restaurant', 'Portland')
('Hanari Carnes', 'Que Delcia', 'Rio de Janeiro')
('Hanari Carnes', 'Ricardo Adocicados', 'Rio de Janeiro')
('Que Delcia', 'Hanari Carnes', 'Rio de Janeiro')
('Que Delcia', 'Ricardo Adocicados', 'Rio de Janeiro')
('Ricardo Adocicados', 'Hanari Carnes', 'Rio de Janeiro')
('Ricardo Adocicados', 'Que Delcia', 'Rio de Janeiro')
('Cardinal', 'Cardinal', 'Stavanger')
('Cardinal', 'Cardinal', 'Stavanger')
('Comrcio Mineiro', 'Familia Arquibaldo', 'So Paulo')
('Comrcio Mineiro', 'Queen Cozinha', 'So Paulo')
('Comrcio Mineiro', 'Tradio Hipermercados', 'So Paulo')
('Familia Arquibaldo', 'Comrcio Mineiro', 'So Paulo')
('Familia Arquibaldo', 'Queen Cozinha', 'So Paulo')
('Familia Arquibaldo', 'Tradio Hipermercados', 'So Paulo')
('Queen Cozinha', 'Comrcio Mineiro', 'So Paulo')
('Queen Cozinha', 'Familia Arquibaldo', 'So Paulo')
('Queen Cozinha', 'Tradio Hipermercados', 'So Paulo')
('Tradio Hipermercados', 'Comrcio Mineiro', 'So Paulo')
('Tradio Hipermercados', 'Familia Arquibaldo', 'So Paulo')
('Tradio Hipermercados', 'Queen Cozinha', 'So Paulo')

## SQL UNION Operator

In [112]:
execute_sql_db(
    """
    SELECT City FROM Customers
    UNION
    SELECT City FROM Suppliers
    ORDER BY City;
    """,
    "test2.db"
)

('Aachen',)
('Albuquerque',)
('Anchorage',)
('Ann Arbor',)
('Annecy',)
('Barcelona',)
('Barquisimeto',)
('Bend',)
('Bergamo',)
('Berlin',)
('Bern',)
('Boise',)
('Boston',)
('Brandenburg',)
('Bruxelles',)
('Brcke',)
('Buenos Aires',)
('Butte',)
('Campinas',)
('Caracas',)
('Charleroi',)
('Cork',)
('Cowes',)
('Cunewalde',)
('Cuxhaven',)
('Elgin',)
('Eugene',)
('Frankfurt',)
('Frankfurt a.M.',)
('Genve',)
('Graz',)
('Gteborg',)
('Helsinki',)
('I. de Margarita',)
('Kirkland',)
('Kln',)
('Kbenhavn',)
('Lander',)
('Lappeenranta',)
('Leipzig',)
('Lille',)
('Lisboa',)
('Liverpool',)
('London',)
('Londona',)
('Lule',)
('Lyngby',)
('Lyon',)
('Madrid',)
('Manchester',)
('Mannheim',)
('Marseille',)
('Melbourne',)
('Montceau',)
('Montral',)
('Mxico D.F.',)
('Mnchen',)
('Mnster',)
('Nantes',)
('New Orleans',)
('Osaka',)
('Oulu',)
('Oviedo',)
('Paris',)
('Portland',)
('Ravenna',)
('Reggio Emilia',)
('Reims',)
('Resende',)
('Rio de Janeiro',)
('Salerno',)
('Salzburg',)
('San Cristbal',)
('San Francisco',)
('Sandnes',)
('Sandvika',)
('Seattle',)
('Sevilla',)
('Singapore',)
('Stavanger',)
('Stavern',)
('Ste-Hyacinthe',)
('Stockholm',)
('Strasbourg',)
('Stuttgart',)
('Sydney',)
('So Paulo',)
('Tokyo',)
('Torino',)
('Toulouse',)
('Tsawassen',)
('Vancouver',)
('Versailles',)
('Walla',)
('Walla Walla',)
('Zaandam',)
('rhus',)

In [113]:
execute_sql_db(
    """
    SELECT City FROM Customers
    UNION ALL
    SELECT City FROM Suppliers
    ORDER BY City;
    """,
    "test2.db"
)

('Aachen',)
('Albuquerque',)
('Anchorage',)
('Ann Arbor',)
('Annecy',)
('Barcelona',)
('Barquisimeto',)
('Bend',)
('Bergamo',)
('Berlin',)
('Bern',)
('Boise',)
('Boston',)
('Brandenburg',)
('Bruxelles',)
('Brcke',)
('Buenos Aires',)
('Buenos Aires',)
('Buenos Aires',)
('Butte',)
('Campinas',)
('Caracas',)
('Charleroi',)
('Cork',)
('Cowes',)
('Cunewalde',)
('Cuxhaven',)
('Elgin',)
('Eugene',)
('Frankfurt',)
('Frankfurt a.M.',)
('Genve',)
('Graz',)
('Gteborg',)
('Helsinki',)
('I. de Margarita',)
('Kirkland',)
('Kln',)
('Kbenhavn',)
('Lander',)
('Lappeenranta',)
('Leipzig',)
('Lille',)
('Lisboa',)
('Lisboa',)
('Liverpool',)
('London',)
('London',)
('London',)
('London',)
('London',)
('London',)
('Londona',)
('Lule',)
('Lyngby',)
('Lyon',)
('Madrid',)
('Madrid',)
('Madrid',)
('Manchester',)
('Mannheim',)
('Marseille',)
('Melbourne',)
('Montceau',)
('Montral',)
('Montral',)
('Mxico D.F.',)
('Mxico D.F.',)
('Mxico D.F.',)
('Mxico D.F.',)
('Mxico D.F.',)
('Mnchen',)
('Mnster',)
('Nantes',)
('Nantes',)
('New Orleans',)
('Osaka',)
('Oulu',)
('Oviedo',)
('Paris',)
('Paris',)
('Paris',)
('Portland',)
('Portland',)
('Ravenna',)
('Reggio Emilia',)
('Reims',)
('Resende',)
('Rio de Janeiro',)
('Rio de Janeiro',)
('Rio de Janeiro',)
('Salerno',)
('Salzburg',)
('San Cristbal',)
('San Francisco',)
('Sandnes',)
('Sandvika',)
('Seattle',)
('Sevilla',)
('Singapore',)
('Stavanger',)
('Stavanger',)
('Stavern',)
('Ste-Hyacinthe',)
('Stockholm',)
('Strasbourg',)
('Stuttgart',)
('Sydney',)
('So Paulo',)
('So Paulo',)
('So Paulo',)
('So Paulo',)
('So Paulo',)
('Tokyo',)
('Torino',)
('Toulouse',)
('Tsawassen',)
('Vancouver',)
('Versailles',)
('Walla',)
('Walla Walla',)
('Zaandam',)
('rhus',)

In [114]:
execute_sql_db(
    """
    SELECT City, Country FROM Customers
    WHERE Country='Germany'
    UNION
    SELECT City, Country FROM Suppliers
    WHERE Country='Germany'
    ORDER BY City;
    """,
    "test2.db"
)

('Aachen', 'Germany')
('Berlin', 'Germany')
('Brandenburg', 'Germany')
('Cunewalde', 'Germany')
('Cuxhaven', 'Germany')
('Frankfurt', 'Germany')
('Frankfurt a.M.', 'Germany')
('Kln', 'Germany')
('Leipzig', 'Germany')
('Mannheim', 'Germany')
('Mnchen', 'Germany')
('Mnster', 'Germany')
('Stuttgart', 'Germany')

In [115]:
execute_sql_db(
    """
    SELECT City, Country FROM Customers
    WHERE Country='Germany'
    UNION ALL
    SELECT City, Country FROM Suppliers
    WHERE Country='Germany'
    ORDER BY City;
    """,
    "test2.db"
)

('Aachen', 'Germany')
('Berlin', 'Germany')
('Brandenburg', 'Germany')
('Cunewalde', 'Germany')
('Cuxhaven', 'Germany')
('Frankfurt', 'Germany')
('Frankfurt a.M.', 'Germany')
('Kln', 'Germany')
('Leipzig', 'Germany')
('Mannheim', 'Germany')
('Mnchen', 'Germany')
('Mnster', 'Germany')
('Stuttgart', 'Germany')

In [116]:
execute_sql_db(
    """
    SELECT 'Customer' AS Type, ContactName, City, Country
    FROM Customers
    UNION
    SELECT 'Supplier', ContactName, City, Country
    FROM Suppliers;
    """,
    "test2.db"
)

('Customer', 'Juan', 'Aachen', 'Germany')
('Customer', 'Juan', 'Albuquerque', 'USA')
('Customer', 'Juan', 'Anchorage', 'USA')
('Customer', 'Juan', 'Barcelona', 'Spain')
('Customer', 'Juan', 'Barquisimeto', 'Venezuela')
('Customer', 'Juan', 'Bergamo', 'Italy')
('Customer', 'Juan', 'Bern', 'Switzerland')
('Customer', 'Juan', 'Boise', 'USA')
('Customer', 'Juan', 'Brandenburg', 'Germany')
('Customer', 'Juan', 'Bruxelles', 'Belgium')
('Customer', 'Juan', 'Brcke', 'Sweden')
('Customer', 'Juan', 'Buenos Aires', 'Argentina')
('Customer', 'Juan', 'Butte', 'USA')
('Customer', 'Juan', 'Campinas', 'Brazil')
('Customer', 'Juan', 'Caracas', 'Venezuela')
('Customer', 'Juan', 'Charleroi', 'Belgium')
('Customer', 'Juan', 'Cork', 'Ireland')
('Customer', 'Juan', 'Cowes', 'UK')
('Customer', 'Juan', 'Cunewalde', 'Germany')
('Customer', 'Juan', 'Elgin', 'USA')
('Customer', 'Juan', 'Eugene', 'USA')
('Customer', 'Juan', 'Frankfurt a.M.', 'Germany')
('Customer', 'Juan', 'Genve', 'Switzerland')
('Customer', 'Juan', 'Graz', 'Austria')
('Customer', 'Juan', 'Helsinki', 'Finland')
('Customer', 'Juan', 'I. de Margarita', 'Venezuela')
('Customer', 'Juan', 'Kirkland', 'USA')
('Customer', 'Juan', 'Kln', 'Germany')
('Customer', 'Juan', 'Kbenhavn', 'Denmark')
('Customer', 'Juan', 'Lander', 'USA')
('Customer', 'Juan', 'Leipzig', 'Germany')
('Customer', 'Juan', 'Lille', 'France')
('Customer', 'Juan', 'Lisboa', 'Portugal')
('Customer', 'Juan', 'Liverpool', 'UK')
('Customer', 'Juan', 'London', 'UK')
('Customer', 'Juan', 'Lule', 'Sweden')
('Customer', 'Juan', 'Lyon', 'France')
('Customer', 'Juan', 'Madrid', 'Spain')
('Customer', 'Juan', 'Mannheim', 'Germany')
('Customer', 'Juan', 'Marseille', 'France')
('Customer', 'Juan', 'Montral', 'Canada')
('Customer', 'Juan', 'Mxico D.F.', 'Mexico')
('Customer', 'Juan', 'Mnchen', 'Germany')
('Customer', 'Juan', 'Mnster', 'Germany')
('Customer', 'Juan', 'Nantes', 'France')
('Customer', 'Juan', 'Oulu', 'Finland')
('Customer', 'Juan', 'Paris', 'France')
('Customer', 'Juan', 'Portland', 'USA')
('Customer', 'Juan', 'Reggio Emilia', 'Italy')
('Customer', 'Juan', 'Reims', 'France')
('Customer', 'Juan', 'Resende', 'Brazil')
('Customer', 'Juan', 'Rio de Janeiro', 'Brazil')
('Customer', 'Juan', 'Salzburg', 'Austria')
('Customer', 'Juan', 'San Cristbal', 'Venezuela')
('Customer', 'Juan', 'San Francisco', 'USA')
('Customer', 'Juan', 'Sandnes', 'Norway')
('Customer', 'Juan', 'Seattle', 'USA')
('Customer', 'Juan', 'Sevilla', 'Spain')
('Customer', 'Juan', 'Stavanger', 'Norway')
('Customer', 'Juan', 'Stavern', 'Norway')
('Customer', 'Juan', 'Strasbourg', 'France')
('Customer', 'Juan', 'Stuttgart', 'Germany')
('Customer', 'Juan', 'So Paulo', 'Brazil')
('Customer', 'Juan', 'Torino', 'Italy')
('Customer', 'Juan', 'Toulouse', 'France')
('Customer', 'Juan', 'Tsawassen', 'Canada')
('Customer', 'Juan', 'Vancouver', 'Canada')
('Customer', 'Juan', 'Versailles', 'France')
('Customer', 'Juan', 'Walla', 'Poland')
('Customer', 'Juan', 'Walla Walla', 'USA')
('Customer', 'Juan', 'rhus', 'Denmark')
('Supplier', 'Anne Heikkonen', 'Lappeenranta', 'Finland')
('Supplier', 'Antonio del Valle Saavedra', 'Oviedo', 'Spain')
('Supplier', 'Beate Vileid', 'Sandvika', 'Norway')
('Supplier', 'Carlos Diaz', 'So Paulo', 'Brazil')
('Supplier', 'Chandra Leka', 'Singapore', 'Singapore')
('Supplier', 'Chantal Goulet', 'Ste-Hyacinthe', 'Canada')
('Supplier', 'Charlotte Cooper', 'Londona', 'UK')
('Supplier', 'Cheryl Saylor', 'Bend', 'USA')
('Supplier', 'Dirk Luchte', 'Zaandam', 'Netherlands')
('Supplier', 'Eliane Noz', 'Annecy', 'France')
('Supplier', 'Elio Rossi', 'Ravenna', 'Italy')
('Supplier', 'Giovanni Giudici', 'Salerno', 'Italy')
('Supplier', 'Guylne Nodier', 'Paris', 'France')
('Supplier', 'Ian Devling', 'Melbourne', 'Australia')
('Supplier', 'Jean-Guy Lauzon', 'Montral', 'Canada')
('Supplier', 'Lars Peterson', 'Gteborg', 'Sweden')
('Supplier', 'Marie Delamare', 'Montceau', 'France')
('Supplier', 'Martin Bein', 'Frankfurt', 'Germany')
('Supplier', 'Mayumi Ohno', 'Osaka', 'Japan')
('Supplier', 'Michael Bjrn', 'Stockholm', 'Sweden')
('Supplier', 'Niels Petersen', 'Lyngby', 'Denmark')
('Supplier', 'Peter Wilson', 'Manchester', 'UK')
('Supplier', 'Petra Winkler', 'Berlin', 'Germany')
('Supplier', 'Regina Murphy', 'Ann Arbor', 'USA')
('Supplier', 'Robb Merchant', 'Boston', 'USA')
('Supplier', 'Shelley Burke', 'New Orleans', 'USA')
('Supplier', 'Sven Petersen', 'Cuxhaven', 'Germany')
('Supplier', 'Wendy Mackenzie', 'Sydney', 'Australia')
('Supplier', 'Yoshi Nagase', 'Tokyo', 'Japan')

## SQL GROUP BY Statement

In [117]:
execute_sql_db(
    """
    SELECT COUNT(CustomerID), Country
    FROM Customers
    GROUP BY Country;
    """,
    "test2.db"
)

(3, 'Argentina')
(2, 'Austria')
(2, 'Belgium')
(9, 'Brazil')
(3, 'Canada')
(2, 'Denmark')
(2, 'Finland')
(11, 'France')
(10, 'Germany')
(1, 'Ireland')
(3, 'Italy')
(5, 'Mexico')
(4, 'Norway')
(1, 'Poland')
(2, 'Portugal')
(5, 'Spain')
(2, 'Sweden')
(2, 'Switzerland')
(8, 'UK')
(13, 'USA')
(4, 'Venezuela')

In [118]:
execute_sql_db(
    """
    SELECT COUNT(CustomerID), Country
    FROM Customers
    GROUP BY Country
    ORDER BY COUNT(CustomerID) DESC;
    """,
    "test2.db"
)

(13, 'USA')
(11, 'France')
(10, 'Germany')
(9, 'Brazil')
(8, 'UK')
(5, 'Spain')
(5, 'Mexico')
(4, 'Venezuela')
(4, 'Norway')
(3, 'Italy')
(3, 'Canada')
(3, 'Argentina')
(2, 'Switzerland')
(2, 'Sweden')
(2, 'Portugal')
(2, 'Finland')
(2, 'Denmark')
(2, 'Belgium')
(2, 'Austria')
(1, 'Poland')
(1, 'Ireland')

In [119]:
execute_sql_db(
    """
    SELECT Shippers.ShipperName, COUNT(Orders.OrderID) AS NumberOfOrders FROM Orders
    LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
    GROUP BY ShipperName;
    """,
    "test2.db"
)

('Federal Shipping', 68)
('Speedy Express', 54)
('United Package', 74)

## SQL HAVING Clause

In [120]:
execute_sql_db(
    """
    SELECT COUNT(CustomerID), Country
    FROM Customers
    GROUP BY Country
    HAVING COUNT(CustomerID) > 5;
    """,
    "test2.db"
)

(9, 'Brazil')
(11, 'France')
(10, 'Germany')
(8, 'UK')
(13, 'USA')

In [121]:
execute_sql_db(
    """
    SELECT COUNT(CustomerID), Country
    FROM Customers
    GROUP BY Country
    HAVING COUNT(CustomerID) > 5
    ORDER BY COUNT(CustomerID) DESC;
    """,
    "test2.db"
)

(13, 'USA')
(11, 'France')
(10, 'Germany')
(9, 'Brazil')
(8, 'UK')

In [122]:
execute_sql_db(
    """
    SELECT Employees.LastName, COUNT(Orders.OrderID) AS NumberOfOrders
    FROM (Orders
    INNER JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID)
    GROUP BY LastName
    HAVING COUNT(Orders.OrderID) > 10;
    """,
    "test2.db"
)

('Buchanan', 11)
('Callahan', 27)
('Davolio', 29)
('Fuller', 20)
('King', 14)
('Leverling', 31)
('Peacock', 40)
('Suyama', 18)

In [123]:
execute_sql_db(
    """
    SELECT Employees.LastName, COUNT(Orders.OrderID) AS NumberOfOrders
    FROM Orders
    INNER JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
    WHERE LastName = 'Davolio' OR LastName = 'Fuller'
    GROUP BY LastName
    HAVING COUNT(Orders.OrderID) > 25;
    """,
    "test2.db"
)

('Davolio', 29)

## SQL EXISTS Operator

In [126]:
execute_sql_db(
    """
    SELECT SupplierName
    FROM Suppliers
    WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price < 20);
    """,
    "test2.db"
)

('Exotic Liquid',)
('New Orleans Cajun Delights',)
('Tokyo Traders',)
("Mayumi's",)
('Pavlova, Ltd.',)
('Specialty Biscuits, Ltd.',)
('PB Knckebrd AB',)
('Refrescos Americanas LTDA',)
('Heli Swaren GmbH & Co. KG',)
('Plutzer Lebensmittelgromrkte AG',)
('Formaggi Fortini s.r.l.',)
('Norske Meierier',)
('Bigfoot Breweries',)
('Svensk Sjfda AB',)
('Aux joyeux ecclsiastiques',)
('New England Seafood Cannery',)
('Leka Trading',)
('Lyngbysild',)
('Zaanse Snoepfabriek',)
('Karkki Oy',)
("G'day, Mate",)
('Ma Maison',)
('Pasta Buttini s.r.l.',)
('Escargots Nouveaux',)

In [127]:
execute_sql_db(
    """
    SELECT SupplierName
    FROM Suppliers
    WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price = 22);
    """,
    "test2.db"
)

('New Orleans Cajun Delights',)

## SQL ANY and ALL Operators
### ANY  SQLite

In [129]:
execute_sql_db(
    """
    SELECT ProductName
    FROM Products
    WHERE ProductID = ANY
        (SELECT ProductID
        FROM OrderDetails
        WHERE Quantity = 10);
    """,
    "test2.db"
)

OperationalError: near "SELECT": syntax error

In [130]:
execute_sql_db(
    """
    SELECT ProductName
    FROM Products
    WHERE ProductID = ANY
        (SELECT ProductID
        FROM OrderDetails
        WHERE Quantity > 99);
    """,
    "test2.db"
)

OperationalError: near "SELECT": syntax error

In [131]:
execute_sql_db(
    """
    SELECT ProductName
    FROM Products
    WHERE ProductID = ANY
        (SELECT ProductID
        FROM OrderDetails
        WHERE Quantity > 1000);
    """,
    "test2.db"
)

OperationalError: near "SELECT": syntax error

In [132]:
execute_sql_db(
    """
    SELECT ALL ProductName
    FROM Products
    WHERE TRUE;
    """,
    "test2.db"
)

('Chais',)
('Chang',)
('Aniseed Syrup',)
("Chef Anton's Cajun Seasoning",)
("Chef Anton's Gumbo Mix",)
("Grandma's Boysenberry Spread",)
("Uncle Bob's Organic Dried Pears",)
('Northwoods Cranberry Sauce',)
('Mishi Kobe Niku',)
('Ikura',)
('Queso Cabrales',)
('Queso Manchego La Pastora',)
('Konbu',)
('Tofu',)
('Genen Shouyu',)
('Pavlova',)
('Alice Mutton',)
('Carnarvon Tigers',)
('Teatime Chocolate Biscuits',)
("Sir Rodney's Marmalade",)
("Sir Rodney's Scones",)
("Gustaf's Knckebrd",)
('Tunnbrd',)
('Guaran Fantstica',)
('NuNuCa Nu-Nougat-Creme',)
('Gumbr Gummibrchen',)
('Schoggi Schokolade',)
('Rssle Sauerkraut',)
('Thringer Rostbratwurst',)
('Nord-Ost Matjeshering',)
('Gorgonzola Telino',)
('Mascarpone Fabioli',)
('Geitost',)
('Sasquatch Ale',)
('Steeleye Stout',)
('Inlagd Sill',)
('Gravad lax',)
('Cte de Blaye',)
('Chartreuse verte',)
('Boston Crab Meat',)
("Jack's New England Clam Chowder",)
('Singaporean Hokkien Fried Mee',)
('Ipoh Coffee',)
('Gula Malacca',)
('Rgede sild',)
('Spegesild',)
('Zaanse koeken',)
('Chocolade',)
('Maxilaku',)
('Valkoinen suklaa',)
('Manjimup Dried Apples',)
('Filo Mix',)
('Perth Pasties',)
('Tourtire',)
('Pt chinois',)
('Gnocchi di nonna Alice',)
('Ravioli Angelo',)
('Escargots de Bourgogne',)
('Raclette Courdavault',)
('Camembert Pierrot',)
("Sirop d'rable",)
('Tarte au sucre',)
('Vegie-spread',)
('Wimmers gute Semmelkndel',)
('Louisiana Fiery Hot Pepper Sauce',)
('Louisiana Hot Spiced Okra',)
('Laughing Lumberjack Lager',)
('Scottish Longbreads',)
('Gudbrandsdalsost',)
('Outback Lager',)
('Fltemysost',)
('Mozzarella di Giovanni',)
('Rd Kaviar',)
('Longlife Tofu',)
('Rhnbru Klosterbier',)
('Lakkalikri',)
('Original Frankfurter grne Soe',)

In [135]:
# execute_sql_db(
#     """
#     SELECT ProductName
#     FROM Products
#     WHERE ProductID = ALL
#         (SELECT ProductID
#         FROM OrderDetails
#         WHERE Quantity = 10);
#     """,
#     "test2.db"
# )

execute_sql_db(
    """
    SELECT ProductName
    FROM Products
    WHERE NOT EXISTS (
        SELECT ProductID
        FROM OrderDetails
        WHERE Quantity = 10
        AND ProductID NOT IN (SELECT ProductID FROM OrderDetails WHERE OrderDetails.ProductID = Products.ProductID));
    """,
    "test2.db"
)

# of course FALSE!!

## SQL SELECT INTO Statement
## The SQL INSERT INTO SELECT Statement

In [136]:
execute_sql_db(
    """
    INSERT INTO Customers (CustomerName, City, Country)
    SELECT SupplierName, City, Country FROM Suppliers;
    """,
    "test2.db"
)

In [137]:
execute_sql_db(
    """
    INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
    SELECT SupplierName, ContactName, Address, City, PostalCode, Country FROM Suppliers;
    """,
    "test2.db"
)

In [138]:
execute_sql_db(
    """
    INSERT INTO Customers (CustomerName, City, Country)
    SELECT SupplierName, City, Country FROM Suppliers
    WHERE Country='Germany';
    """,
    "test2.db"
)

## SQL CASE Expression

In [139]:
execute_sql_db(
    """
    SELECT OrderID, Quantity,
    CASE
        WHEN Quantity > 30 THEN 'The quantity is greater than 30'
        WHEN Quantity = 30 THEN 'The quantity is 30'
        ELSE 'The quantity is under 30'
    END AS QuantityText
    FROM OrderDetails;
    """,
    "test2.db"
)

('10248', 12, 'The quantity is under 30')
('10248', 10, 'The quantity is under 30')
('10248', 5, 'The quantity is under 30')
('10249', 9, 'The quantity is under 30')
('10249', 40, 'The quantity is greater than 30')
('10250', 10, 'The quantity is under 30')
('10250', 35, 'The quantity is greater than 30')
('10250', 15, 'The quantity is under 30')
('10251', 6, 'The quantity is under 30')
('10251', 15, 'The quantity is under 30')
('10251', 20, 'The quantity is under 30')
('10252', 40, 'The quantity is greater than 30')
('10252', 25, 'The quantity is under 30')
('10252', 40, 'The quantity is greater than 30')
('10253', 20, 'The quantity is under 30')
('10253', 42, 'The quantity is greater than 30')
('10253', 40, 'The quantity is greater than 30')
('10254', 15, 'The quantity is under 30')
('10254', 21, 'The quantity is under 30')
('10254', 21, 'The quantity is under 30')
('10255', 20, 'The quantity is under 30')
('10255', 35, 'The quantity is greater than 30')
('10255', 25, 'The quantity is under 30')
('10255', 30, 'The quantity is 30')
('10256', 15, 'The quantity is under 30')
('10256', 12, 'The quantity is under 30')
('10257', 25, 'The quantity is under 30')
('10257', 6, 'The quantity is under 30')
('10257', 15, 'The quantity is under 30')
('10258', 50, 'The quantity is greater than 30')
('10258', 65, 'The quantity is greater than 30')
('10258', 6, 'The quantity is under 30')
('10259', 10, 'The quantity is under 30')
('10259', 1, 'The quantity is under 30')
('10260', 16, 'The quantity is under 30')
('10260', 50, 'The quantity is greater than 30')
('10260', 15, 'The quantity is under 30')
('10260', 21, 'The quantity is under 30')
('10261', 20, 'The quantity is under 30')
('10261', 20, 'The quantity is under 30')
('10262', 12, 'The quantity is under 30')
('10262', 15, 'The quantity is under 30')
('10262', 2, 'The quantity is under 30')
('10263', 60, 'The quantity is greater than 30')
('10263', 28, 'The quantity is under 30')
('10263', 60, 'The quantity is greater than 30')
('10263', 36, 'The quantity is greater than 30')
('10264', 35, 'The quantity is greater than 30')
('10264', 25, 'The quantity is under 30')
('10265', 30, 'The quantity is 30')
('10265', 20, 'The quantity is under 30')
('10266', 12, 'The quantity is under 30')
('10267', 50, 'The quantity is greater than 30')
('10267', 70, 'The quantity is greater than 30')
('10267', 15, 'The quantity is under 30')
('10268', 10, 'The quantity is under 30')
('10268', 4, 'The quantity is under 30')
('10269', 60, 'The quantity is greater than 30')
('10269', 20, 'The quantity is under 30')
('10270', 30, 'The quantity is 30')
('10270', 25, 'The quantity is under 30')
('10271', 24, 'The quantity is under 30')
('10272', 6, 'The quantity is under 30')
('10272', 40, 'The quantity is greater than 30')
('10272', 24, 'The quantity is under 30')
('10273', 24, 'The quantity is under 30')
('10273', 15, 'The quantity is under 30')
('10273', 20, 'The quantity is under 30')
('10273', 60, 'The quantity is greater than 30')
('10273', 33, 'The quantity is greater than 30')
('10274', 20, 'The quantity is under 30')
('10274', 7, 'The quantity is under 30')
('10275', 12, 'The quantity is under 30')
('10275', 6, 'The quantity is under 30')
('10276', 15, 'The quantity is under 30')
('10276', 10, 'The quantity is under 30')
('10277', 20, 'The quantity is under 30')
('10277', 12, 'The quantity is under 30')
('10278', 16, 'The quantity is under 30')
('10278', 15, 'The quantity is under 30')
('10278', 8, 'The quantity is under 30')
('10278', 25, 'The quantity is under 30')
('10279', 15, 'The quantity is under 30')
('10280', 12, 'The quantity is under 30')
('10280', 20, 'The quantity is under 30')
('10280', 30, 'The quantity is 30')
('10281', 1, 'The quantity is under 30')
('10281', 6, 'The quantity is under 30')
('10281', 4, 'The quantity is under 30')
('10282', 6, 'The quantity is under 30')
('10282', 2, 'The quantity is under 30')
('10283', 20, 'The quantity is under 30')
('10283', 18, 'The quantity is under 30')
('10283', 35, 'The quantity is greater than 30')
('10283', 3, 'The quantity is under 30')
('10284', 15, 'The quantity is under 30')
('10284', 21, 'The quantity is under 30')
('10284', 20, 'The quantity is under 30')
('10284', 5, 'The quantity is under 30')
('10285', 45, 'The quantity is greater than 30')
('10285', 40, 'The quantity is greater than 30')
('10285', 36, 'The quantity is greater than 30')
('10286', 100, 'The quantity is greater than 30')
('10286', 40, 'The quantity is greater than 30')
('10287', 40, 'The quantity is greater than 30')
('10287', 20, 'The quantity is under 30')
('10287', 15, 'The quantity is under 30')
('10288', 10, 'The quantity is under 30')
('10288', 3, 'The quantity is under 30')
('10289', 30, 'The quantity is 30')
('10289', 9, 'The quantity is under 30')
('10290', 20, 'The quantity is under 30')
('10290', 15, 'The quantity is under 30')
('10290', 15, 'The quantity is under 30')
('10290', 10, 'The quantity is under 30')
('10291', 20, 'The quantity is under 30')
('10291', 24, 'The quantity is under 30')
('10291', 2, 'The quantity is under 30')
('10292', 20, 'The quantity is under 30')
('10293', 12, 'The quantity is under 30')
('10293', 10, 'The quantity is under 30')
('10293', 5, 'The quantity is under 30')
('10293', 6, 'The quantity is under 30')
('10294', 18, 'The quantity is under 30')
('10294', 15, 'The quantity is under 30')
('10294', 15, 'The quantity is under 30')
('10294', 21, 'The quantity is under 30')
('10294', 6, 'The quantity is under 30')
('10295', 4, 'The quantity is under 30')
('10296', 12, 'The quantity is under 30')
('10296', 30, 'The quantity is 30')
('10296', 15, 'The quantity is under 30')
('10297', 60, 'The quantity is greater than 30')
('10297', 20, 'The quantity is under 30')
('10298', 40, 'The quantity is greater than 30')
('10298', 40, 'The quantity is greater than 30')
('10298', 30, 'The quantity is 30')
('10298', 15, 'The quantity is under 30')
('10299', 15, 'The quantity is under 30')
('10299', 20, 'The quantity is under 30')
('10300', 30, 'The quantity is 30')
('10300', 20, 'The quantity is under 30')
('10301', 10, 'The quantity is under 30')
('10301', 20, 'The quantity is under 30')
('10302', 40, 'The quantity is greater than 30')
('10302', 28, 'The quantity is under 30')
('10302', 12, 'The quantity is under 30')
('10303', 40, 'The quantity is greater than 30')
('10303', 30, 'The quantity is 30')
('10303', 15, 'The quantity is under 30')
('10304', 30, 'The quantity is 30')
('10304', 10, 'The quantity is under 30')
('10304', 2, 'The quantity is under 30')
('10305', 25, 'The quantity is under 30')
('10305', 25, 'The quantity is under 30')
('10305', 30, 'The quantity is 30')
('10306', 10, 'The quantity is under 30')
('10306', 10, 'The quantity is under 30')
('10306', 5, 'The quantity is under 30')
('10307', 10, 'The quantity is under 30')
('10307', 3, 'The quantity is under 30')
('10308', 1, 'The quantity is under 30')
('10308', 5, 'The quantity is under 30')
('10309', 20, 'The quantity is under 30')
('10309', 30, 'The quantity is 30')
('10309', 2, 'The quantity is under 30')
('10309', 20, 'The quantity is under 30')
('10309', 3, 'The quantity is under 30')
('10310', 10, 'The quantity is under 30')
('10310', 5, 'The quantity is under 30')
('10311', 6, 'The quantity is under 30')
('10311', 7, 'The quantity is under 30')
('10312', 4, 'The quantity is under 30')
('10312', 24, 'The quantity is under 30')
('10312', 20, 'The quantity is under 30')
('10312', 10, 'The quantity is under 30')
('10313', 12, 'The quantity is under 30')
('10314', 40, 'The quantity is greater than 30')
('10314', 30, 'The quantity is 30')
('10314', 25, 'The quantity is under 30')
('10315', 14, 'The quantity is under 30')
('10315', 30, 'The quantity is 30')
('10316', 10, 'The quantity is under 30')
('10316', 70, 'The quantity is greater than 30')
('10317', 20, 'The quantity is under 30')
('10318', 20, 'The quantity is under 30')
('10318', 6, 'The quantity is under 30')
('10319', 8, 'The quantity is under 30')
('10319', 14, 'The quantity is under 30')
('10319', 30, 'The quantity is 30')
('10320', 30, 'The quantity is 30')
('10321', 10, 'The quantity is under 30')
('10322', 20, 'The quantity is under 30')
('10323', 5, 'The quantity is under 30')
('10323', 4, 'The quantity is under 30')
('10323', 4, 'The quantity is under 30')
('10324', 21, 'The quantity is under 30')
('10324', 70, 'The quantity is greater than 30')
('10324', 30, 'The quantity is 30')
('10324', 40, 'The quantity is greater than 30')
('10324', 80, 'The quantity is greater than 30')
('10325', 6, 'The quantity is under 30')
('10325', 12, 'The quantity is under 30')
('10325', 9, 'The quantity is under 30')
('10325', 4, 'The quantity is under 30')
('10325', 40, 'The quantity is greater than 30')
('10326', 24, 'The quantity is under 30')
('10326', 16, 'The quantity is under 30')
('10326', 50, 'The quantity is greater than 30')
('10327', 25, 'The quantity is under 30')
('10327', 50, 'The quantity is greater than 30')
('10327', 35, 'The quantity is greater than 30')
('10327', 30, 'The quantity is 30')
('10328', 9, 'The quantity is under 30')
('10328', 40, 'The quantity is greater than 30')
('10328', 10, 'The quantity is under 30')
('10329', 10, 'The quantity is under 30')
('10329', 8, 'The quantity is under 30')
('10329', 20, 'The quantity is under 30')
('10329', 12, 'The quantity is under 30')
('10330', 50, 'The quantity is greater than 30')
('10330', 25, 'The quantity is under 30')
('10331', 15, 'The quantity is under 30')
('10332', 40, 'The quantity is greater than 30')
('10332', 10, 'The quantity is under 30')
('10332', 16, 'The quantity is under 30')
('10333', 10, 'The quantity is under 30')
('10333', 10, 'The quantity is under 30')
('10333', 40, 'The quantity is greater than 30')
('10334', 8, 'The quantity is under 30')
('10334', 10, 'The quantity is under 30')
('10335', 7, 'The quantity is under 30')
('10335', 25, 'The quantity is under 30')
('10335', 6, 'The quantity is under 30')
('10335', 48, 'The quantity is greater than 30')
('10336', 18, 'The quantity is under 30')
('10337', 40, 'The quantity is greater than 30')
('10337', 24, 'The quantity is under 30')
('10337', 20, 'The quantity is under 30')
('10337', 28, 'The quantity is under 30')
('10337', 25, 'The quantity is under 30')
('10338', 20, 'The quantity is under 30')
('10338', 15, 'The quantity is under 30')
('10339', 10, 'The quantity is under 30')
('10339', 70, 'The quantity is greater than 30')
('10339', 28, 'The quantity is under 30')
('10340', 20, 'The quantity is under 30')
('10340', 12, 'The quantity is under 30')
('10340', 40, 'The quantity is greater than 30')
('10341', 8, 'The quantity is under 30')
('10341', 9, 'The quantity is under 30')
('10342', 24, 'The quantity is under 30')
('10342', 56, 'The quantity is greater than 30')
('10342', 40, 'The quantity is greater than 30')
('10342', 40, 'The quantity is greater than 30')
('10343', 50, 'The quantity is greater than 30')
('10343', 4, 'The quantity is under 30')
('10343', 15, 'The quantity is under 30')
('10344', 35, 'The quantity is greater than 30')
('10344', 70, 'The quantity is greater than 30')
('10345', 70, 'The quantity is greater than 30')
('10345', 80, 'The quantity is greater than 30')
('10345', 9, 'The quantity is under 30')
('10346', 36, 'The quantity is greater than 30')
('10346', 20, 'The quantity is under 30')
('10347', 10, 'The quantity is under 30')
('10347', 50, 'The quantity is greater than 30')
('10347', 4, 'The quantity is under 30')
('10347', 6, 'The quantity is under 30')
('10348', 15, 'The quantity is under 30')
('10348', 25, 'The quantity is under 30')
('10349', 24, 'The quantity is under 30')
('10350', 15, 'The quantity is under 30')
('10350', 18, 'The quantity is under 30')
('10351', 20, 'The quantity is under 30')
('10351', 13, 'The quantity is under 30')
('10351', 77, 'The quantity is greater than 30')
('10351', 10, 'The quantity is under 30')
('10352', 10, 'The quantity is under 30')
('10352', 20, 'The quantity is under 30')
('10353', 12, 'The quantity is under 30')
('10353', 50, 'The quantity is greater than 30')
('10354', 12, 'The quantity is under 30')
('10354', 4, 'The quantity is under 30')
('10355', 25, 'The quantity is under 30')
('10355', 25, 'The quantity is under 30')
('10356', 30, 'The quantity is 30')
('10356', 12, 'The quantity is under 30')
('10356', 20, 'The quantity is under 30')
('10357', 30, 'The quantity is 30')
('10357', 16, 'The quantity is under 30')
('10357', 8, 'The quantity is under 30')
('10358', 10, 'The quantity is under 30')
('10358', 10, 'The quantity is under 30')
('10358', 20, 'The quantity is under 30')
('10359', 56, 'The quantity is greater than 30')
('10359', 70, 'The quantity is greater than 30')
('10359', 80, 'The quantity is greater than 30')
('10360', 30, 'The quantity is 30')
('10360', 35, 'The quantity is greater than 30')
('10360', 10, 'The quantity is under 30')
('10360', 35, 'The quantity is greater than 30')
('10360', 28, 'The quantity is under 30')
('10361', 54, 'The quantity is greater than 30')
('10361', 55, 'The quantity is greater than 30')
('10362', 50, 'The quantity is greater than 30')
('10362', 20, 'The quantity is under 30')
('10362', 24, 'The quantity is under 30')
('10363', 20, 'The quantity is under 30')
('10363', 12, 'The quantity is under 30')
('10363', 12, 'The quantity is under 30')
('10364', 30, 'The quantity is 30')
('10364', 5, 'The quantity is under 30')
('10365', 24, 'The quantity is under 30')
('10366', 5, 'The quantity is under 30')
('10366', 5, 'The quantity is under 30')
('10367', 36, 'The quantity is greater than 30')
('10367', 18, 'The quantity is under 30')
('10367', 15, 'The quantity is under 30')
('10367', 7, 'The quantity is under 30')
('10368', 5, 'The quantity is under 30')
('10368', 13, 'The quantity is under 30')
('10368', 25, 'The quantity is under 30')
('10368', 35, 'The quantity is greater than 30')
('10369', 20, 'The quantity is under 30')
('10369', 18, 'The quantity is under 30')
('10370', 15, 'The quantity is under 30')
('10370', 30, 'The quantity is 30')
('10370', 20, 'The quantity is under 30')
('10371', 6, 'The quantity is under 30')
('10372', 12, 'The quantity is under 30')
('10372', 40, 'The quantity is greater than 30')
('10372', 70, 'The quantity is greater than 30')
('10372', 42, 'The quantity is greater than 30')
('10373', 80, 'The quantity is greater than 30')
('10373', 50, 'The quantity is greater than 30')
('10374', 30, 'The quantity is 30')
('10374', 15, 'The quantity is under 30')
('10375', 15, 'The quantity is under 30')
('10375', 10, 'The quantity is under 30')
('10376', 42, 'The quantity is greater than 30')
('10377', 20, 'The quantity is under 30')
('10377', 20, 'The quantity is under 30')
('10378', 6, 'The quantity is under 30')
('10379', 8, 'The quantity is under 30')
('10379', 16, 'The quantity is under 30')
('10379', 20, 'The quantity is under 30')
('10380', 18, 'The quantity is under 30')
('10380', 20, 'The quantity is under 30')
('10380', 6, 'The quantity is under 30')
('10380', 30, 'The quantity is 30')
('10381', 14, 'The quantity is under 30')
('10382', 32, 'The quantity is greater than 30')
('10382', 9, 'The quantity is under 30')
('10382', 14, 'The quantity is under 30')
('10382', 60, 'The quantity is greater than 30')
('10382', 50, 'The quantity is greater than 30')
('10383', 20, 'The quantity is under 30')
('10383', 15, 'The quantity is under 30')
('10383', 20, 'The quantity is under 30')
('10384', 28, 'The quantity is under 30')
('10384', 15, 'The quantity is under 30')
('10385', 10, 'The quantity is under 30')
('10385', 20, 'The quantity is under 30')
('10385', 8, 'The quantity is under 30')
('10386', 15, 'The quantity is under 30')
('10386', 10, 'The quantity is under 30')
('10387', 15, 'The quantity is under 30')
('10387', 6, 'The quantity is under 30')
('10387', 12, 'The quantity is under 30')
('10387', 15, 'The quantity is under 30')
('10388', 15, 'The quantity is under 30')
('10388', 20, 'The quantity is under 30')
('10388', 40, 'The quantity is greater than 30')
('10389', 16, 'The quantity is under 30')
('10389', 15, 'The quantity is under 30')
('10389', 20, 'The quantity is under 30')
('10389', 30, 'The quantity is 30')
('10390', 60, 'The quantity is greater than 30')
('10390', 40, 'The quantity is greater than 30')
('10390', 45, 'The quantity is greater than 30')
('10390', 24, 'The quantity is under 30')
('10391', 18, 'The quantity is under 30')
('10392', 50, 'The quantity is greater than 30')
('10393', 25, 'The quantity is under 30')
('10393', 42, 'The quantity is greater than 30')
('10393', 7, 'The quantity is under 30')
('10393', 70, 'The quantity is greater than 30')
('10393', 32, 'The quantity is greater than 30')
('10394', 10, 'The quantity is under 30')
('10394', 10, 'The quantity is under 30')
('10395', 28, 'The quantity is under 30')
('10395', 70, 'The quantity is greater than 30')
('10395', 8, 'The quantity is under 30')
('10396', 40, 'The quantity is greater than 30')
('10396', 60, 'The quantity is greater than 30')
('10396', 21, 'The quantity is under 30')
('10397', 10, 'The quantity is under 30')
('10397', 18, 'The quantity is under 30')
('10398', 30, 'The quantity is 30')
('10398', 120, 'The quantity is greater than 30')
('10399', 60, 'The quantity is greater than 30')
('10399', 30, 'The quantity is 30')
('10399', 35, 'The quantity is greater than 30')
('10399', 14, 'The quantity is under 30')
('10400', 21, 'The quantity is under 30')
('10400', 35, 'The quantity is greater than 30')
('10400', 30, 'The quantity is 30')
('10401', 18, 'The quantity is under 30')
('10401', 70, 'The quantity is greater than 30')
('10401', 20, 'The quantity is under 30')
('10401', 60, 'The quantity is greater than 30')
('10402', 60, 'The quantity is greater than 30')
('10402', 65, 'The quantity is greater than 30')
('10403', 21, 'The quantity is under 30')
('10403', 70, 'The quantity is greater than 30')
('10404', 30, 'The quantity is 30')
('10404', 40, 'The quantity is greater than 30')
('10404', 30, 'The quantity is 30')
('10405', 50, 'The quantity is greater than 30')
('10406', 10, 'The quantity is under 30')
('10406', 30, 'The quantity is 30')
('10406', 42, 'The quantity is greater than 30')
('10406', 5, 'The quantity is under 30')
('10406', 2, 'The quantity is under 30')
('10407', 30, 'The quantity is 30')
('10407', 15, 'The quantity is under 30')
('10407', 15, 'The quantity is under 30')
('10408', 10, 'The quantity is under 30')
('10408', 6, 'The quantity is under 30')
('10408', 35, 'The quantity is greater than 30')
('10409', 12, 'The quantity is under 30')
('10409', 12, 'The quantity is under 30')
('10410', 49, 'The quantity is greater than 30')
('10410', 16, 'The quantity is under 30')
('10411', 25, 'The quantity is under 30')
('10411', 40, 'The quantity is greater than 30')
('10411', 9, 'The quantity is under 30')
('10412', 20, 'The quantity is under 30')
('10413', 24, 'The quantity is under 30')
('10413', 40, 'The quantity is greater than 30')
('10413', 14, 'The quantity is under 30')
('10414', 18, 'The quantity is under 30')
('10414', 50, 'The quantity is greater than 30')
('10415', 2, 'The quantity is under 30')
('10415', 20, 'The quantity is under 30')
('10416', 20, 'The quantity is under 30')
('10416', 10, 'The quantity is under 30')
('10416', 20, 'The quantity is under 30')
('10417', 50, 'The quantity is greater than 30')
('10417', 2, 'The quantity is under 30')
('10417', 36, 'The quantity is greater than 30')
('10417', 35, 'The quantity is greater than 30')
('10418', 60, 'The quantity is greater than 30')
('10418', 55, 'The quantity is greater than 30')
('10418', 16, 'The quantity is under 30')
('10418', 15, 'The quantity is under 30')
('10419', 60, 'The quantity is greater than 30')
('10419', 20, 'The quantity is under 30')
('10420', 20, 'The quantity is under 30')
('10420', 2, 'The quantity is under 30')
('10420', 8, 'The quantity is under 30')
('10420', 20, 'The quantity is under 30')

In [140]:
execute_sql_db(
    """
    SELECT CustomerName, City, Country
    FROM Customers
    ORDER BY
    (CASE
        WHEN City IS NULL THEN Country
        ELSE City
    END);
    """,
    "test2.db"
)

('Drachenblut Delikatessend', 'Aachen', 'Germany')
('Rattlesnake Canyon Grocery', 'Albuquerque', 'USA')
('Old World Delicatessen', 'Anchorage', 'USA')
("Grandma Kelly's Homestead", 'Ann Arbor', 'USA')
("Grandma Kelly's Homestead", 'Ann Arbor', 'USA')
('Gai pturage', 'Annecy', 'France')
('Gai pturage', 'Annecy', 'France')
('Galera del gastrnomo', 'Barcelona', 'Spain')
('LILA-Supermercado', 'Barquisimeto', 'Venezuela')
('Bigfoot Breweries', 'Bend', 'USA')
('Bigfoot Breweries', 'Bend', 'USA')
('Magazzini Alimentari Riuniti', 'Bergamo', 'Italy')
('Heli Swaren GmbH & Co. KG', 'Berlin', 'Germany')
('Heli Swaren GmbH & Co. KG', 'Berlin', 'Germany')
('Heli Swaren GmbH & Co. KG', 'Berlin', 'Germany')
('Chop-suey Chinese', 'Bern', 'Switzerland')
('Save-a-lot Markets', 'Boise', 'USA')
('New England Seafood Cannery', 'Boston', 'USA')
('New England Seafood Cannery', 'Boston', 'USA')
('Kniglich Essen', 'Brandenburg', 'Germany')
('Maison Dewey', 'Bruxelles', 'Belgium')
('Folk och f HB', 'Brcke', 'Sweden')
('Cactus Comidas para llevar', 'Buenos Aires', 'Argentina')
('Ocano Atlntico Ltda.', 'Buenos Aires', 'Argentina')
('Rancho grande', 'Buenos Aires', 'Argentina')
('The Cracker Box', 'Butte', 'USA')
('Gourmet Lanchonetes', 'Campinas', 'Brazil')
('GROSELLA-Restaurante', 'Caracas', 'Venezuela')
('Suprmes dlices', 'Charleroi', 'Belgium')
('Hungry Owl All-Night Grocers', 'Cork', 'Ireland')
('Island Trading', 'Cowes', 'UK')
('QUICK-Stop', 'Cunewalde', 'Germany')
('Nord-Ost-Fisch Handelsgesellschaft mbH', 'Cuxhaven', 'Germany')
('Nord-Ost-Fisch Handelsgesellschaft mbH', 'Cuxhaven', 'Germany')
('Nord-Ost-Fisch Handelsgesellschaft mbH', 'Cuxhaven', 'Germany')
('Hungry Coyote Import Store', 'Elgin', 'USA')
('Great Lakes Food Market', 'Eugene', 'USA')
('Plutzer Lebensmittelgromrkte AG', 'Frankfurt', 'Germany')
('Plutzer Lebensmittelgromrkte AG', 'Frankfurt', 'Germany')
('Plutzer Lebensmittelgromrkte AG', 'Frankfurt', 'Germany')
('Lehmanns Marktstand', 'Frankfurt a.M.', 'Germany')
('Richter Supermarkt', 'Genve', 'Switzerland')
('Ernst Handel', 'Graz', 'Austria')
('PB Knckebrd AB', 'Gteborg', 'Sweden')
('PB Knckebrd AB', 'Gteborg', 'Sweden')
('Wilman Kala', 'Helsinki', 'Finland')
('LINO-Delicateses', 'I. de Margarita', 'Venezuela')
("Trail's Head Gourmet Provisioners", 'Kirkland', 'USA')
('Ottilies Kseladen', 'Kln', 'Germany')
('Simons bistro', 'Kbenhavn', 'Denmark')
('Split Rail Beer & Ale', 'Lander', 'USA')
('Karkki Oy', 'Lappeenranta', 'Finland')
('Karkki Oy', 'Lappeenranta', 'Finland')
('Morgenstern Gesundkost', 'Leipzig', 'Germany')
('Folies gourmandes', 'Lille', 'France')
('Furia Bacalhau e Frutos do Mar', 'Lisboa', 'Portugal')
('Princesa Isabel Vinhoss', 'Lisboa', 'Portugal')
('Tasty Tee', 'Liverpool', 'UK')
('Around the Horn', 'London', 'UK')
("B's Beverages", 'London', 'UK')
('Consolidated Holdings', 'London', 'UK')
('Eastern Connection', 'London', 'UK')
('North/South', 'London', 'UK')
('Seven Seas Imports', 'London', 'UK')
('Exotic Liquid', 'Londona', 'UK')
('Exotic Liquid', 'Londona', 'UK')
('Berglunds snabbkp', 'Lule', 'Sweden')
('Lyngbysild', 'Lyngby', 'Denmark')
('Lyngbysild', 'Lyngby', 'Denmark')
('Victuailles en stock', 'Lyon', 'France')
('Blido Comidas preparadas', 'Madrid', 'Spain')
('FISSA Fabrica Inter. Salchichas S.A.', 'Madrid', 'Spain')
('Romero y tomillo', 'Madrid', 'Spain')
('Specialty Biscuits, Ltd.', 'Manchester', 'UK')
('Specialty Biscuits, Ltd.', 'Manchester', 'UK')
('Blauer See Delikatessen', 'Mannheim', 'Germany')
("Bon app'", 'Marseille', 'France')
('Pavlova, Ltd.', 'Melbourne', 'Australia')
('Pavlova, Ltd.', 'Melbourne', 'Australia')
('Escargots Nouveaux', 'Montceau', 'France')
('Escargots Nouveaux', 'Montceau', 'France')
('Mre Paillarde', 'Montral', 'Canada')
('Ma Maison', 'Montral', 'Canada')
('Ma Maison', 'Montral', 'Canada')
('Ana Trujillo Emparedados y helados', 'Mxico D.F.', 'Mexico')
('Antonio Moreno Taquera', 'Mxico D.F.', 'Mexico')
('Centro comercial Moctezuma', 'Mxico D.F.', 'Mexico')
('Pericles Comidas clsicas', 'Mxico D.F.', 'Mexico')
('Tortuga Restaurante', 'Mxico D.F.', 'Mexico')
('Frankenversand', 'Mnchen', 'Germany')
('Toms Spezialitten', 'Mnster', 'Germany')
('Du monde entier', 'Nantes', 'France')
('France restauration', 'Nantes', 'France')
('New Orleans Cajun Delights', 'New Orleans', 'USA')
('New Orleans Cajun Delights', 'New Orleans', 'USA')
("Mayumi's", 'Osaka', 'Japan')
("Mayumi's", 'Osaka', 'Japan')
('Wartian Herkku', 'Oulu', 'Finland')
("Cooperativa de Quesos 'Las Cabras'", 'Oviedo', 'Spain')
("Cooperativa de Quesos 'Las Cabras'", 'Oviedo', 'Spain')
('Paris spcialits', 'Paris', 'France')
('Spcialits du monde', 'Paris', 'France')
('Aux joyeux ecclsiastiques', 'Paris', 'France')
('Aux joyeux ecclsiastiques', 'Paris', 'France')
('Lonesome Pine Restaurant', 'Portland', 'USA')
('The Big Cheese', 'Portland', 'USA')
('Formaggi Fortini s.r.l.', 'Ravenna', 'Italy')
('Formaggi Fortini s.r.l.', 'Ravenna', 'Italy')
('Reggiani Caseifici', 'Reggio Emilia', 'Italy')
('Vins et alcools Chevalier', 'Reims', 'France')
('Wellington Importadora', 'Resende', 'Brazil')
('Hanari Carnes', 'Rio de Janeiro', 'Brazil')
('Que Delcia', 'Rio de Janeiro', 'Brazil')
('Ricardo Adocicados', 'Rio de Janeiro', 'Brazil')
('Pasta Buttini s.r.l.', 'Salerno', 'Italy')
('Pasta Buttini s.r.l.', 'Salerno', 'Italy')
('Piccolo und mehr', 'Salzburg', 'Austria')
('HILARIN-Abastos', 'San Cristbal', 'Venezuela')
("Let's Stop N Shop", 'San Francisco', 'USA')
('Greasy Burger', 'Sandnes', 'Norway')
('Norske Meierier', 'Sandvika', 'Norway')
('Norske Meierier', 'Sandvika', 'Norway')
('White Clover Markets', 'Seattle', 'USA')
('Godos Cocina Tpica', 'Sevilla', 'Spain')
('Leka Trading', 'Singapore', 'Singapore')
('Leka Trading', 'Singapore', 'Singapore')
('Cardinal', 'Stavanger', 'Norway')
('Cardinal', 'Stavanger', 'Norway')
('Sant Gourmet', 'Stavern', 'Norway')
("Forts d'rables", 'Ste-Hyacinthe', 'Canada')
("Forts d'rables", 'Ste-Hyacinthe', 'Canada')
('Svensk Sjfda AB', 'Stockholm', 'Sweden')
('Svensk Sjfda AB', 'Stockholm', 'Sweden')
('Blondel pre et fils', 'Strasbourg', 'France')
('Die Wandernde Kuh', 'Stuttgart', 'Germany')
("G'day, Mate", 'Sydney', 'Australia')
("G'day, Mate", 'Sydney', 'Australia')
('Comrcio Mineiro', 'So Paulo', 'Brazil')
('Familia Arquibaldo', 'So Paulo', 'Brazil')
('Queen Cozinha', 'So Paulo', 'Brazil')
('Tradio Hipermercados', 'So Paulo', 'Brazil')
('Refrescos Americanas LTDA', 'So Paulo', 'Brazil')
('Refrescos Americanas LTDA', 'So Paulo', 'Brazil')
('Tokyo Traders', 'Tokyo', 'Japan')
('Tokyo Traders', 'Tokyo', 'Japan')
('Franchi S.p.A.', 'Torino', 'Italy')
("La maison d'Asie", 'Toulouse', 'France')
('Bottom-Dollar Marketse', 'Tsawassen', 'Canada')
('Laughing Bacchus Wine Cellars', 'Vancouver', 'Canada')
("La corne d'abondance", 'Versailles', 'France')
('Wolski', 'Walla', 'Poland')
('Lazy K Kountry Store', 'Walla Walla', 'USA')
('Zaanse Snoepfabriek', 'Zaandam', 'Netherlands')
('Zaanse Snoepfabriek', 'Zaandam', 'Netherlands')
('Vaffeljernet', 'rhus', 'Denmark')

## SQL Stored Procedures for SQL Server

In [142]:
# SQLite  PROCEDURE   .
execute_sql_db(
    """
    CREATE PROCEDURE SelectAllCustomers
    AS
    SELECT * FROM Customers
    GO;
    """,
    "test2.db"
)

OperationalError: near "PROCEDURE": syntax error

In [143]:
# SQLite  PROCEDURE   .
execute_sql_db(
    """
    EXEC SelectAllCustomers;
    """,
    "test2.db"
)

OperationalError: near "EXEC": syntax error

In [ ]:
# SQLite  PROCEDURE   .
execute_sql_db(
    """
    CREATE PROCEDURE SelectAllCustomers @City nvarchar(30)
    AS
    SELECT * FROM Customers WHERE City = @City
    GO;
    """,
    "test2.db"
)

In [ ]:
# SQLite  PROCEDURE   .
execute_sql_db(
    """
    EXEC SelectAllCustomers @City = 'London';
    """,
    "test2.db"
)

In [ ]:
# SQLite  PROCEDURE   .
execute_sql_db(
    """
    CREATE PROCEDURE SelectAllCustomers @City nvarchar(30), @PostalCode nvarchar(10)
    AS
    SELECT * FROM Customers WHERE City = @City AND PostalCode = @PostalCode
    GO;
    """,
    "test2.db"
)

In [ ]:
# SQLite  PROCEDURE   .
execute_sql_db(
    """
    EXEC SelectAllCustomers @City = 'London', @PostalCode = 'WA1 1DP';
    """,
    "test2.db"
)

## SQL Comments

In [144]:
execute_sql_db(
    """
    -- Select all:
    SELECT * FROM Customers;
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbkp', 'Juan', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Juan', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel pre et fils', 'Juan', '24, place Klber', 'Strasbourg', '67000', 'France')
(8, 'Blido Comidas preparadas', 'Juan', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Juan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Juan', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Juan', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Juan', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(14, 'Chop-suey Chinese', 'Juan', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comrcio Mineiro', 'Juan', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Juan', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Juan', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Juan', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Juan', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Juan', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Juan', '184, chausse de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och f HB', 'Juan', 'kergatan 24', 'Brcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Juan', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(26, 'France restauration', 'Juan', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Juan', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Juan', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galera del gastrnomo', 'Juan', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Juan', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(31, 'Gourmet Lanchonetes', 'Juan', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Juan', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Juan', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Juan', 'Rua do Pao, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(35, 'HILARIN-Abastos', 'Juan', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Juan', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Juan', '8 Johnstown Road', 'Cork', '', 'Ireland')
(38, 'Island Trading', 'Juan', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Kniglich Essen', 'Juan', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(40, "La corne d'abondance", 'Juan', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Juan', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Juan', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'Juan', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(44, 'Lehmanns Marktstand', 'Juan', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(45, "Let's Stop N Shop", 'Juan', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(46, 'LILA-Supermercado', 'Juan', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Juan', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Juan', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(49, 'Magazzini Alimentari Riuniti', 'Juan', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy')
(50, 'Maison Dewey', 'Juan', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(51, 'Mre Paillarde', 'Juan', '43 rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(52, 'Morgenstern Gesundkost', 'Juan', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(54, 'Ocano Atlntico Ltda.', 'Juan', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina')
(55, 'Old World Delicatessen', 'Juan', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(56, 'Ottilies Kseladen', 'Juan', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany')
(57, 'Paris spcialits', 'Juan', '265, boulevard Charonne', 'Paris', '75012', 'France')
(58, 'Pericles Comidas clsicas', 'Juan', 'Calle Dr. Jorge Cash 321', 'Mxico D.F.', '5033', 'Mexico')
(59, 'Piccolo und mehr', 'Juan', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(60, 'Princesa Isabel Vinhoss', 'Juan', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(61, 'Que Delcia', 'Juan', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Juan', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(63, 'QUICK-Stop', 'Juan', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(64, 'Rancho grande', 'Juan', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Juan', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Juan', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Juan', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Juan', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Juan', 'Gran Va, 1', 'Madrid', '28001', 'Spain')
(70, 'Sant Gourmet', 'Juan', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(71, 'Save-a-lot Markets', 'Juan', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(73, 'Simons bistro', 'Juan', 'Vinbltet 34', 'Kbenhavn', '1734', 'Denmark')
(74, 'Spcialits du monde', 'Juan', '25, rue Lauriston', 'Paris', '75016', 'France')
(75, 'Split Rail Beer & Ale', 'Juan', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprmes dlices', 'Juan', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Juan', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(78, 'The Cracker Box', 'Juan', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(79, 'Toms Spezialitten', 'Juan', 'Luisenstr. 48', 'Mnster', '44087', 'Germany')
(80, 'Tortuga Restaurante', 'Juan', 'Avda. Azteca 123', 'Mxico D.F.', '5033', 'Mexico')
(81, 'Tradio Hipermercados', 'Juan', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Juan', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(83, 'Vaffeljernet', 'Juan', 'Smagslget 45', 'rhus', '8200', 'Denmark')
(84, 'Victuailles en stock', 'Juan', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Juan', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(86, 'Die Wandernde Kuh', 'Juan', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(87, 'Wartian Herkku', 'Juan', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Juan', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(89, 'White Clover Markets', 'Juan', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Juan', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Juan', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')
(92, 'Cardinal', 'Juan', None, 'Stavanger', None, 'Norway')
(93, 'Cardinal', 'Juan', 'Skagen 21', 'Stavanger', '4006', 'Norway')
(94, 'Greasy Burger', 'Juan', 'Gateveien 15', 'Sandnes', '4306', 'Norway')
(95, 'Tasty Tee', 'Juan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')
(96, 'Exotic Liquid', None, None, 'Londona', None, 'UK')
(97, 'New Orleans Cajun Delights', None, None, 'New Orleans', None, 'USA')
(98, "Grandma Kelly's Homestead", None, None, 'Ann Arbor', None, 'USA')
(99, 'Tokyo Traders', None, None, 'Tokyo', None, 'Japan')
(100, "Cooperativa de Quesos 'Las Cabras'", None, None, 'Oviedo', None, 'Spain')
(101, "Mayumi's", None, None, 'Osaka', None, 'Japan')
(102, 'Pavlova, Ltd.', None, None, 'Melbourne', None, 'Australia')
(103, 'Specialty Biscuits, Ltd.', None, None, 'Manchester', None, 'UK')
(104, 'PB Knckebrd AB', None, None, 'Gteborg', None, 'Sweden')
(105, 'Refrescos Americanas LTDA', None, None, 'So Paulo', None, 'Brazil')
(106, 'Heli Swaren GmbH & Co. KG', None, None, 'Berlin', None, 'Germany')
(107, 'Plutzer Lebensmittelgromrkte AG', None, None, 'Frankfurt', None, 'Germany')
(108, 'Nord-Ost-Fisch Handelsgesellschaft mbH', None, None, 'Cuxhaven', None, 'Germany')
(109, 'Formaggi Fortini s.r.l.', None, None, 'Ravenna', None, 'Italy')
(110, 'Norske Meierier', None, None, 'Sandvika', None, 'Norway')
(111, 'Bigfoot Breweries', None, None, 'Bend', None, 'USA')
(112, 'Svensk Sjfda AB', None, None, 'Stockholm', None, 'Sweden')
(113, 'Aux joyeux ecclsiastiques', None, None, 'Paris', None, 'France')
(114, 'New England Seafood Cannery', None, None, 'Boston', None, 'USA')
(115, 'Leka Trading', None, None, 'Singapore', None, 'Singapore')
(116, 'Lyngbysild', None, None, 'Lyngby', None, 'Denmark')
(117, 'Zaanse Snoepfabriek', None, None, 'Zaandam', None, 'Netherlands')
(118, 'Karkki Oy', None, None, 'Lappeenranta', None, 'Finland')
(119, "G'day, Mate", None, None, 'Sydney', None, 'Australia')
(120, 'Ma Maison', None, None, 'Montral', None, 'Canada')
(121, 'Pasta Buttini s.r.l.', None, None, 'Salerno', None, 'Italy')
(122, 'Escargots Nouveaux', None, None, 'Montceau', None, 'France')
(123, 'Gai pturage', None, None, 'Annecy', None, 'France')
(124, "Forts d'rables", None, None, 'Ste-Hyacinthe', None, 'Canada')
(125, 'Exotic Liquid', 'Charlotte Cooper', '49 Gilbert St.', 'Londona', 'EC1 4SD', 'UK')
(126, 'New Orleans Cajun Delights', 'Shelley Burke', 'P.O. Box 78934', 'New Orleans', '70117', 'USA')
(127, "Grandma Kelly's Homestead", 'Regina Murphy', '707 Oxford Rd.', 'Ann Arbor', '48104', 'USA')
(128, 'Tokyo Traders', 'Yoshi Nagase', '9-8 Sekimai Musashino-shi', 'Tokyo', '100', 'Japan')
(129, "Cooperativa de Quesos 'Las Cabras'", 'Antonio del Valle Saavedra', 'Calle del Rosal 4', 'Oviedo', '33007', 'Spain')
(130, "Mayumi's", 'Mayumi Ohno', '92 Setsuko Chuo-ku', 'Osaka', '545', 'Japan')
(131, 'Pavlova, Ltd.', 'Ian Devling', '74 Rose St. Moonie Ponds', 'Melbourne', '3058', 'Australia')
(132, 'Specialty Biscuits, Ltd.', 'Peter Wilson', "29 King's Way", 'Manchester', 'M14 GSD', 'UK')
(133, 'PB Knckebrd AB', 'Lars Peterson', 'Kaloadagatan 13', 'Gteborg', 'S-345 67', 'Sweden')
(134, 'Refrescos Americanas LTDA', 'Carlos Diaz', 'Av. das Americanas 12.890', 'So Paulo', '5442', 'Brazil')
(135, 'Heli Swaren GmbH & Co. KG', 'Petra Winkler', 'Tiergartenstrae 5', 'Berlin', '10785', 'Germany')
(136, 'Plutzer Lebensmittelgromrkte AG', 'Martin Bein', 'Bogenallee 51', 'Frankfurt', '60439', 'Germany')
(137, 'Nord-Ost-Fisch Handelsgesellschaft mbH', 'Sven Petersen', 'Frahmredder 112a', 'Cuxhaven', '27478', 'Germany')
(138, 'Formaggi Fortini s.r.l.', 'Elio Rossi', 'Viale Dante, 75', 'Ravenna', '48100', 'Italy')
(139, 'Norske Meierier', 'Beate Vileid', 'Hatlevegen 5', 'Sandvika', '1320', 'Norway')
(140, 'Bigfoot Breweries', 'Cheryl Saylor', '3400 - 8th Avenue Suite 210', 'Bend', '97101', 'USA')
(141, 'Svensk Sjfda AB', 'Michael Bjrn', 'Brovallavgen 231', 'Stockholm', 'S-123 45', 'Sweden')
(142, 'Aux joyeux ecclsiastiques', 'Guylne Nodier', '203, Rue des Francs-Bourgeois', 'Paris', '75004', 'France')
(143, 'New England Seafood Cannery', 'Robb Merchant', 'Order Processing Dept. 2100 Paul Revere Blvd.', 'Boston', '2134', 'USA')
(144, 'Leka Trading', 'Chandra Leka', '471 Serangoon Loop, Suite #402', 'Singapore', '512', 'Singapore')
(145, 'Lyngbysild', 'Niels Petersen', 'Lyngbysild Fiskebakken 10', 'Lyngby', '2800', 'Denmark')
(146, 'Zaanse Snoepfabriek', 'Dirk Luchte', 'Verkoop Rijnweg 22', 'Zaandam', '9999 ZZ', 'Netherlands')
(147, 'Karkki Oy', 'Anne Heikkonen', 'Valtakatu 12', 'Lappeenranta', '53120', 'Finland')
(148, "G'day, Mate", 'Wendy Mackenzie', "170 Prince Edward Parade Hunter's Hill", 'Sydney', '2042', 'Australia')
(149, 'Ma Maison', 'Jean-Guy Lauzon', '2960 Rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(150, 'Pasta Buttini s.r.l.', 'Giovanni Giudici', 'Via dei Gelsomini, 153', 'Salerno', '84100', 'Italy')
(151, 'Escargots Nouveaux', 'Marie Delamare', '22, rue H. Voiron', 'Montceau', '71300', 'France')
(152, 'Gai pturage', 'Eliane Noz', 'Bat. B 3, rue des Alpes', 'Annecy', '74000', 'France')
(153, "Forts d'rables", 'Chantal Goulet', '148 rue Chasseur', 'Ste-Hyacinthe', 'J2S 7S8', 'Canada')
(154, 'Heli Swaren GmbH & Co. KG', None, None, 'Berlin', None, 'Germany')
(155, 'Plutzer Lebensmittelgromrkte AG', None, None, 'Frankfurt', None, 'Germany')
(156, 'Nord-Ost-Fisch Handelsgesellschaft mbH', None, None, 'Cuxhaven', None, 'Germany')

In [145]:
execute_sql_db(
    """
    SELECT * FROM Customers -- WHERE City='Berlin';
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbkp', 'Juan', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Juan', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel pre et fils', 'Juan', '24, place Klber', 'Strasbourg', '67000', 'France')
(8, 'Blido Comidas preparadas', 'Juan', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Juan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Juan', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Juan', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Juan', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(14, 'Chop-suey Chinese', 'Juan', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comrcio Mineiro', 'Juan', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Juan', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Juan', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Juan', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Juan', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Juan', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Juan', '184, chausse de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och f HB', 'Juan', 'kergatan 24', 'Brcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Juan', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(26, 'France restauration', 'Juan', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Juan', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Juan', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galera del gastrnomo', 'Juan', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(30, 'Godos Cocina Tpica', 'Juan', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(31, 'Gourmet Lanchonetes', 'Juan', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Juan', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Juan', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Juan', 'Rua do Pao, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(35, 'HILARIN-Abastos', 'Juan', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Juan', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Juan', '8 Johnstown Road', 'Cork', '', 'Ireland')
(38, 'Island Trading', 'Juan', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Kniglich Essen', 'Juan', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(40, "La corne d'abondance", 'Juan', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Juan', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Juan', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'Juan', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(44, 'Lehmanns Marktstand', 'Juan', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(45, "Let's Stop N Shop", 'Juan', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(46, 'LILA-Supermercado', 'Juan', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Juan', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Juan', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(49, 'Magazzini Alimentari Riuniti', 'Juan', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy')
(50, 'Maison Dewey', 'Juan', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(51, 'Mre Paillarde', 'Juan', '43 rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(52, 'Morgenstern Gesundkost', 'Juan', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(54, 'Ocano Atlntico Ltda.', 'Juan', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina')
(55, 'Old World Delicatessen', 'Juan', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(56, 'Ottilies Kseladen', 'Juan', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany')
(57, 'Paris spcialits', 'Juan', '265, boulevard Charonne', 'Paris', '75012', 'France')
(58, 'Pericles Comidas clsicas', 'Juan', 'Calle Dr. Jorge Cash 321', 'Mxico D.F.', '5033', 'Mexico')
(59, 'Piccolo und mehr', 'Juan', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(60, 'Princesa Isabel Vinhoss', 'Juan', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(61, 'Que Delcia', 'Juan', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Juan', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(63, 'QUICK-Stop', 'Juan', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(64, 'Rancho grande', 'Juan', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Juan', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Juan', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Juan', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Juan', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Juan', 'Gran Va, 1', 'Madrid', '28001', 'Spain')
(70, 'Sant Gourmet', 'Juan', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(71, 'Save-a-lot Markets', 'Juan', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(73, 'Simons bistro', 'Juan', 'Vinbltet 34', 'Kbenhavn', '1734', 'Denmark')
(74, 'Spcialits du monde', 'Juan', '25, rue Lauriston', 'Paris', '75016', 'France')
(75, 'Split Rail Beer & Ale', 'Juan', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprmes dlices', 'Juan', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Juan', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(78, 'The Cracker Box', 'Juan', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(79, 'Toms Spezialitten', 'Juan', 'Luisenstr. 48', 'Mnster', '44087', 'Germany')
(80, 'Tortuga Restaurante', 'Juan', 'Avda. Azteca 123', 'Mxico D.F.', '5033', 'Mexico')
(81, 'Tradio Hipermercados', 'Juan', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Juan', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(83, 'Vaffeljernet', 'Juan', 'Smagslget 45', 'rhus', '8200', 'Denmark')
(84, 'Victuailles en stock', 'Juan', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Juan', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(86, 'Die Wandernde Kuh', 'Juan', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(87, 'Wartian Herkku', 'Juan', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Juan', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(89, 'White Clover Markets', 'Juan', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Juan', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Juan', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')
(92, 'Cardinal', 'Juan', None, 'Stavanger', None, 'Norway')
(93, 'Cardinal', 'Juan', 'Skagen 21', 'Stavanger', '4006', 'Norway')
(94, 'Greasy Burger', 'Juan', 'Gateveien 15', 'Sandnes', '4306', 'Norway')
(95, 'Tasty Tee', 'Juan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')
(96, 'Exotic Liquid', None, None, 'Londona', None, 'UK')
(97, 'New Orleans Cajun Delights', None, None, 'New Orleans', None, 'USA')
(98, "Grandma Kelly's Homestead", None, None, 'Ann Arbor', None, 'USA')
(99, 'Tokyo Traders', None, None, 'Tokyo', None, 'Japan')
(100, "Cooperativa de Quesos 'Las Cabras'", None, None, 'Oviedo', None, 'Spain')
(101, "Mayumi's", None, None, 'Osaka', None, 'Japan')
(102, 'Pavlova, Ltd.', None, None, 'Melbourne', None, 'Australia')
(103, 'Specialty Biscuits, Ltd.', None, None, 'Manchester', None, 'UK')
(104, 'PB Knckebrd AB', None, None, 'Gteborg', None, 'Sweden')
(105, 'Refrescos Americanas LTDA', None, None, 'So Paulo', None, 'Brazil')
(106, 'Heli Swaren GmbH & Co. KG', None, None, 'Berlin', None, 'Germany')
(107, 'Plutzer Lebensmittelgromrkte AG', None, None, 'Frankfurt', None, 'Germany')
(108, 'Nord-Ost-Fisch Handelsgesellschaft mbH', None, None, 'Cuxhaven', None, 'Germany')
(109, 'Formaggi Fortini s.r.l.', None, None, 'Ravenna', None, 'Italy')
(110, 'Norske Meierier', None, None, 'Sandvika', None, 'Norway')
(111, 'Bigfoot Breweries', None, None, 'Bend', None, 'USA')
(112, 'Svensk Sjfda AB', None, None, 'Stockholm', None, 'Sweden')
(113, 'Aux joyeux ecclsiastiques', None, None, 'Paris', None, 'France')
(114, 'New England Seafood Cannery', None, None, 'Boston', None, 'USA')
(115, 'Leka Trading', None, None, 'Singapore', None, 'Singapore')
(116, 'Lyngbysild', None, None, 'Lyngby', None, 'Denmark')
(117, 'Zaanse Snoepfabriek', None, None, 'Zaandam', None, 'Netherlands')
(118, 'Karkki Oy', None, None, 'Lappeenranta', None, 'Finland')
(119, "G'day, Mate", None, None, 'Sydney', None, 'Australia')
(120, 'Ma Maison', None, None, 'Montral', None, 'Canada')
(121, 'Pasta Buttini s.r.l.', None, None, 'Salerno', None, 'Italy')
(122, 'Escargots Nouveaux', None, None, 'Montceau', None, 'France')
(123, 'Gai pturage', None, None, 'Annecy', None, 'France')
(124, "Forts d'rables", None, None, 'Ste-Hyacinthe', None, 'Canada')
(125, 'Exotic Liquid', 'Charlotte Cooper', '49 Gilbert St.', 'Londona', 'EC1 4SD', 'UK')
(126, 'New Orleans Cajun Delights', 'Shelley Burke', 'P.O. Box 78934', 'New Orleans', '70117', 'USA')
(127, "Grandma Kelly's Homestead", 'Regina Murphy', '707 Oxford Rd.', 'Ann Arbor', '48104', 'USA')
(128, 'Tokyo Traders', 'Yoshi Nagase', '9-8 Sekimai Musashino-shi', 'Tokyo', '100', 'Japan')
(129, "Cooperativa de Quesos 'Las Cabras'", 'Antonio del Valle Saavedra', 'Calle del Rosal 4', 'Oviedo', '33007', 'Spain')
(130, "Mayumi's", 'Mayumi Ohno', '92 Setsuko Chuo-ku', 'Osaka', '545', 'Japan')
(131, 'Pavlova, Ltd.', 'Ian Devling', '74 Rose St. Moonie Ponds', 'Melbourne', '3058', 'Australia')
(132, 'Specialty Biscuits, Ltd.', 'Peter Wilson', "29 King's Way", 'Manchester', 'M14 GSD', 'UK')
(133, 'PB Knckebrd AB', 'Lars Peterson', 'Kaloadagatan 13', 'Gteborg', 'S-345 67', 'Sweden')
(134, 'Refrescos Americanas LTDA', 'Carlos Diaz', 'Av. das Americanas 12.890', 'So Paulo', '5442', 'Brazil')
(135, 'Heli Swaren GmbH & Co. KG', 'Petra Winkler', 'Tiergartenstrae 5', 'Berlin', '10785', 'Germany')
(136, 'Plutzer Lebensmittelgromrkte AG', 'Martin Bein', 'Bogenallee 51', 'Frankfurt', '60439', 'Germany')
(137, 'Nord-Ost-Fisch Handelsgesellschaft mbH', 'Sven Petersen', 'Frahmredder 112a', 'Cuxhaven', '27478', 'Germany')
(138, 'Formaggi Fortini s.r.l.', 'Elio Rossi', 'Viale Dante, 75', 'Ravenna', '48100', 'Italy')
(139, 'Norske Meierier', 'Beate Vileid', 'Hatlevegen 5', 'Sandvika', '1320', 'Norway')
(140, 'Bigfoot Breweries', 'Cheryl Saylor', '3400 - 8th Avenue Suite 210', 'Bend', '97101', 'USA')
(141, 'Svensk Sjfda AB', 'Michael Bjrn', 'Brovallavgen 231', 'Stockholm', 'S-123 45', 'Sweden')
(142, 'Aux joyeux ecclsiastiques', 'Guylne Nodier', '203, Rue des Francs-Bourgeois', 'Paris', '75004', 'France')
(143, 'New England Seafood Cannery', 'Robb Merchant', 'Order Processing Dept. 2100 Paul Revere Blvd.', 'Boston', '2134', 'USA')
(144, 'Leka Trading', 'Chandra Leka', '471 Serangoon Loop, Suite #402', 'Singapore', '512', 'Singapore')
(145, 'Lyngbysild', 'Niels Petersen', 'Lyngbysild Fiskebakken 10', 'Lyngby', '2800', 'Denmark')
(146, 'Zaanse Snoepfabriek', 'Dirk Luchte', 'Verkoop Rijnweg 22', 'Zaandam', '9999 ZZ', 'Netherlands')
(147, 'Karkki Oy', 'Anne Heikkonen', 'Valtakatu 12', 'Lappeenranta', '53120', 'Finland')
(148, "G'day, Mate", 'Wendy Mackenzie', "170 Prince Edward Parade Hunter's Hill", 'Sydney', '2042', 'Australia')
(149, 'Ma Maison', 'Jean-Guy Lauzon', '2960 Rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(150, 'Pasta Buttini s.r.l.', 'Giovanni Giudici', 'Via dei Gelsomini, 153', 'Salerno', '84100', 'Italy')
(151, 'Escargots Nouveaux', 'Marie Delamare', '22, rue H. Voiron', 'Montceau', '71300', 'France')
(152, 'Gai pturage', 'Eliane Noz', 'Bat. B 3, rue des Alpes', 'Annecy', '74000', 'France')
(153, "Forts d'rables", 'Chantal Goulet', '148 rue Chasseur', 'Ste-Hyacinthe', 'J2S 7S8', 'Canada')
(154, 'Heli Swaren GmbH & Co. KG', None, None, 'Berlin', None, 'Germany')
(155, 'Plutzer Lebensmittelgromrkte AG', None, None, 'Frankfurt', None, 'Germany')
(156, 'Nord-Ost-Fisch Handelsgesellschaft mbH', None, None, 'Cuxhaven', None, 'Germany')

In [146]:
execute_sql_db(
    """
    -- SELECT * FROM Customers;
    SELECT * FROM Products;
    """,
    "test2.db"
)

(1, 'Chais', '1', '1', '10 boxes x 20 bags', 18.0)
(2, 'Chang', '1', '1', '24 - 12 oz bottles', 19.0)
(3, 'Aniseed Syrup', '1', '2', '12 - 550 ml bottles', 10.0)
(4, "Chef Anton's Cajun Seasoning", '2', '2', '48 - 6 oz jars', 22.0)
(5, "Chef Anton's Gumbo Mix", '2', '2', '36 boxes', 21.35)
(6, "Grandma's Boysenberry Spread", '3', '2', '12 - 8 oz jars', 25.0)
(7, "Uncle Bob's Organic Dried Pears", '3', '7', '12 - 1 lb pkgs.', 30.0)
(8, 'Northwoods Cranberry Sauce', '3', '2', '12 - 12 oz jars', 40.0)
(9, 'Mishi Kobe Niku', '4', '6', '18 - 500 g pkgs.', 97.0)
(10, 'Ikura', '4', '8', '12 - 200 ml jars', 31.0)
(11, 'Queso Cabrales', '5', '4', '1 kg pkg.', 21.0)
(12, 'Queso Manchego La Pastora', '5', '4', '10 - 500 g pkgs.', 38.0)
(13, 'Konbu', '6', '8', '2 kg box', 6.0)
(14, 'Tofu', '6', '7', '40 - 100 g pkgs.', 23.25)
(15, 'Genen Shouyu', '6', '2', '24 - 250 ml bottles', 15.5)
(16, 'Pavlova', '7', '3', '32 - 500 g boxes', 17.45)
(17, 'Alice Mutton', '7', '6', '20 - 1 kg tins', 39.0)
(18, 'Carnarvon Tigers', '7', '8', '16 kg pkg.', 62.5)
(19, 'Teatime Chocolate Biscuits', '8', '3', '10 boxes x 12 pieces', 9.2)
(20, "Sir Rodney's Marmalade", '8', '3', '30 gift boxes', 81.0)
(21, "Sir Rodney's Scones", '8', '3', '24 pkgs. x 4 pieces', 10.0)
(22, "Gustaf's Knckebrd", '9', '5', '24 - 500 g pkgs.', 21.0)
(23, 'Tunnbrd', '9', '5', '12 - 250 g pkgs.', 9.0)
(24, 'Guaran Fantstica', '10', '1', '12 - 355 ml cans', 4.5)
(25, 'NuNuCa Nu-Nougat-Creme', '11', '3', '20 - 450 g glasses', 14.0)
(26, 'Gumbr Gummibrchen', '11', '3', '100 - 250 g bags', 31.23)
(27, 'Schoggi Schokolade', '11', '3', '100 - 100 g pieces', 43.9)
(28, 'Rssle Sauerkraut', '12', '7', '25 - 825 g cans', 45.6)
(29, 'Thringer Rostbratwurst', '12', '6', '50 bags x 30 sausgs.', 123.79)
(30, 'Nord-Ost Matjeshering', '13', '8', '10 - 200 g glasses', 25.89)
(31, 'Gorgonzola Telino', '14', '4', '12 - 100 g pkgs', 12.5)
(32, 'Mascarpone Fabioli', '14', '4', '24 - 200 g pkgs.', 32.0)
(33, 'Geitost', '15', '4', '500 g', 2.5)
(34, 'Sasquatch Ale', '16', '1', '24 - 12 oz bottles', 14.0)
(35, 'Steeleye Stout', '16', '1', '24 - 12 oz bottles', 18.0)
(36, 'Inlagd Sill', '17', '8', '24 - 250 g jars', 19.0)
(37, 'Gravad lax', '17', '8', '12 - 500 g pkgs.', 26.0)
(38, 'Cte de Blaye', '18', '1', '12 - 75 cl bottles', 263.5)
(39, 'Chartreuse verte', '18', '1', '750 cc per bottle', 18.0)
(40, 'Boston Crab Meat', '19', '8', '24 - 4 oz tins', 18.4)
(41, "Jack's New England Clam Chowder", '19', '8', '12 - 12 oz cans', 9.65)
(42, 'Singaporean Hokkien Fried Mee', '20', '5', '32 - 1 kg pkgs.', 14.0)
(43, 'Ipoh Coffee', '20', '1', '16 - 500 g tins', 46.0)
(44, 'Gula Malacca', '20', '2', '20 - 2 kg bags', 19.45)
(45, 'Rgede sild', '21', '8', '1k pkg.', 9.5)
(46, 'Spegesild', '21', '8', '4 - 450 g glasses', 12.0)
(47, 'Zaanse koeken', '22', '3', '10 - 4 oz boxes', 9.5)
(48, 'Chocolade', '22', '3', '10 pkgs.', 12.75)
(49, 'Maxilaku', '23', '3', '24 - 50 g pkgs.', 20.0)
(50, 'Valkoinen suklaa', '23', '3', '12 - 100 g bars', 16.25)
(51, 'Manjimup Dried Apples', '24', '7', '50 - 300 g pkgs.', 53.0)
(52, 'Filo Mix', '24', '5', '16 - 2 kg boxes', 7.0)
(53, 'Perth Pasties', '24', '6', '48 pieces', 32.8)
(54, 'Tourtire', '25', '6', '16 pies', 7.45)
(55, 'Pt chinois', '25', '6', '24 boxes x 2 pies', 24.0)
(56, 'Gnocchi di nonna Alice', '26', '5', '24 - 250 g pkgs.', 38.0)
(57, 'Ravioli Angelo', '26', '5', '24 - 250 g pkgs.', 19.5)
(58, 'Escargots de Bourgogne', '27', '8', '24 pieces', 13.25)
(59, 'Raclette Courdavault', '28', '4', '5 kg pkg.', 55.0)
(60, 'Camembert Pierrot', '28', '4', '15 - 300 g rounds', 34.0)
(61, "Sirop d'rable", '29', '2', '24 - 500 ml bottles', 28.5)
(62, 'Tarte au sucre', '29', '3', '48 pies', 49.3)
(63, 'Vegie-spread', '7', '2', '15 - 625 g jars', 43.9)
(64, 'Wimmers gute Semmelkndel', '12', '5', '20 bags x 4 pieces', 33.25)
(65, 'Louisiana Fiery Hot Pepper Sauce', '2', '2', '32 - 8 oz bottles', 21.05)
(66, 'Louisiana Hot Spiced Okra', '2', '2', '24 - 8 oz jars', 17.0)
(67, 'Laughing Lumberjack Lager', '16', '1', '24 - 12 oz bottles', 14.0)
(68, 'Scottish Longbreads', '8', '3', '10 boxes x 8 pieces', 12.5)
(69, 'Gudbrandsdalsost', '15', '4', '10 kg pkg.', 36.0)
(70, 'Outback Lager', '7', '1', '24 - 355 ml bottles', 15.0)
(71, 'Fltemysost', '15', '4', '10 - 500 g pkgs.', 21.5)
(72, 'Mozzarella di Giovanni', '14', '4', '24 - 200 g pkgs.', 34.8)
(73, 'Rd Kaviar', '17', '8', '24 - 150 g jars', 15.0)
(74, 'Longlife Tofu', '4', '7', '5 kg pkg.', 10.0)
(75, 'Rhnbru Klosterbier', '12', '1', '24 - 0.5 l bottles', 7.75)
(76, 'Lakkalikri', '23', '1', '500 ml', 18.0)
(77, 'Original Frankfurter grne Soe', '12', '2', '12 boxes', 13.0)

In [ ]:
execute_sql_db(
    """
    /*Select all the columns
    of all the records
    in the Customers table:*/
    SELECT * FROM Customers;
    """,
    "test2.db"
)

In [ ]:
execute_sql_db(
    """
    /*SELECT * FROM Customers;
    SELECT * FROM Products;
    SELECT * FROM Orders;
    SELECT * FROM Categories;*/
    SELECT * FROM Suppliers;    
    """,
    "test2.db"
)

In [ ]:
execute_sql_db(
    """
    SELECT CustomerName, /*City,*/ Country FROM Customers;
    """,
    "test2.db"
)

In [147]:
execute_sql_db(
    """
    SELECT * FROM Customers WHERE (CustomerName LIKE 'L%'
    OR CustomerName LIKE 'R%' /*OR CustomerName LIKE 'S%'
    OR CustomerName LIKE 'T%'*/ OR CustomerName LIKE 'W%')
    AND Country='USA'
    ORDER BY CustomerName;
    """,
    "test2.db"
)

(43, 'Lazy K Kountry Store', 'Juan', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(45, "Let's Stop N Shop", 'Juan', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(48, 'Lonesome Pine Restaurant', 'Juan', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(65, 'Rattlesnake Canyon Grocery', 'Juan', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(89, 'White Clover Markets', 'Juan', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')

## SQL Operators

In [149]:
execute_sql_db(
    """
    SELECT 30 + 20;
    """,
    "test2.db"
)

(50,)

In [150]:
execute_sql_db(
    """
    SELECT 30 - 20;
    """,
    "test2.db"
)

(10,)

In [151]:
execute_sql_db(
    """
    SELECT 30 * 20;
    """,
    "test2.db"
)

(600,)

In [152]:
execute_sql_db(
    """
    SELECT 30 / 10;
    """,
    "test2.db"
)

(3,)

In [153]:
execute_sql_db(
    """
    SELECT 17 % 5;
    """,
    "test2.db"
)

(2,)

In [154]:
execute_sql_db(
    """
    SELECT 17 & 5;
    """,
    "test2.db"
)

(1,)

In [155]:
execute_sql_db(
    """
    SELECT 17 | 5;
    """,
    "test2.db"
)

(21,)

In [158]:
# SQLite  ^(xor)  .
execute_sql_db(
    """
    SELECT 17 ^ 5;
    """,
    "test2.db"
)

OperationalError: unrecognized token: "^"

In [159]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE Price = 18;
    """,
    "test2.db"
)

(1, 'Chais', '1', '1', '10 boxes x 20 bags', 18.0)
(35, 'Steeleye Stout', '16', '1', '24 - 12 oz bottles', 18.0)
(39, 'Chartreuse verte', '18', '1', '750 cc per bottle', 18.0)
(76, 'Lakkalikri', '23', '1', '500 ml', 18.0)

In [161]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE Price > 30;
    """,
    "test2.db"
)

(8, 'Northwoods Cranberry Sauce', '3', '2', '12 - 12 oz jars', 40.0)
(9, 'Mishi Kobe Niku', '4', '6', '18 - 500 g pkgs.', 97.0)
(10, 'Ikura', '4', '8', '12 - 200 ml jars', 31.0)
(12, 'Queso Manchego La Pastora', '5', '4', '10 - 500 g pkgs.', 38.0)
(17, 'Alice Mutton', '7', '6', '20 - 1 kg tins', 39.0)
(18, 'Carnarvon Tigers', '7', '8', '16 kg pkg.', 62.5)
(20, "Sir Rodney's Marmalade", '8', '3', '30 gift boxes', 81.0)
(26, 'Gumbr Gummibrchen', '11', '3', '100 - 250 g bags', 31.23)
(27, 'Schoggi Schokolade', '11', '3', '100 - 100 g pieces', 43.9)
(28, 'Rssle Sauerkraut', '12', '7', '25 - 825 g cans', 45.6)
(29, 'Thringer Rostbratwurst', '12', '6', '50 bags x 30 sausgs.', 123.79)
(32, 'Mascarpone Fabioli', '14', '4', '24 - 200 g pkgs.', 32.0)
(38, 'Cte de Blaye', '18', '1', '12 - 75 cl bottles', 263.5)
(43, 'Ipoh Coffee', '20', '1', '16 - 500 g tins', 46.0)
(51, 'Manjimup Dried Apples', '24', '7', '50 - 300 g pkgs.', 53.0)
(53, 'Perth Pasties', '24', '6', '48 pieces', 32.8)
(56, 'Gnocchi di nonna Alice', '26', '5', '24 - 250 g pkgs.', 38.0)
(59, 'Raclette Courdavault', '28', '4', '5 kg pkg.', 55.0)
(60, 'Camembert Pierrot', '28', '4', '15 - 300 g rounds', 34.0)
(62, 'Tarte au sucre', '29', '3', '48 pies', 49.3)
(63, 'Vegie-spread', '7', '2', '15 - 625 g jars', 43.9)
(64, 'Wimmers gute Semmelkndel', '12', '5', '20 bags x 4 pieces', 33.25)
(69, 'Gudbrandsdalsost', '15', '4', '10 kg pkg.', 36.0)
(72, 'Mozzarella di Giovanni', '14', '4', '24 - 200 g pkgs.', 34.8)

In [162]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE Price < 30;
    """,
    "test2.db"
)

(1, 'Chais', '1', '1', '10 boxes x 20 bags', 18.0)
(2, 'Chang', '1', '1', '24 - 12 oz bottles', 19.0)
(3, 'Aniseed Syrup', '1', '2', '12 - 550 ml bottles', 10.0)
(4, "Chef Anton's Cajun Seasoning", '2', '2', '48 - 6 oz jars', 22.0)
(5, "Chef Anton's Gumbo Mix", '2', '2', '36 boxes', 21.35)
(6, "Grandma's Boysenberry Spread", '3', '2', '12 - 8 oz jars', 25.0)
(11, 'Queso Cabrales', '5', '4', '1 kg pkg.', 21.0)
(13, 'Konbu', '6', '8', '2 kg box', 6.0)
(14, 'Tofu', '6', '7', '40 - 100 g pkgs.', 23.25)
(15, 'Genen Shouyu', '6', '2', '24 - 250 ml bottles', 15.5)
(16, 'Pavlova', '7', '3', '32 - 500 g boxes', 17.45)
(19, 'Teatime Chocolate Biscuits', '8', '3', '10 boxes x 12 pieces', 9.2)
(21, "Sir Rodney's Scones", '8', '3', '24 pkgs. x 4 pieces', 10.0)
(22, "Gustaf's Knckebrd", '9', '5', '24 - 500 g pkgs.', 21.0)
(23, 'Tunnbrd', '9', '5', '12 - 250 g pkgs.', 9.0)
(24, 'Guaran Fantstica', '10', '1', '12 - 355 ml cans', 4.5)
(25, 'NuNuCa Nu-Nougat-Creme', '11', '3', '20 - 450 g glasses', 14.0)
(30, 'Nord-Ost Matjeshering', '13', '8', '10 - 200 g glasses', 25.89)
(31, 'Gorgonzola Telino', '14', '4', '12 - 100 g pkgs', 12.5)
(33, 'Geitost', '15', '4', '500 g', 2.5)
(34, 'Sasquatch Ale', '16', '1', '24 - 12 oz bottles', 14.0)
(35, 'Steeleye Stout', '16', '1', '24 - 12 oz bottles', 18.0)
(36, 'Inlagd Sill', '17', '8', '24 - 250 g jars', 19.0)
(37, 'Gravad lax', '17', '8', '12 - 500 g pkgs.', 26.0)
(39, 'Chartreuse verte', '18', '1', '750 cc per bottle', 18.0)
(40, 'Boston Crab Meat', '19', '8', '24 - 4 oz tins', 18.4)
(41, "Jack's New England Clam Chowder", '19', '8', '12 - 12 oz cans', 9.65)
(42, 'Singaporean Hokkien Fried Mee', '20', '5', '32 - 1 kg pkgs.', 14.0)
(44, 'Gula Malacca', '20', '2', '20 - 2 kg bags', 19.45)
(45, 'Rgede sild', '21', '8', '1k pkg.', 9.5)
(46, 'Spegesild', '21', '8', '4 - 450 g glasses', 12.0)
(47, 'Zaanse koeken', '22', '3', '10 - 4 oz boxes', 9.5)
(48, 'Chocolade', '22', '3', '10 pkgs.', 12.75)
(49, 'Maxilaku', '23', '3', '24 - 50 g pkgs.', 20.0)
(50, 'Valkoinen suklaa', '23', '3', '12 - 100 g bars', 16.25)
(52, 'Filo Mix', '24', '5', '16 - 2 kg boxes', 7.0)
(54, 'Tourtire', '25', '6', '16 pies', 7.45)
(55, 'Pt chinois', '25', '6', '24 boxes x 2 pies', 24.0)
(57, 'Ravioli Angelo', '26', '5', '24 - 250 g pkgs.', 19.5)
(58, 'Escargots de Bourgogne', '27', '8', '24 pieces', 13.25)
(61, "Sirop d'rable", '29', '2', '24 - 500 ml bottles', 28.5)
(65, 'Louisiana Fiery Hot Pepper Sauce', '2', '2', '32 - 8 oz bottles', 21.05)
(66, 'Louisiana Hot Spiced Okra', '2', '2', '24 - 8 oz jars', 17.0)
(67, 'Laughing Lumberjack Lager', '16', '1', '24 - 12 oz bottles', 14.0)
(68, 'Scottish Longbreads', '8', '3', '10 boxes x 8 pieces', 12.5)
(70, 'Outback Lager', '7', '1', '24 - 355 ml bottles', 15.0)
(71, 'Fltemysost', '15', '4', '10 - 500 g pkgs.', 21.5)
(73, 'Rd Kaviar', '17', '8', '24 - 150 g jars', 15.0)
(74, 'Longlife Tofu', '4', '7', '5 kg pkg.', 10.0)
(75, 'Rhnbru Klosterbier', '12', '1', '24 - 0.5 l bottles', 7.75)
(76, 'Lakkalikri', '23', '1', '500 ml', 18.0)
(77, 'Original Frankfurter grne Soe', '12', '2', '12 boxes', 13.0)

In [163]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE Price >= 30;
    """,
    "test2.db"
)

(7, "Uncle Bob's Organic Dried Pears", '3', '7', '12 - 1 lb pkgs.', 30.0)
(8, 'Northwoods Cranberry Sauce', '3', '2', '12 - 12 oz jars', 40.0)
(9, 'Mishi Kobe Niku', '4', '6', '18 - 500 g pkgs.', 97.0)
(10, 'Ikura', '4', '8', '12 - 200 ml jars', 31.0)
(12, 'Queso Manchego La Pastora', '5', '4', '10 - 500 g pkgs.', 38.0)
(17, 'Alice Mutton', '7', '6', '20 - 1 kg tins', 39.0)
(18, 'Carnarvon Tigers', '7', '8', '16 kg pkg.', 62.5)
(20, "Sir Rodney's Marmalade", '8', '3', '30 gift boxes', 81.0)
(26, 'Gumbr Gummibrchen', '11', '3', '100 - 250 g bags', 31.23)
(27, 'Schoggi Schokolade', '11', '3', '100 - 100 g pieces', 43.9)
(28, 'Rssle Sauerkraut', '12', '7', '25 - 825 g cans', 45.6)
(29, 'Thringer Rostbratwurst', '12', '6', '50 bags x 30 sausgs.', 123.79)
(32, 'Mascarpone Fabioli', '14', '4', '24 - 200 g pkgs.', 32.0)
(38, 'Cte de Blaye', '18', '1', '12 - 75 cl bottles', 263.5)
(43, 'Ipoh Coffee', '20', '1', '16 - 500 g tins', 46.0)
(51, 'Manjimup Dried Apples', '24', '7', '50 - 300 g pkgs.', 53.0)
(53, 'Perth Pasties', '24', '6', '48 pieces', 32.8)
(56, 'Gnocchi di nonna Alice', '26', '5', '24 - 250 g pkgs.', 38.0)
(59, 'Raclette Courdavault', '28', '4', '5 kg pkg.', 55.0)
(60, 'Camembert Pierrot', '28', '4', '15 - 300 g rounds', 34.0)
(62, 'Tarte au sucre', '29', '3', '48 pies', 49.3)
(63, 'Vegie-spread', '7', '2', '15 - 625 g jars', 43.9)
(64, 'Wimmers gute Semmelkndel', '12', '5', '20 bags x 4 pieces', 33.25)
(69, 'Gudbrandsdalsost', '15', '4', '10 kg pkg.', 36.0)
(72, 'Mozzarella di Giovanni', '14', '4', '24 - 200 g pkgs.', 34.8)

In [164]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE Price <= 30;
    """,
    "test2.db"
)

(1, 'Chais', '1', '1', '10 boxes x 20 bags', 18.0)
(2, 'Chang', '1', '1', '24 - 12 oz bottles', 19.0)
(3, 'Aniseed Syrup', '1', '2', '12 - 550 ml bottles', 10.0)
(4, "Chef Anton's Cajun Seasoning", '2', '2', '48 - 6 oz jars', 22.0)
(5, "Chef Anton's Gumbo Mix", '2', '2', '36 boxes', 21.35)
(6, "Grandma's Boysenberry Spread", '3', '2', '12 - 8 oz jars', 25.0)
(7, "Uncle Bob's Organic Dried Pears", '3', '7', '12 - 1 lb pkgs.', 30.0)
(11, 'Queso Cabrales', '5', '4', '1 kg pkg.', 21.0)
(13, 'Konbu', '6', '8', '2 kg box', 6.0)
(14, 'Tofu', '6', '7', '40 - 100 g pkgs.', 23.25)
(15, 'Genen Shouyu', '6', '2', '24 - 250 ml bottles', 15.5)
(16, 'Pavlova', '7', '3', '32 - 500 g boxes', 17.45)
(19, 'Teatime Chocolate Biscuits', '8', '3', '10 boxes x 12 pieces', 9.2)
(21, "Sir Rodney's Scones", '8', '3', '24 pkgs. x 4 pieces', 10.0)
(22, "Gustaf's Knckebrd", '9', '5', '24 - 500 g pkgs.', 21.0)
(23, 'Tunnbrd', '9', '5', '12 - 250 g pkgs.', 9.0)
(24, 'Guaran Fantstica', '10', '1', '12 - 355 ml cans', 4.5)
(25, 'NuNuCa Nu-Nougat-Creme', '11', '3', '20 - 450 g glasses', 14.0)
(30, 'Nord-Ost Matjeshering', '13', '8', '10 - 200 g glasses', 25.89)
(31, 'Gorgonzola Telino', '14', '4', '12 - 100 g pkgs', 12.5)
(33, 'Geitost', '15', '4', '500 g', 2.5)
(34, 'Sasquatch Ale', '16', '1', '24 - 12 oz bottles', 14.0)
(35, 'Steeleye Stout', '16', '1', '24 - 12 oz bottles', 18.0)
(36, 'Inlagd Sill', '17', '8', '24 - 250 g jars', 19.0)
(37, 'Gravad lax', '17', '8', '12 - 500 g pkgs.', 26.0)
(39, 'Chartreuse verte', '18', '1', '750 cc per bottle', 18.0)
(40, 'Boston Crab Meat', '19', '8', '24 - 4 oz tins', 18.4)
(41, "Jack's New England Clam Chowder", '19', '8', '12 - 12 oz cans', 9.65)
(42, 'Singaporean Hokkien Fried Mee', '20', '5', '32 - 1 kg pkgs.', 14.0)
(44, 'Gula Malacca', '20', '2', '20 - 2 kg bags', 19.45)
(45, 'Rgede sild', '21', '8', '1k pkg.', 9.5)
(46, 'Spegesild', '21', '8', '4 - 450 g glasses', 12.0)
(47, 'Zaanse koeken', '22', '3', '10 - 4 oz boxes', 9.5)
(48, 'Chocolade', '22', '3', '10 pkgs.', 12.75)
(49, 'Maxilaku', '23', '3', '24 - 50 g pkgs.', 20.0)
(50, 'Valkoinen suklaa', '23', '3', '12 - 100 g bars', 16.25)
(52, 'Filo Mix', '24', '5', '16 - 2 kg boxes', 7.0)
(54, 'Tourtire', '25', '6', '16 pies', 7.45)
(55, 'Pt chinois', '25', '6', '24 boxes x 2 pies', 24.0)
(57, 'Ravioli Angelo', '26', '5', '24 - 250 g pkgs.', 19.5)
(58, 'Escargots de Bourgogne', '27', '8', '24 pieces', 13.25)
(61, "Sirop d'rable", '29', '2', '24 - 500 ml bottles', 28.5)
(65, 'Louisiana Fiery Hot Pepper Sauce', '2', '2', '32 - 8 oz bottles', 21.05)
(66, 'Louisiana Hot Spiced Okra', '2', '2', '24 - 8 oz jars', 17.0)
(67, 'Laughing Lumberjack Lager', '16', '1', '24 - 12 oz bottles', 14.0)
(68, 'Scottish Longbreads', '8', '3', '10 boxes x 8 pieces', 12.5)
(70, 'Outback Lager', '7', '1', '24 - 355 ml bottles', 15.0)
(71, 'Fltemysost', '15', '4', '10 - 500 g pkgs.', 21.5)
(73, 'Rd Kaviar', '17', '8', '24 - 150 g jars', 15.0)
(74, 'Longlife Tofu', '4', '7', '5 kg pkg.', 10.0)
(75, 'Rhnbru Klosterbier', '12', '1', '24 - 0.5 l bottles', 7.75)
(76, 'Lakkalikri', '23', '1', '500 ml', 18.0)
(77, 'Original Frankfurter grne Soe', '12', '2', '12 boxes', 13.0)

In [165]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE Price <> 18;
    """,
    "test2.db"
)

(2, 'Chang', '1', '1', '24 - 12 oz bottles', 19.0)
(3, 'Aniseed Syrup', '1', '2', '12 - 550 ml bottles', 10.0)
(4, "Chef Anton's Cajun Seasoning", '2', '2', '48 - 6 oz jars', 22.0)
(5, "Chef Anton's Gumbo Mix", '2', '2', '36 boxes', 21.35)
(6, "Grandma's Boysenberry Spread", '3', '2', '12 - 8 oz jars', 25.0)
(7, "Uncle Bob's Organic Dried Pears", '3', '7', '12 - 1 lb pkgs.', 30.0)
(8, 'Northwoods Cranberry Sauce', '3', '2', '12 - 12 oz jars', 40.0)
(9, 'Mishi Kobe Niku', '4', '6', '18 - 500 g pkgs.', 97.0)
(10, 'Ikura', '4', '8', '12 - 200 ml jars', 31.0)
(11, 'Queso Cabrales', '5', '4', '1 kg pkg.', 21.0)
(12, 'Queso Manchego La Pastora', '5', '4', '10 - 500 g pkgs.', 38.0)
(13, 'Konbu', '6', '8', '2 kg box', 6.0)
(14, 'Tofu', '6', '7', '40 - 100 g pkgs.', 23.25)
(15, 'Genen Shouyu', '6', '2', '24 - 250 ml bottles', 15.5)
(16, 'Pavlova', '7', '3', '32 - 500 g boxes', 17.45)
(17, 'Alice Mutton', '7', '6', '20 - 1 kg tins', 39.0)
(18, 'Carnarvon Tigers', '7', '8', '16 kg pkg.', 62.5)
(19, 'Teatime Chocolate Biscuits', '8', '3', '10 boxes x 12 pieces', 9.2)
(20, "Sir Rodney's Marmalade", '8', '3', '30 gift boxes', 81.0)
(21, "Sir Rodney's Scones", '8', '3', '24 pkgs. x 4 pieces', 10.0)
(22, "Gustaf's Knckebrd", '9', '5', '24 - 500 g pkgs.', 21.0)
(23, 'Tunnbrd', '9', '5', '12 - 250 g pkgs.', 9.0)
(24, 'Guaran Fantstica', '10', '1', '12 - 355 ml cans', 4.5)
(25, 'NuNuCa Nu-Nougat-Creme', '11', '3', '20 - 450 g glasses', 14.0)
(26, 'Gumbr Gummibrchen', '11', '3', '100 - 250 g bags', 31.23)
(27, 'Schoggi Schokolade', '11', '3', '100 - 100 g pieces', 43.9)
(28, 'Rssle Sauerkraut', '12', '7', '25 - 825 g cans', 45.6)
(29, 'Thringer Rostbratwurst', '12', '6', '50 bags x 30 sausgs.', 123.79)
(30, 'Nord-Ost Matjeshering', '13', '8', '10 - 200 g glasses', 25.89)
(31, 'Gorgonzola Telino', '14', '4', '12 - 100 g pkgs', 12.5)
(32, 'Mascarpone Fabioli', '14', '4', '24 - 200 g pkgs.', 32.0)
(33, 'Geitost', '15', '4', '500 g', 2.5)
(34, 'Sasquatch Ale', '16', '1', '24 - 12 oz bottles', 14.0)
(36, 'Inlagd Sill', '17', '8', '24 - 250 g jars', 19.0)
(37, 'Gravad lax', '17', '8', '12 - 500 g pkgs.', 26.0)
(38, 'Cte de Blaye', '18', '1', '12 - 75 cl bottles', 263.5)
(40, 'Boston Crab Meat', '19', '8', '24 - 4 oz tins', 18.4)
(41, "Jack's New England Clam Chowder", '19', '8', '12 - 12 oz cans', 9.65)
(42, 'Singaporean Hokkien Fried Mee', '20', '5', '32 - 1 kg pkgs.', 14.0)
(43, 'Ipoh Coffee', '20', '1', '16 - 500 g tins', 46.0)
(44, 'Gula Malacca', '20', '2', '20 - 2 kg bags', 19.45)
(45, 'Rgede sild', '21', '8', '1k pkg.', 9.5)
(46, 'Spegesild', '21', '8', '4 - 450 g glasses', 12.0)
(47, 'Zaanse koeken', '22', '3', '10 - 4 oz boxes', 9.5)
(48, 'Chocolade', '22', '3', '10 pkgs.', 12.75)
(49, 'Maxilaku', '23', '3', '24 - 50 g pkgs.', 20.0)
(50, 'Valkoinen suklaa', '23', '3', '12 - 100 g bars', 16.25)
(51, 'Manjimup Dried Apples', '24', '7', '50 - 300 g pkgs.', 53.0)
(52, 'Filo Mix', '24', '5', '16 - 2 kg boxes', 7.0)
(53, 'Perth Pasties', '24', '6', '48 pieces', 32.8)
(54, 'Tourtire', '25', '6', '16 pies', 7.45)
(55, 'Pt chinois', '25', '6', '24 boxes x 2 pies', 24.0)
(56, 'Gnocchi di nonna Alice', '26', '5', '24 - 250 g pkgs.', 38.0)
(57, 'Ravioli Angelo', '26', '5', '24 - 250 g pkgs.', 19.5)
(58, 'Escargots de Bourgogne', '27', '8', '24 pieces', 13.25)
(59, 'Raclette Courdavault', '28', '4', '5 kg pkg.', 55.0)
(60, 'Camembert Pierrot', '28', '4', '15 - 300 g rounds', 34.0)
(61, "Sirop d'rable", '29', '2', '24 - 500 ml bottles', 28.5)
(62, 'Tarte au sucre', '29', '3', '48 pies', 49.3)
(63, 'Vegie-spread', '7', '2', '15 - 625 g jars', 43.9)
(64, 'Wimmers gute Semmelkndel', '12', '5', '20 bags x 4 pieces', 33.25)
(65, 'Louisiana Fiery Hot Pepper Sauce', '2', '2', '32 - 8 oz bottles', 21.05)
(66, 'Louisiana Hot Spiced Okra', '2', '2', '24 - 8 oz jars', 17.0)
(67, 'Laughing Lumberjack Lager', '16', '1', '24 - 12 oz bottles', 14.0)
(68, 'Scottish Longbreads', '8', '3', '10 boxes x 8 pieces', 12.5)
(69, 'Gudbrandsdalsost', '15', '4', '10 kg pkg.', 36.0)
(70, 'Outback Lager', '7', '1', '24 - 355 ml bottles', 15.0)
(71, 'Fltemysost', '15', '4', '10 - 500 g pkgs.', 21.5)
(72, 'Mozzarella di Giovanni', '14', '4', '24 - 200 g pkgs.', 34.8)
(73, 'Rd Kaviar', '17', '8', '24 - 150 g jars', 15.0)
(74, 'Longlife Tofu', '4', '7', '5 kg pkg.', 10.0)
(75, 'Rhnbru Klosterbier', '12', '1', '24 - 0.5 l bottles', 7.75)
(77, 'Original Frankfurter grne Soe', '12', '2', '12 boxes', 13.0)

In [166]:
# sqlite  ALL   .
execute_sql_db(
    """
    SELECT ProductName 
    FROM Products
    WHERE ProductID = ALL (SELECT ProductID FROM OrderDetails WHERE Quantity = 10);
    """,
    "test2.db"
)

OperationalError: near "ALL": syntax error

In [167]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE City = "London" AND Country = "UK";
    """,
    "test2.db"
)

(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')

In [168]:
# sqlite  ANY   .
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE Price > ANY (SELECT Price FROM Products WHERE Price > 50);
    """,
    "test2.db"
)

OperationalError: near "SELECT": syntax error

In [169]:
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE Price BETWEEN 50 AND 60;
    """,
    "test2.db"
)

(51, 'Manjimup Dried Apples', '24', '7', '50 - 300 g pkgs.', 53.0)
(59, 'Raclette Courdavault', '28', '4', '5 kg pkg.', 55.0)

In [170]:
execute_sql_db(
    """
    SELECT SupplierName
    FROM Suppliers
    WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price < 20);
    """,
    "test2.db"
)

('Exotic Liquid',)
('New Orleans Cajun Delights',)
('Tokyo Traders',)
("Mayumi's",)
('Pavlova, Ltd.',)
('Specialty Biscuits, Ltd.',)
('PB Knckebrd AB',)
('Refrescos Americanas LTDA',)
('Heli Swaren GmbH & Co. KG',)
('Plutzer Lebensmittelgromrkte AG',)
('Formaggi Fortini s.r.l.',)
('Norske Meierier',)
('Bigfoot Breweries',)
('Svensk Sjfda AB',)
('Aux joyeux ecclsiastiques',)
('New England Seafood Cannery',)
('Leka Trading',)
('Lyngbysild',)
('Zaanse Snoepfabriek',)
('Karkki Oy',)
("G'day, Mate",)
('Ma Maison',)
('Pasta Buttini s.r.l.',)
('Escargots Nouveaux',)

In [171]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE City IN ('Paris','London');
    """,
    "test2.db"
)

(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(57, 'Paris spcialits', 'Juan', '265, boulevard Charonne', 'Paris', '75012', 'France')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(74, 'Spcialits du monde', 'Juan', '25, rue Lauriston', 'Paris', '75016', 'France')
(113, 'Aux joyeux ecclsiastiques', None, None, 'Paris', None, 'France')
(142, 'Aux joyeux ecclsiastiques', 'Guylne Nodier', '203, Rue des Francs-Bourgeois', 'Paris', '75004', 'France')

In [172]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE City LIKE 's%';
    """,
    "test2.db"
)

(7, 'Blondel pre et fils', 'Juan', '24, place Klber', 'Strasbourg', '67000', 'France')
(15, 'Comrcio Mineiro', 'Juan', 'Av. dos Lusadas, 23', 'So Paulo', '05432-043', 'Brazil')
(21, 'Familia Arquibaldo', 'Juan', 'Rua Ors, 92', 'So Paulo', '05442-030', 'Brazil')
(30, 'Godos Cocina Tpica', 'Juan', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(35, 'HILARIN-Abastos', 'Juan', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', '5022', 'Venezuela')
(45, "Let's Stop N Shop", 'Juan', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(59, 'Piccolo und mehr', 'Juan', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(62, 'Queen Cozinha', 'Juan', 'Alameda dos Canrios, 891', 'So Paulo', '05487-020', 'Brazil')
(70, 'Sant Gourmet', 'Juan', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(81, 'Tradio Hipermercados', 'Juan', 'Av. Ins de Castro, 414', 'So Paulo', '05634-030', 'Brazil')
(86, 'Die Wandernde Kuh', 'Juan', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(89, 'White Clover Markets', 'Juan', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(92, 'Cardinal', 'Juan', None, 'Stavanger', None, 'Norway')
(93, 'Cardinal', 'Juan', 'Skagen 21', 'Stavanger', '4006', 'Norway')
(94, 'Greasy Burger', 'Juan', 'Gateveien 15', 'Sandnes', '4306', 'Norway')
(105, 'Refrescos Americanas LTDA', None, None, 'So Paulo', None, 'Brazil')
(110, 'Norske Meierier', None, None, 'Sandvika', None, 'Norway')
(112, 'Svensk Sjfda AB', None, None, 'Stockholm', None, 'Sweden')
(115, 'Leka Trading', None, None, 'Singapore', None, 'Singapore')
(119, "G'day, Mate", None, None, 'Sydney', None, 'Australia')
(121, 'Pasta Buttini s.r.l.', None, None, 'Salerno', None, 'Italy')
(124, "Forts d'rables", None, None, 'Ste-Hyacinthe', None, 'Canada')
(134, 'Refrescos Americanas LTDA', 'Carlos Diaz', 'Av. das Americanas 12.890', 'So Paulo', '5442', 'Brazil')
(139, 'Norske Meierier', 'Beate Vileid', 'Hatlevegen 5', 'Sandvika', '1320', 'Norway')
(141, 'Svensk Sjfda AB', 'Michael Bjrn', 'Brovallavgen 231', 'Stockholm', 'S-123 45', 'Sweden')
(144, 'Leka Trading', 'Chandra Leka', '471 Serangoon Loop, Suite #402', 'Singapore', '512', 'Singapore')
(148, "G'day, Mate", 'Wendy Mackenzie', "170 Prince Edward Parade Hunter's Hill", 'Sydney', '2042', 'Australia')
(150, 'Pasta Buttini s.r.l.', 'Giovanni Giudici', 'Via dei Gelsomini, 153', 'Salerno', '84100', 'Italy')
(153, "Forts d'rables", 'Chantal Goulet', '148 rue Chasseur', 'Ste-Hyacinthe', 'J2S 7S8', 'Canada')

In [173]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE City NOT LIKE 's%';
    """,
    "test2.db"
)

(2, 'Ana Trujillo Emparedados y helados', 'Juan', 'Avda. de la Constitucin 2222', 'Mxico D.F.', '5021', 'Mexico')
(3, 'Antonio Moreno Taquera', 'Juan', 'Mataderos 2312', 'Mxico D.F.', '5023', 'Mexico')
(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbkp', 'Juan', 'Berguvsvgen 8', 'Lule', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Juan', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(8, 'Blido Comidas preparadas', 'Juan', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Juan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Juan', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Juan', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Juan', 'Sierras de Granada 9993', 'Mxico D.F.', '5022', 'Mexico')
(14, 'Chop-suey Chinese', 'Juan', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Juan', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Juan', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Juan', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Juan', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Juan', '184, chausse de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och f HB', 'Juan', 'kergatan 24', 'Brcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Juan', 'Berliner Platz 43', 'Mnchen', '80805', 'Germany')
(26, 'France restauration', 'Juan', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Juan', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Juan', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galera del gastrnomo', 'Juan', 'Rambla de Catalua, 23', 'Barcelona', '8022', 'Spain')
(31, 'Gourmet Lanchonetes', 'Juan', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Juan', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Juan', '5 Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Juan', 'Rua do Pao, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(36, 'Hungry Coyote Import Store', 'Juan', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Juan', '8 Johnstown Road', 'Cork', '', 'Ireland')
(38, 'Island Trading', 'Juan', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Kniglich Essen', 'Juan', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(40, "La corne d'abondance", 'Juan', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Juan', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Juan', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'Juan', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(44, 'Lehmanns Marktstand', 'Juan', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(46, 'LILA-Supermercado', 'Juan', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Juan', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Juan', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(49, 'Magazzini Alimentari Riuniti', 'Juan', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy')
(50, 'Maison Dewey', 'Juan', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(51, 'Mre Paillarde', 'Juan', '43 rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(52, 'Morgenstern Gesundkost', 'Juan', 'Heerstr. 22', 'Leipzig', '4179', 'Germany')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(54, 'Ocano Atlntico Ltda.', 'Juan', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina')
(55, 'Old World Delicatessen', 'Juan', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(56, 'Ottilies Kseladen', 'Juan', 'Mehrheimerstr. 369', 'Kln', '50739', 'Germany')
(57, 'Paris spcialits', 'Juan', '265, boulevard Charonne', 'Paris', '75012', 'France')
(58, 'Pericles Comidas clsicas', 'Juan', 'Calle Dr. Jorge Cash 321', 'Mxico D.F.', '5033', 'Mexico')
(60, 'Princesa Isabel Vinhoss', 'Juan', 'Estrada da sade n. 58', 'Lisboa', '1756', 'Portugal')
(61, 'Que Delcia', 'Juan', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(63, 'QUICK-Stop', 'Juan', 'Taucherstrae 10', 'Cunewalde', '1307', 'Germany')
(64, 'Rancho grande', 'Juan', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Juan', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Juan', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Juan', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Juan', 'Grenzacherweg 237', 'Genve', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Juan', 'Gran Va, 1', 'Madrid', '28001', 'Spain')
(71, 'Save-a-lot Markets', 'Juan', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(73, 'Simons bistro', 'Juan', 'Vinbltet 34', 'Kbenhavn', '1734', 'Denmark')
(74, 'Spcialits du monde', 'Juan', '25, rue Lauriston', 'Paris', '75016', 'France')
(75, 'Split Rail Beer & Ale', 'Juan', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprmes dlices', 'Juan', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Juan', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(78, 'The Cracker Box', 'Juan', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(79, 'Toms Spezialitten', 'Juan', 'Luisenstr. 48', 'Mnster', '44087', 'Germany')
(80, 'Tortuga Restaurante', 'Juan', 'Avda. Azteca 123', 'Mxico D.F.', '5033', 'Mexico')
(82, "Trail's Head Gourmet Provisioners", 'Juan', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(83, 'Vaffeljernet', 'Juan', 'Smagslget 45', 'rhus', '8200', 'Denmark')
(84, 'Victuailles en stock', 'Juan', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Juan', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(87, 'Wartian Herkku', 'Juan', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Juan', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(90, 'Wilman Kala', 'Juan', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Juan', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')
(95, 'Tasty Tee', 'Juan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')
(96, 'Exotic Liquid', None, None, 'Londona', None, 'UK')
(97, 'New Orleans Cajun Delights', None, None, 'New Orleans', None, 'USA')
(98, "Grandma Kelly's Homestead", None, None, 'Ann Arbor', None, 'USA')
(99, 'Tokyo Traders', None, None, 'Tokyo', None, 'Japan')
(100, "Cooperativa de Quesos 'Las Cabras'", None, None, 'Oviedo', None, 'Spain')
(101, "Mayumi's", None, None, 'Osaka', None, 'Japan')
(102, 'Pavlova, Ltd.', None, None, 'Melbourne', None, 'Australia')
(103, 'Specialty Biscuits, Ltd.', None, None, 'Manchester', None, 'UK')
(104, 'PB Knckebrd AB', None, None, 'Gteborg', None, 'Sweden')
(106, 'Heli Swaren GmbH & Co. KG', None, None, 'Berlin', None, 'Germany')
(107, 'Plutzer Lebensmittelgromrkte AG', None, None, 'Frankfurt', None, 'Germany')
(108, 'Nord-Ost-Fisch Handelsgesellschaft mbH', None, None, 'Cuxhaven', None, 'Germany')
(109, 'Formaggi Fortini s.r.l.', None, None, 'Ravenna', None, 'Italy')
(111, 'Bigfoot Breweries', None, None, 'Bend', None, 'USA')
(113, 'Aux joyeux ecclsiastiques', None, None, 'Paris', None, 'France')
(114, 'New England Seafood Cannery', None, None, 'Boston', None, 'USA')
(116, 'Lyngbysild', None, None, 'Lyngby', None, 'Denmark')
(117, 'Zaanse Snoepfabriek', None, None, 'Zaandam', None, 'Netherlands')
(118, 'Karkki Oy', None, None, 'Lappeenranta', None, 'Finland')
(120, 'Ma Maison', None, None, 'Montral', None, 'Canada')
(122, 'Escargots Nouveaux', None, None, 'Montceau', None, 'France')
(123, 'Gai pturage', None, None, 'Annecy', None, 'France')
(125, 'Exotic Liquid', 'Charlotte Cooper', '49 Gilbert St.', 'Londona', 'EC1 4SD', 'UK')
(126, 'New Orleans Cajun Delights', 'Shelley Burke', 'P.O. Box 78934', 'New Orleans', '70117', 'USA')
(127, "Grandma Kelly's Homestead", 'Regina Murphy', '707 Oxford Rd.', 'Ann Arbor', '48104', 'USA')
(128, 'Tokyo Traders', 'Yoshi Nagase', '9-8 Sekimai Musashino-shi', 'Tokyo', '100', 'Japan')
(129, "Cooperativa de Quesos 'Las Cabras'", 'Antonio del Valle Saavedra', 'Calle del Rosal 4', 'Oviedo', '33007', 'Spain')
(130, "Mayumi's", 'Mayumi Ohno', '92 Setsuko Chuo-ku', 'Osaka', '545', 'Japan')
(131, 'Pavlova, Ltd.', 'Ian Devling', '74 Rose St. Moonie Ponds', 'Melbourne', '3058', 'Australia')
(132, 'Specialty Biscuits, Ltd.', 'Peter Wilson', "29 King's Way", 'Manchester', 'M14 GSD', 'UK')
(133, 'PB Knckebrd AB', 'Lars Peterson', 'Kaloadagatan 13', 'Gteborg', 'S-345 67', 'Sweden')
(135, 'Heli Swaren GmbH & Co. KG', 'Petra Winkler', 'Tiergartenstrae 5', 'Berlin', '10785', 'Germany')
(136, 'Plutzer Lebensmittelgromrkte AG', 'Martin Bein', 'Bogenallee 51', 'Frankfurt', '60439', 'Germany')
(137, 'Nord-Ost-Fisch Handelsgesellschaft mbH', 'Sven Petersen', 'Frahmredder 112a', 'Cuxhaven', '27478', 'Germany')
(138, 'Formaggi Fortini s.r.l.', 'Elio Rossi', 'Viale Dante, 75', 'Ravenna', '48100', 'Italy')
(140, 'Bigfoot Breweries', 'Cheryl Saylor', '3400 - 8th Avenue Suite 210', 'Bend', '97101', 'USA')
(142, 'Aux joyeux ecclsiastiques', 'Guylne Nodier', '203, Rue des Francs-Bourgeois', 'Paris', '75004', 'France')
(143, 'New England Seafood Cannery', 'Robb Merchant', 'Order Processing Dept. 2100 Paul Revere Blvd.', 'Boston', '2134', 'USA')
(145, 'Lyngbysild', 'Niels Petersen', 'Lyngbysild Fiskebakken 10', 'Lyngby', '2800', 'Denmark')
(146, 'Zaanse Snoepfabriek', 'Dirk Luchte', 'Verkoop Rijnweg 22', 'Zaandam', '9999 ZZ', 'Netherlands')
(147, 'Karkki Oy', 'Anne Heikkonen', 'Valtakatu 12', 'Lappeenranta', '53120', 'Finland')
(149, 'Ma Maison', 'Jean-Guy Lauzon', '2960 Rue St. Laurent', 'Montral', 'H1J 1C3', 'Canada')
(151, 'Escargots Nouveaux', 'Marie Delamare', '22, rue H. Voiron', 'Montceau', '71300', 'France')
(152, 'Gai pturage', 'Eliane Noz', 'Bat. B 3, rue des Alpes', 'Annecy', '74000', 'France')
(154, 'Heli Swaren GmbH & Co. KG', None, None, 'Berlin', None, 'Germany')
(155, 'Plutzer Lebensmittelgromrkte AG', None, None, 'Frankfurt', None, 'Germany')
(156, 'Nord-Ost-Fisch Handelsgesellschaft mbH', None, None, 'Cuxhaven', None, 'Germany')

In [174]:
execute_sql_db(
    """
    SELECT * FROM Customers
    WHERE City = "London" OR Country = "UK";
    """,
    "test2.db"
)

(4, 'Around the Horn', 'Juan', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, "B's Beverages", 'Juan', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Juan', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Juan', '35 King George', 'London', 'WX3 6FW', 'UK')
(38, 'Island Trading', 'Juan', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(53, 'North/South', 'Juan', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(72, 'Seven Seas Imports', 'Juan', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(95, 'Tasty Tee', 'Juan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK')
(96, 'Exotic Liquid', None, None, 'Londona', None, 'UK')
(103, 'Specialty Biscuits, Ltd.', None, None, 'Manchester', None, 'UK')
(125, 'Exotic Liquid', 'Charlotte Cooper', '49 Gilbert St.', 'Londona', 'EC1 4SD', 'UK')
(132, 'Specialty Biscuits, Ltd.', 'Peter Wilson', "29 King's Way", 'Manchester', 'M14 GSD', 'UK')

In [176]:
# sqlite  SOME   .
execute_sql_db(
    """
    SELECT * FROM Products
    WHERE Price > SOME (SELECT Price FROM Products WHERE Price > 20);
    """,
    "test2.db"
)

OperationalError: near "SELECT": syntax error